<div class="row m-0">
    <div class="col-12">
        <div class="form-row">
            <div class="col-sm-2 form-group">
                <label>UPC</label>
                <input type="text" class="form-control" [(ngModel)]="UPC" (keypress)="numberOnly($event)">
            </div>
            <div class="col-sm-6 form-group">
                <label class="label-empty block"></label>
                <button class="btn btn-primary btn-sm" (click)="upcAdd()">Add</button>
                <button class="btn btn-primary btn-sm" (click)="clickFrameSidebar('1')">Frames</button>
                <button class="btn btn-primary btn-sm" (click)="clickFrameSidebar('3')">Contacts</button>
                <button class="btn btn-primary btn-sm" (click)="clickFrameSidebar('5')">Lenses</button>
                <button class="btn btn-primary btn-sm" (click)="clickFrameSidebar('6')">Other</button>
                <button class="btn btn-primary btn-sm">Remove</button>
                <!-- <button class="btn btn-primary btn-sm">Auto Create</button> -->
            </div>
            <!-- <div class="col-sm-2 form-group">
                <label>Order ID</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-2 form-group">
                <label class="label-empty block"></label>
                <button class="btn btn-primary btn-sm">Add</button>
            </div> -->
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="table-responsive">
        <p-table [value]="itemsGridData" class="ecl-table purchaseorder-ptable" [scrollable]="true" [style]="{width:'100%'}"
            scrollHeight="65vh">

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:35px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <!-- <p-checkbox binary="true"></p-checkbox> -->
                    </th>
                    <th>Item ID</th>
                    <th>Item Type</th>
                    <th>Item Description</th>
                    <th>UPC</th>
                    <th>Source</th>
                    <th>Quantity</th>
                    <th>Unit Cost</th>
                    <th>Total Cost</th>
                    <!-- <th>Original Order ID</th>
                    <th>Order ID</th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-itemsGridData let-i=rowIndex>
                <tr >
                    <td class="check-box">
                        <p-checkbox binary="true" (onChange)="checkBoxClick($event,i)"></p-checkbox>
                    </td>
                    <td>{{itemsGridData.id}}</td>
                    <td>{{itemsGridData.type_id}}</td>
                    <td>{{itemsGridData.type_desc}}</td>
                    <td>{{itemsGridData.upc_code}}</td>
                    <td>{{itemsGridData.sourceid}}</td>
                    <td><input type="text" class="form-control" [(ngModel)]="itemsGridData.quantity"></td>
                    <td>{{itemsGridData.wholesale_cost}}</td>
                    <td>{{itemsGridData.wholesale_cost}}</td>
                    <td></td>
                    <td></td>
                    

<!-- 
                    <td>{{location.id}}</td>
                    <td>{{location.module_type_id}}</td>
                    <td>{{location.type_desc}}</td>
                    <td>{{location.upc_code}}</td>
                    <td>{{location.sourceid}}</td>
                    <td></td>
                    <td></td>
                     <td></td>
                    <td></td> -->
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div>
   
</div>
<div *ngIf="openFrameSidebar">
    <p-sidebar [(visible)]="openFrameSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-po-items-add [moduleTypeId] = moduleTypevalue (ItemsEmit)="ItemsEmitevent($event)"></app-po-items-add>
    </p-sidebar>
</div>
