<form id=RecievingTransaction [formGroup]="RecievingInventoryForm" #formDir="ngForm" novalidate>
    <nav class="ecl-subnavbar">
        <div class="container-fluid">
            <div class="col-sm-12 col-md-4 float-left navbar-title">
                <h2>Receive Inventory</h2>
            </div>
            <ul class="nav justify-content-end col-sm-12 col-md-8 pr-0">
                <li class="nav-item">
                    <a class="nav-link" (click)="searchReceivingSidebarClick()">
                        <i class="ti-search"></i> Search
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="addClick()">
                        <i class="ti-plus"></i> Add
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">
                        <i class="ti-printer"></i> Print</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="ti-close"></i> Delete</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- table Grid -->
    <div class="row m-0">
        <div class="col-md-9">
            <div class="row form-row">
                <div class="col-sm-2 form-group">
                    <label>Location<span class="text-danger"  *ngIf="RecievingInventoryForm.controls['locationid'].hasError('required' )">
                            * </span></label>
                    <!-- <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" [style]="{'width':'100%'}"></p-dropdown> -->
                    <select class="form-control" formControlName="locationid">
                         <option [ngValue]="null">Select Location</option>
                        <option *ngFor="let location of locations" [ngValue]="location.Id">{{location.Name}}</option>
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Inventory Receive ID</label>
                    <input type="text" class="form-control" readonly formControlName="id">
                </div>
                <div class="col-sm-2 form-group">
                    <label>Employee</label>
                    <input type="text" class="form-control" formControlName="employee_name" readonly [disabled]=true>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Date<span class="text-danger"  *ngIf="RecievingInventoryForm.controls['receive_date'].hasError('required' )">
                            * </span></label>
                    <p-calendar formControlName="receive_date" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Invoice Date</label>
                    <p-calendar  readonlyInput="true" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>

                </div>
                <div class="col-sm-2 form-group">
                    <label>Invoice</label>
                    <input type="text" class="form-control" formControlName="invoice">
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-2 form-group">
                    <label>Supplier<span class="text-danger"  *ngIf="RecievingInventoryForm.controls['supplierid'].hasError('required' )">
                            * </span></label>
                    <!-- <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" [style]="{'width':'100%'}"></p-dropdown> -->
                    <select class="form-control" formControlName="supplierid">
                        <!-- <option [ngValue]="null">Select Supplier</option>  -->
                        <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.vendor_name}}</option>
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Terms</label>
                    <!-- <input type="text" class="form-control"> -->
                    <select class="form-control" formControlName="terms">
                        <option *ngFor="let paymentTerm of paymentTermsData" [ngValue]="paymentTerm.Id">{{paymentTerm.paymentterm}}</option>
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Return Date</label>
                    <p-calendar [(ngModel)]="dateValue" readonlyInput="true" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Type <span class="text-danger"  *ngIf="RecievingInventoryForm.controls['receive_type'].hasError('required' )">
                            * </span></label>
                    <!-- <input type="text" class="form-control" placeholder="Receive"> -->
                    <select class="form-control" formControlName="receive_type">
                        <option *ngFor="let typeData of typeOfTransactionData" [ngValue]="typeData.id">{{typeData.transactiontype}}</option>
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Notes</label>
                    <input type="text" class="form-control" formControlName="notes">
                </div>
                <div class="col-sm-2 form-group">
                    <label class="label-empty"></label>
                    <p-checkbox name="groupname" value="val1" label="Bill to come" [(ngModel)]="selectedValues"></p-checkbox>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-row">
                <div class="col-sm-6 form-group">
                    <label>Shipping Amount</label>
                    <input type="text" class="form-control" (change)="totaladd()" formControlName="shipping_amount">
                </div>
                <div class="col-sm-6 form-group">
                    <label>Tax Amount</label>
                    <input type="text" class="form-control" (change)="totaladd()" formControlName="tax_amount">
                </div>
                <div class="col-sm-6 form-group">
                    <label>Other Amount</label>
                    <input type="text" class="form-control" (change)="totaladd()" formControlName="other_amount">
                </div>
                <div class="col-sm-6 form-group">
                    <label>Total Amount</label>
                    <input type="text" class="form-control" readonly formControlName="total_amount">
                </div>
            </div>

        </div>
    </div>
    <div class="row m-0 mb-3">
        <div class="col-2">
            <label>UPC</label>
            <input type="text" class="form-control" (input)="inputofUPC($event)">
        </div>

        <div class="col-10">
            <label for="" class="label-empty"></label>
            <button class="btn btn-primary btn-sm" (click)="AddBtnClick()" [disabled]="addDisable">Add</button>
            <button class="btn btn-primary btn-sm" (click)="removeItemfromlist()">Remove</button>
            <button class="btn btn-primary btn-sm" (click)="framesReceivingSidebarClick()" [disabled]="inventoryDis">Frames</button>
            <button class="btn btn-primary btn-sm" (click)="contactlensReceivingSidebarClick()" [disabled]="inventoryDis">Contacts</button>
            <button class="btn btn-primary btn-sm" (click)="lensReceivingSidebarClick()" [disabled]="inventoryDis">Lenses</button>
            <button class="btn btn-primary btn-sm" (click)="otherReceivingSidebarClick()" [disabled]="inventoryDis">Others</button>
            <button class="btn btn-primary btn-sm" (click)="poReceivingSidebar = true" [disabled]="selectPoDis">Select PO</button>
            <button class="btn btn-space btn-fileupload btn-primary btn-sm">
                <span><i class="ti-folder pr-1"></i> Attach Invoice</span>
                <input #fileInput type='file' (click)="fileInput.value = null" (change)="uploadInvoice($event)" accept=".txt,.pdf">
            </button>
            <button class="btn btn-primary btn-sm" (click)="deletePdf()" [disabled]=btnDisable> <i class="ti-trash"></i></button>
            <button (click)="Viewpdf()" class="btn btn-primary btn-sm" [disabled]=btnDisable> <i class="ti-eye pr-1"></i>
                View Invoice On PDF</button>
            <button class="btn btn-primary btn-sm" (click)="searchShipmentSidebar = true">Shipment</button>

            <!-- <button class="btn btn-primary btn-sm" [disabled]="decBtn" (click)="DecrementClick()">Shipment--</button>
            <button class="btn btn-primary btn-sm" [disabled]="incBtn"  (click)="incrementClick()">Shipment++</button> -->
            <!-- <p-checkbox name="groupname" value="val1" label="Attach Invoice"  class="m-2"></p-checkbox> -->
            <!-- <div class="input-group-append">
                <button class="btn btn-space btn-fileupload">
                        <span><i class="ti-folder"></i></span>
                        <input #fileInput type='file' (click)="fileInput.value = null" (change)="uploadInvoice($event)"  accept=".txt,.pdf">
                    </button> 
                    <button class="btn btn-space" ><i class="ti-trash text-danger" (click)="deletePdf()"></i></button>
                <button class="btn btn-space" ><i class="ti-eye" (click)="Viewpdf()"></i></button>
                <p-fileUpload mode="basic" name="" url="./"></p-fileUpload>
            </div> -->

            <!-- <button (click)="incrementClick()" class="btn btn-primary btn-sm">View Invoice +</button>
            <button (click)="DecrementClick()" [disabled]="disablebutton" class="btn btn-primary btn-sm">View Invoice _</button> -->

        </div>
    </div>
</form>

    <div class="col-md-12">
        <div class="table-responsive">
            <p-table [value]="listOftheInventories" class="ecl-table purchaseorder-ptable" [scrollable]="true" [style]="{width:'2600px'}"
                scrollHeight="45vh" selectionMode="single" (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th class="check-box"> -->
                        <!-- <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox> -->
                        <!-- </th> -->
                        <th>Type</th>
                        <th>UPC</th>
                        <th>Item ID</th>
                        <th>Item Description</th>
                        <th>Order Source</th>
                        <th>PO</th>
                        <th>PO Date</th>
                        <th>Order ID</th>
                        <th>Pick Ticket</th>
                        <th>Shipment</th>
                        <th>On Hand</th>
                        <th>Ordered</th>
                        <th>Received</th>
                        <th>Retail</th>
                        <th>Cost</th>
                        <th>+/- Cost</th>
                        <th>Canceled</th>
                        <th>Cancel Reason</th>
                        <th>Missed</th>
                        <th>Missed Reason</th>
                        <th>Remaining</th>
                        <th>Back Ordered</th>
                        <th>Direct Shipped</th>
                        <th>Notes</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-listOftheInventories let-i="rowIndex">
                    <tr [pSelectableRow]="listOftheInventories">
                        <!-- <td class="check-box">
                            <p-checkbox></p-checkbox>
                        </td> -->
                        <td>
                            {{listOftheInventories.type}}
                        </td>
                        <td>
                            {{listOftheInventories.upc}}
                        </td>
                        <td>
                            {{listOftheInventories.itemid}}
                        </td>
                        <td>
                            {{listOftheInventories.itemdesc}}
                        </td>

                        <td>
                            {{listOftheInventories.ordersource}}
                        </td>

                        <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->

                        <td>
                            {{listOftheInventories?.po}}</td>
                        <td>
                            {{listOftheInventories?.po_date}}</td>
                        <td>
                            {{listOftheInventories.orderid}}</td>
                        <td>
                            {{listOftheInventories.pickticket}}</td>
                        <td>
                            {{listOftheInventories.shipment}}</td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="listOftheInventories.onhand">
                            <!-- {{listOftheInventories.onhand}} -->
                        </td>
                        <td>
                            {{listOftheInventories.ordered}}</td>
                        <td>
                            {{listOftheInventories.received}}
                            <!-- <input type="text" class="form-control"> -->
                        </td>
                        <td>
                            {{listOftheInventories.retail}}
                        </td>
                        <td>
                            {{listOftheInventories.cost}}
                            <!-- <input type="text" class="form-control"> -->
                        </td>
                        <td>
                            {{listOftheInventories.onhand * listOftheInventories.cost}}
                        </td>
                        <td>
                            {{listOftheInventories.canceled}}
                            <!-- <input type="text" class="form-control"> -->
                        </td>
                        <td> {{listOftheInventories.cancelreason}}
                            <!-- <input type="text" class="form-control"> -->
                        </td>
                        <td>{{listOftheInventories.missed}}
                            <!-- <input type="text" class="form-control"> -->
                        </td>
                        <td>{{listOftheInventories.missedreason}}
                            <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                        </td>
                        <td>{{listOftheInventories.remaining}}</td>
                        <td>
                            {{listOftheInventories.backordered}}
                            <!-- <input type="text" class="form-control"> -->
                        </td>
                        <td> {{listOftheInventories.directship}}
                            <!-- <input type="text" class="form-control"> -->
                        </td>
                        <td> {{listOftheInventories.notes}}
                            <!-- <input type="text" class="form-control"> -->
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="row m-0 m-3">
        <div class="col-12">
            <div class="pull-right">
                <button class="btn btn-primary">Details</button>
                <button class="btn btn-primary">Frames Barcode Labels</button>
                <button class="btn btn-primary" (click)="postoftheRecieveInventoryData()" [disabled]="!formDir.form.valid">Update On Hand</button>
                <!-- (click)="SaveInvoicePDF() postoftheRecieveInventoryData" -->
            </div>
        </div>
    </div>



<!-- Search Shipment -->
<p-sidebar [(visible)]="searchShipmentSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w50">
    <app-search-shipment (shipmentOutput)="shipmentEvent($event)"></app-search-shipment>
</p-sidebar>

<!-- Search Receiving -->
<div *ngIf="searchReceivingSidebar">
    <p-sidebar [(visible)]="searchReceivingSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w50">
        <app-search-receiving (recevingOutput)="recevingOutputEvent($event)"></app-search-receiving>
    </p-sidebar>
</div>

<!-- Frames Receiving -->
<div *ngIf="framesReceivingSidebar">
    <p-sidebar [(visible)]="framesReceivingSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-frames-receiving [dataFromRecievingComponent]="datafromRecieving" (frameoutput)="frameevent($event)"></app-frames-receiving>
    </p-sidebar>
</div>

<!-- Contactlens Receiving -->
<div *ngIf="contactlensReceivingSidebar">
    <p-sidebar [(visible)]="contactlensReceivingSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-contactlens-receiving [dataFromRecievingComponent]="datafromRecieving" (contactlensoutput)="contactlensevent($event)"></app-contactlens-receiving>
    </p-sidebar>
</div>

<!-- Lens Receiving -->
<div *ngIf="lensReceivingSidebar">
    <p-sidebar [(visible)]="lensReceivingSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-lens-receiving [dataFromRecievingComponent]="datafromRecieving" (lensReceivingoutput)="lensReceivingevent($event)"></app-lens-receiving>
    </p-sidebar>
</div>

<!-- Other Receiving -->
<div *ngIf="otherReceivingSidebar">
    <p-sidebar [(visible)]="otherReceivingSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-other-receiving [dataFromRecievingComponent]="datafromRecieving" (otheroutput)="otherevent($event)"></app-other-receiving>
    </p-sidebar>
</div>

<!-- PO Receiving -->
<p-sidebar [(visible)]="poReceivingSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
    <app-po-receiving (POSelectedData)="POSelectedDataEvent($event)" (poreceiveoutput)="poreceiveevent($event)"></app-po-receiving>
</p-sidebar>
<!-- <app-popup [(visible)]="showDialog" className="{{className}}">
    <h2 class="head_pop">{{head_pop}}</h2>
    <h3 class="message_pop" [innerHTML]="message_pop"></h3>
    <button (click)="btnAct(true)" type="button" class="btn foot_pop">{{button_pop}}</button>
</app-popup> -->
<dialog-box #alertpopup (btnAct)="btnAct($event)"> </dialog-box>
<!-- <button *ngIf="button_pop2 != ''" (click)="btnAct(false)" type="button" class="btn btn-danger foot_pop2">{{button_pop2}}</button> -->


<!-- <p-confirmDialog width="425" class="dialog-popup lens-selection" #selection>
    <p-footer>
        <button type="button" class="btn btn-primary" (click)="selection.accept()">Yes</button>
        <button type="button" class="btn btn-default" (click)="selection.reject()">No</button>
    </p-footer>
</p-confirmDialog> -->
<div *ngIf="pdfviewer">
    <p-sidebar [(visible)]="pdfviewer" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-ngc-comm-pdfviewer [pdfViewData]="PdfInputData"></app-ngc-comm-pdfviewer>
    </p-sidebar>
</div>