<div class="card">
  <div class="card-header">PDF Viewer</div>
  <div class="card-body">
    <div class="embed-responsive embed-responsive-4by3">
      <embed class="embed-responsive-item" [src]="srcPdfView" type='application/pdf'>
    </div>
  </div>
  <div class="card-footer text-right">
    <button type="button" class="btn btn-primary">Ok</button>
  </div>
</div>