<nav class="ecl-subnavbar fixed-top">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Quickbooks Data Synchronization</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8">
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-reload"></i> Synchronize
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12 mt-3 border-bottom">
    <div class="row form-row">
        <div class="form-group col-sm-2">
            <label>Location</label>
            <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="form-group col-sm-2">
            <label>Type</label>
            <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="form-group col-sm-2">
            <label>Form Date</label>
            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
        </div>
        <div class="form-group col-sm-2">
            <label>To Date</label>
            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
        </div>
        <div class="form-group col-sm-2">
            <label class="label-empty"> </label>
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</div>

<div class="col-md-12 mt-3">
    <div class="border m-auto">
        <p-table #dt [value]="orderTypes" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20]"
            [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true" [reorderableColumns]="true"
            dataKey="ItemId" selectionMode="multiple" scrollHeight="200px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-type>
                <tr>
                    <td>{{type.id}}</td>
                    <td>{{type.name}}</td>
                    <td>{{type.active}}</td>
                    <td>{{type.status}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="col-md-12 mt-3">
    <p-tabView class="ecl-tab-table">
        <p-tabPanel header="Process">
            <div class="border m-auto">
                <p-table #dt [value]="processTypes" [scrollable]="true" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10,20]" [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true"
                    [reorderableColumns]="true" dataKey="ItemId" selectionMode="multiple" scrollHeight="200px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Details</th>
                            <th>Status</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-type>
                        <tr>
                            <td>{{type.details}}</td>
                            <td>{{type.status}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Log Details">
            <div class="border m-auto">
                <p-table #dt [value]="processTypes" [scrollable]="true" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10,20]" [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true"
                    [reorderableColumns]="true" dataKey="ItemId" selectionMode="multiple" scrollHeight="200px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Details</th>
                            <th>Status</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-type>
                        <tr>
                            <td>{{type.details}}</td>
                            <td>{{type.status}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
    </p-tabView>
    <div class="mt-3"></div>
    <p-checkbox name="groupname" value="val1" label="Write Log to File"></p-checkbox>
</div>