<form>
    <div class="card order-other-discount">
        <div class="card-header">Print Receipt</div>
        <div class="card-body">
            <h4>Print</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="bg-light-grey p-3 mb-4">
                        <div class="row form-row">
                            <div class="form-group col-sm-6">
                                <p-radioButton name="orderfilter" value="Patient Receipt" label="Patient Receipt"></p-radioButton>
                            </div>
                            <div class="form-group col-sm-6">
                                <p-radioButton name="orderfilter" value="Insurance & Patient Receipt" label="Insurance & Patient Receipt"></p-radioButton>
                            </div>
                            <div class="form-group col-sm-6">
                                <p-radioButton name="orderfilter" value="Patient Ithaca 610 Receipt" label="Patient Ithaca 610 Receipt"></p-radioButton>
                            </div>
                            <div class="form-group col-sm-6">
                                <p-radioButton name="orderfilter" value="Pro-Rata Receipt" label="Pro-Rata Receipt"></p-radioButton>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="d-block">Receipt Copies</label>
                                <p-spinner size="10"></p-spinner>
                            </div>
                            <div class="form-group col-sm-6">
                                <p-checkbox name="groupname" value="Bundled Receipt" label="Bundled Receipt"></p-checkbox>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row form-row">
                        <div class="form-group col-sm-12">
                            <p-radioButton name="orderfilter" value="Lab Copy" label="Lab Copy"></p-radioButton>
                        </div>

                        <div class="form-group col-sm-12">
                            <p-checkbox name="groupname" value="Receipt & Lab copy" label="Receipt & Lab copy"></p-checkbox>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="d-block">Lab Copies</label>
                            <p-spinner size="10"></p-spinner>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Combine Order Receipt</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="check-box"></th>
                                    <th>Order</th>
                                    <th>Order Date</th>
                                    <th>Order Type</th>
                                    <th>Status</th>
                                    <th>Receipt Note</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td>
                                        <p-checkbox name="groupname"></p-checkbox>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <label for="notes">Receipt Note</label>
                    <textarea class="form-control" rows="1" id="notes"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Close</button>
            <button type="button" class="btn btn-primary float-right">Preview</button>
            <button type="button" class="btn btn-primary float-right">Print</button>
            <button type="button" class="btn btn-primary float-right">E-Mail</button>
            <button type="button" class="btn btn-primary float-right">Print Setup</button>
            <button type="button" class="btn btn-primary float-right">Layout</button>
        </div>
    </div>
</form>