<div class="col-md-12">
    <div class="form-row">
        <div class="col-md-4">
            <h5> Power of a lens in the 90 and 180 Degree meridians</h5>
            <table class="table ecl-table-exam mt-0">
                <thead>
                    <tr class="text-nowrap">
                        <th></th>
                        <th>Sphere</th>
                        <th>Cylinder</th>
                        <th>Axis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="light-pink">
                        <td>
                            <b>OD</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td>
                            <b>OS</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>

                    </tr>
                </tbody>
            </table>
            <table class="table ecl-table-exam">
                <thead>
                    <tr class="text-nowrap">
                        <th>Power</th>
                        <th>At Axis 90</th>
                        <th>At Axis 180</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="light-pink">
                        <td>
                            <b>OD</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td>
                            <b>OS</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h5> Induced prism in the 180 degree meridian</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>OCD</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label>PD</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <table class="table ecl-table-exam mt-0">
                <thead>
                    <tr class="text-nowrap">
                        <th></th>
                        <th>Prism D</th>
                        <th>Base</th>
                        <th>Exceeds ANSI Standard?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="light-pink">
                        <td>
                            <b>OD</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td>
                            <b>OS</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td> <b>Total</b> </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <h5> Slab-Off Calculator</h5>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Reading Deviation (mm)</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <table class="table ecl-table-exam mt-0">
                <thead>
                    <tr class="text-nowrap">
                        <th></th>
                        <th>Prism D</th>
                        <th>Base</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="light-pink">
                        <td>
                            <b>OD</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>

                    </tr>
                    <tr class="light-blue">
                        <td>
                            <b>OS</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td> <b>Total</b> </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>