<p-dialog class="dialog-popup patient-alert-popup" positionLeft="100%" [(visible)]="app.displayalertsPopUp" [modal]="true" [responsive]="true"
    [width]="800" [minWidth]="200" [minY]="50">
    <p-header>
        Patient Alert
    </p-header>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="table-responsive mb-3">
                <p-table class="ecl-table" id="patientAlertGrid" [scrollable]="true" [style]="{width:'100%'}" [paginator]="true" [rows]="16"
                    selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Type ID</th>
                            <th>Employee</th>
                            <th>Notes</th>
                            <th>Alert</th>
                            <th>Alert Level</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-framelist>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Date</label>
                    <p-calendar id="patientAlertDate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-sm-6">
                    <label>Employee</label>
                    <input id="patientAlertEmployee" type="text" name="" id="" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                    <label>Alert Expiry</label>
                    <p-dropdown id="patientAlertExpiry" [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-6">
                    <label>Expiry Date</label>
                    <p-calendar id="patientAlertExpiryDate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-5">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <p-checkbox id="patientAlertExam" name="groupname" value="val1" label="Exam"></p-checkbox>
                    </div>
                    <div class="form-group col-sm-6">
                        <p-checkbox id="patientAlertAccounting" name="groupname" value="val1" label="Accounting"></p-checkbox>
                    </div>
                    <div class="form-group col-sm-6">
                        <p-checkbox id="patientAlertFrontDesk" name="groupname" value="val1" label="Front Desk"></p-checkbox>
                    </div>
                    <div class="form-group col-sm-6">
                        <p-checkbox id="patientAlertOrder" name="groupname" value="val1" label="Order"></p-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div>
        <iframe style="width:100%; height:340px; overflow: hidden;"      
        [src]="patientAlertUrl"
        frameborder="0"
        allowfullscreen></iframe>
        <!-- <div class="loader-iframe"></div> -->
       </div>
    <!-- <p-footer>
        <button id="patientAlertClose" type="button" class="btn btn-secondary mr-1">Close</button>
        <button id="patientAlertSave" type="button" class="btn btn-primary">Save</button>
    </p-footer> -->
</p-dialog>