<div class="card">
    <div class="card-header">Activate Inventory Items</div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="table-responsive">
                    <p-table #dtreactive [columns]="cols" [(selection)]="framesactivateMultipleSelection"
                        [value]="gridlists" [scrollable]="true" [style]="{width:'1200px'}" scrollHeight="65vh">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <!-- <th class="check-box">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th> -->
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                            <tr>
                                <th *ngFor="let col of cols" [ngSwitch]="col.field">
                                    <input *ngSwitchCase="'id'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchId">
                                    <input *ngSwitchCase="'location'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchlocation">
                                    <input *ngSwitchCase="'Manufacturer'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchManufacturer">
                                    <input *ngSwitchCase="'Name'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchName">
                                    <input *ngSwitchCase="'name'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchValue">
                                    <input *ngSwitchCase="'color'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchColor">
                                    <input *ngSwitchCase="'color_code'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchColorCode">
                                    <input *ngSwitchCase="'qty_on_hand'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchQtyOnHand">
                                    <input *ngSwitchCase="'retail_price'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchretail">
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-list let-columns="columns">

                            <tr>
                                <td class="check-box">
                                    <p-tableCheckbox [value]="list"></p-tableCheckbox>
                                </td>
                                <td>{{list.id}}</td>
                                <td></td>
                                <td>{{list.manufacturer?.manufacturer_name}}</td>
                                <td></td>
                                <td>{{list.name}}</td>
                                <td>{{list.color}}</td>
                                <td>{{list.color_code}}</td>
                                <td>{{list.qty_on_hand}}</td>
                                <td>{{list.retail_price}}</td>
                                <!-- <td *ngFor="let col of columns">
                                    {{list[col.field]}}
                                </td> -->
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" (click)="Activate()">Activate</button>
            <button type="button" class="btn btn-default float-right" (click)="Cancel()">Cancel </button>
        </div>
    </div>
</div>