<form id="addcontacts" [formGroup]="contactlensForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Add/Modify Contact Lenses</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview" (onChange)="onTabsClick($event)">
                        <p-tabPanel header="Contact Lens Details">
                            <div class="row form-row">
                                <div class="form-group col-md-4">
                                    <label>Manufacturer
                                        <span class="text-danger"
                                            *ngIf="contactlensForm.controls['manufacturer_id'].hasError('required')">
                                            * </span>
                                    </label>
                                    <select class="form-control" formControlName="manufacturer_id">

                                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Lens Name
                                        <span class="text-danger"
                                            *ngIf="contactlensForm.controls['name'].hasError('required' )">
                                            *</span>
                                    </label>
                                    <input type="text" class="form-control" formControlName="name">
                                    <!--<label>Lens Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control">-->
                                </div>
                                <div class="form-group col-md-4">
                                    <label>UPC
                                        <span class="text-danger"
                                            *ngIf="contactlensForm.controls['upc_code'].hasError('required')">
                                            *</span>
                                    </label>
                                    <input type="text" class="form-control" formControlName="upc_code"
                                        [readonly]='upcdisable' (keypress)="keyPress($event)" maxlength=14>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-4">
                                    <label>Trial Lens Name
                                    </label>
                                    <select class="form-control" formControlName="trial_lens_id">
                                        <option *ngFor="let trail of traillens" [ngValue]="trail.Id">{{trail.Name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">

                                    <label>Replacement Schedule
                                    </label>
                                    <select class="form-control" formControlName="cl_replacement">
                                        <option *ngFor="let replace of replacements" [ngValue]="replace.Id">
                                            {{replace.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Color
                                        <!-- <span class="text-danger"
                                            *ngIf="contactlensForm.controls['colorId'].hasError('required')">
                                            * </span> -->
                                    </label>
                                    <select class="form-control" formControlName="colorid">
                                        <option *ngFor="let color of colors" [ngValue]="color.Id">{{color.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="row d-flex justify-content-between form-row">
                                        <div class="form-group col-md">
                                            <label>Units</label>
                                            <select name="Unit" formControlName="units" class="form-control">
                                                <option value="">Select Unit</option>
                                                <option value="Each">Each</option>
                                                <option value="Pair">Pair</option>
                                            </select>
                                        </div>
                                        <div class="form-check-inline text-nowrap">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input input"
                                                    (change)="SetParameters()" formControlName="hard_contact">Hard
                                                Contact
                                            </label>
                                        </div>
                                        <div class="form-check-inline text-nowrap">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input input"
                                                    formControlName="inventory">inventory
                                            </label>
                                        </div>
                                        <div class="form-group col-md">
                                            <label>Min Qty</label>
                                            <input type="text" class="form-control" formControlName="min_qty"
                                                name="minQty" (keypress)="numberOnly($event)">
                                        </div>
                                        <div class="form-group col-md">
                                            <label>Max Qty</label>
                                            <input type="text" class="form-control" formControlName="max_qty"
                                                name="maxQty" (keypress)="numberOnly($event)">

                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Supplier</label>
                                            <select class="form-control" formControlName="vendor_id">
                                                <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">
                                                    {{supplier.Name}}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Packaging</label>
                                    <select class="form-control" formControlName="cl_packaging">
                                        <option *ngFor="let package of packageData" [ngValue]="package.id">
                                            {{package.opt_val}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-9 ">
                                    <h5>Pricing Per Box</h5>
                                    <div class="row form-row">
                                        <div class="form-group col-md-4">
                                            <label>Retail Price</label>
                                            <input type="text" class="form-control" (input)="profitcalculate();"
                                                formControlName="retail_price">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Cost</label>
                                            <input type="text" class="form-control" (input)="profitcalculate();"
                                                formControlName="wholesale_cost">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Profit</label>
                                            <input type="text" formControlName="profit" [readonly]="true"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="form-group col-md-4">
                                            <label>6 Mths Price</label>
                                            <input type="text" class="form-control" (input)="profitcalculate();"
                                                formControlName="six_months_price">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Qty</label>
                                            <input type="text" class="form-control" (keypress)="numberOnly($event)"
                                                (input)="profitcalculate();" formControlName="six_months_qty">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Profit</label>
                                            <input type="text" formControlName="sixmonthsprofit" class="form-control"
                                                [readonly]="true">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="form-group col-md-4">
                                            <label>12 Mths Price</label>
                                            <input type="text" class="form-control" (input)="profitcalculate();"
                                                formControlName="twelve_months_price">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Qty</label>
                                            <input type="text" class="form-control" (keypress)="numberOnly($event)"
                                                (input)="profitcalculate();" formControlName="twelve_months_qty">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Profit</label>
                                            <input type="text" formControlName="twelvemonthsprofit" class="form-control"
                                                [readonly]="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-9">
                                    <h5>Insurance / Commission</h5>
                                    <div class="row form-row">
                                        <div class="form-group col-md-4">
                                            <label>Procedure Code</label>
                                        <p-autoComplete  [suggestions]="filteredProcedures"
                                        (completeMethod)="filterProcedures($event)" field="Name" dataKey="Id"
                                        formControlName="procedure_code"  (click)="selectPocedureData($event)"
                                        [minLength]="1" [dropdown]="true" >
                                        <ng-template let-procedure pTemplate="item">
                                            <div class="ui-helper-clearfix">
                                                <div>{{procedure.Name}}</div>
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                        
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Structure</label>
                                            <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                            <select class="form-control" formControlName="structure_id">
                                                <!-- <option [ngValue]="null">Select Location</option> -->
                                                <option *ngFor="let Structure of StructureDropData"
                                                    [ngValue]="Structure.Id">{{Structure.Name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Spiff</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Commission Type</label>
                                            <select class="form-control" formControlName="commission_type_id">
                                                <!-- <option [ngValue]="null">Select Location</option> -->
                                                <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">
                                                    {{Type.Name}}</option>
                                            </select>
                                            <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Amount</label>
                                            <input type="text" class="form-control" formControlName="amount">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Gross Percentage</label>
                                            <input type="text" class="form-control" formControlName="gross_percentage">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <label>Images</label>
                                    <div class="row form-row" formArrayName="imagesList">
                                        <div class="col-sm-3"
                                            *ngFor="let item of this.contactlensForm.get('imagesList')['controls'];  let i=index"
                                            [formGroupName]="i">
                                            <figure class="frame-add">
                                                <img class="img-preview" alt="" [src]="item['controls'].Image.value" />

                                                <button class="btn btn-primary btn-sm img-delete"
                                                    (click)="deleteImage(i)">
                                                    <i class="ti-trash"></i>
                                                </button>
                                            </figure>
                                        </div>
                                        <div class="col-sm-3">
                                            <figure class="frame-add">
                                                <div
                                                    class="d-flex align-items-center justify-content-center h-100 w-100">
                                                    <div class="btn-fileupload p-5">
                                                        <span><i class="ti-plus"></i></span>
                                                        <input type='file' (change)="add($event)" accept="image/*"
                                                            multiple>
                                                    </div>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="notes">Notes</label>
                                        <textarea class="form-control" rows="3" id="notes"
                                            formControlName="notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Locations">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="locationGridData" class="ecl-table" [scrollable]="true"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Purchased</th>
                                                    <th>Sold</th>
                                                    <th>On Hand</th>
                                                    <th>On Order</th>
                                                    <th>Committed</th>
                                                    <th>Reorder Point</th>
                                                    <th>Max Inventory</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-locationGridData>
                                                <tr>
                                                    <!-- <td>{{locationGridData.loc_id}}</td> -->
                                                    <td>{{this.utility.getArrayItem({data:locations,matchWith:'id',matchValue:locationGridData.loc_id,position:1,dataType:'int'})}}
                                                        </td>
                                                    <td>{{locationGridData.quantitypurchased}}</td>
                                                    <td>{{locationGridData.quantitysold}}</td>
                                                    <td>{{locationGridData.stock}}</td>
                                                    <td>{{locationGridData.on_order_qty}}</td>
                                                    <td>{{locationGridData.committed_qty}}</td>
                                                    <td>{{locationGridData.reorder_point}}</td>
                                                    <td>{{locationGridData.max_inventory_qty}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <!-- <p-tabPanel header="Transactions">
                            <div class="row form-row">
                                <div class="form-group col-md-1">
                                    <label class="label-empty"></label>
                                    <h5>Filter</h5>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Location</label>
                                    <select class="form-control" >
                                        <option [ngValue]="null">Select Location</option>
                                        <option *ngFor="let location of locations" [ngValue]="location.Id">{{location.Name}}</option>
                                    </select>


                                </div>
                                <div class="form-group col-md-4">
                                    <label class="label-empty"></label>
                                    <p-radioButton name="filter" value="Transactions" label="Transactions"></p-radioButton>
                                    <p-radioButton class=" ml-2" name="filter" value="Sales" label="Sales"></p-radioButton>
                                </div>

                            </div>
                            <div class="clearfix form-group"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="orderTypes" class="ecl-table" [scrollable]="true" [style]="{width:'1300px'}" scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Date Received</th>
                                                    <th>Transactions Type</th>
                                                    <th>Quantity</th>
                                                    <th>Supplier</th>
                                                    <th>Shipment Id</th>
                                                    <th>Invoice No #</th>
                                                    <th>PO</th>
                                                    <th>Employee</th>
                                                    <th>Notes</th>

                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-type>
                                                <tr>
                                                    <td>{{type.name}} </td>
                                                    <td>{{type.retailprice}}</td>
                                                    <td></td>
                                                    <td>{{type.committed}}</td>
                                                    <td>{{type.yearQty}}</td>
                                                    <td>{{type.yearPrice}}</td>
                                                    <td>{{type.halfQty}}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel> -->
                        <p-tabPanel header="Transactions">
                            <div class="row form-row">

                                <div class="form-group col-md-1  ">
                                    <label class="label-empty"></label>
                                    <label>Filter</label>
                                </div>
                                <div class="form-group col-md-5  ">
                                    <label>Location</label>
                                    <select class="form-control" formControlName="locationid"
                                        (change)="filterTransactionOnLocationBased()">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let location of locations" [ngValue]="location.id">
                                            {{location.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="label-empty"></label>
                                    <p-radioButton name="filter" value="Transactions" label="Transactions"
                                        (click)="trasactionApi()"></p-radioButton>
                                    <p-radioButton class=" ml-2" name="filter" value="Sales" label="Sales"
                                        (click)="salesApi()"></p-radioButton>
                                </div>
                            </div>
                            <div class="clearfix form-group"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="transacctionStockDetails" class="ecl-table ecl-ptable"
                                            [scrollable]="true" [style]="{width:'2000px'}" scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Date Received</th>
                                                    <th>Transactions Type</th>
                                                    <th>Quantity</th>
                                                    <th>Supplier</th>
                                                    <th>Shipment Id</th>
                                                    <th>Invoice No.</th>
                                                    <th>PO</th>
                                                    <th>Employee</th>
                                                    <th>Notes</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-transacctionStockDetails>
                                                <tr>
                                                    <!-- <td>{{transacctionStockDetails.loc_id}} </td> -->
                                                    <td>{{this.utility.getArrayItem({data:locations,matchWith:'id',matchValue:transacctionStockDetails.loc_id,position:1,dataType:'int'})}}
                                                        </td>
                                                    <td>{{transacctionStockDetails.inventory_receive.receive_date | date : 'yyyy-MM-dd'}}</td>
                                                    <td>{{transacctionStockDetails.trans_type}}</td>
                                                    <td>{{transacctionStockDetails.stock}}</td>
                                                    <!-- <td>{{transacctionStockDetails.supplierid}}</td> -->
                                                    <td>{{this.utility.getArrayItem({data:suppliers,matchWith:'Id',matchValue:transacctionStockDetails.supplierid,position:1,dataType:'string'})}}
                                                    <td>{{transacctionStockDetails.shipmentid}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.invoice}}</td>
                                                    <td>{{transacctionStockDetails.po_no}}</td>
                                                    <td>{{transacctionStockDetails.operator_id}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.notes}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Configurations" *ngIf="ConfigHide">
                            <div class="row form-row">
                                <!-- <div class="form-group col-md-5">
                                    <label>Location</label>
                                    <select class="form-control" formControlName="configlocationid">
                                        <option [ngValue]="null">Select Location</option>
                                        <option *ngFor="let location of locations" [ngValue]="location.Id">{{location.Name}}</option>
                                    </select>
                                </div> -->
                            </div>
                            <div class="clearfix form-group"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table #dtconfig [value]="contactlenslistconfigurationslist" class="ecl-table"
                                            [scrollable]="true" [rows]="11" [paginator]="true"
                                            (onRowSelect)="onRowConfigurationSelect($event)"
                                            (onRowUnselect)="onRowUnselectconfig($event)" [resizableColumns]="true"
                                            [reorderableColumns]="true" selectionMode="single" [responsive]="true"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="colgroup" let-columns>
                                                <colgroup>

                                                    <col *ngFor="let col of Contactlensconfigcolumns"
                                                        [ngClass]="{'hidden': !col.visible}" style="width:150px">
                                                </colgroup>
                                            </ng-template>
                                            <ng-template pTemplate="header" let-type>
                                                <tr>
                                                    <th *ngFor="let col of Contactlensconfigcolumns"
                                                        [ngClass]="{'hidden': !col.visible}" pReorderableColumn
                                                        pResizableColumn>
                                                        {{col.header}}

                                                    </th>
                                                </tr>

                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-expanded="expanded"
                                                let-columns="Contactlensconfigcolumns">
                                                <tr [pSelectableRow]="rowData">

                                                    <td *ngFor="let col of Contactlensconfigcolumns"
                                                        [ngClass]="{'hidden': !col.visible}">
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>

                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Parameters" *ngIf="parameterstab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="parameters" class="ecl-table" [scrollable]="true"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Measurement</th>
                                                    <th>Available</th>
                                                    <th>Required</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-parameter let-i="rowIndex">
                                                <tr>
                                                    <td>{{parameter.measurementname}} </td>
                                                    <td>
                                                        <!-- <p-checkbox  binary="true" [data]="true" ></p-checkbox> -->
                                                        <!-- <input type="checkbox" [checked]="parameter.Availablebool" /> -->
                                                        <p-checkbox [ngModel]="parameter.Availablebool" binary="true"
                                                            (onChange)="checkunchekevent(parameter,$event,i,'available')"
                                                            [ngModelOptions]="{standalone: true}"></p-checkbox>
                                                    </td>
                                                    <td>

                                                        <!-- <input type="checkbox" [checked]="parameter.requiredbool" /> -->
                                                        <p-checkbox [ngModel]="parameter.requiredbool" binary="true"
                                                            (onChange)="checkunchekevent(parameter,$event,i,'required')"
                                                            [ngModelOptions]="{standalone: true}"></p-checkbox>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="clearfix">
                <div>
                    <button type="button" class="btn btn-default float-right" (click)="cancleContactLense()">Cancel
                    </button>
                    <button type="button" class="btn btn-primary float-right" (click)="savecontactlens()"
                        [disabled]="!formDir.form.valid">Save</button>
                    <button type="button" class="btn btn-primary float-right" (click)="LODLink = true">LOD Link</button>

                    <!-- <button type="button" class="btn btn-primary float-right" (click)="getPackagingData()">sample</button> -->

                </div>

                <div *ngIf="buttonsHide">
                    <button type="button" class="btn btn-primary float-right" (click)="AddDetailsConfiguration()">Add
                        Config...</button>
                    <!-- <button type="button" class="btn btn-primary float-right">Details..</button> -->
                    <button type="button" class="btn btn-primary float-right"
                        (click)="UpdateDetailsConfiguration()">Update
                        Config...</button>
                    <!-- <button type="button" class="btn btn-primary float-right">Create PO...</button>
                    <button type="button" class="btn btn-primary float-right">Transfer</button> -->
                    <!-- <button type="button" class="btn btn-primary float-right">Delete</button>
                    <button type="button" class="btn btn-primary float-right">Delete All</button> -->
                </div>
                <div *ngIf="transactionsBtnHide">
                    <button class="btn btn-primary float-right"> Details</button>
                    <button class="btn btn-primary float-right" (click)="addContactLensTransaction()"> Add</button>
                </div>
            </div>
        </div>
    </div>
</form>


<p-sidebar [(visible)]="LODLink" position="right" [baseZIndex]="10000"
    class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
    <app-lens-on-demand></app-lens-on-demand>
</p-sidebar>

<!-- Add Configuration sidebar-->
<p-sidebar [(visible)]="AddConfiguration" position="right" [baseZIndex]="10000"
    class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
    <app-add-contactlens-configuration (cancleContConfig)="cancleContConfigEvent($event)"
        [configurationItem]="configurationItemId"></app-add-contactlens-configuration>
</p-sidebar>

<!-- Add Contact Lens Inventory Transaction -->
<div *ngIf="addContactLensInvTransaction">
    <p-sidebar [(visible)]="addContactLensInvTransaction" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-add-contactlens-inv-transaction (ContactLensTransOutput)="ContactLensTransevent($event)">
        </app-add-contactlens-inv-transaction>
    </p-sidebar>
</div>