.ptbar{ background-color:#f7f7f7; border: 1px solid #e9e9e9 }
.ptorder{ background-color:#f7f7f7; border-bottom: 1px solid #d1d1d1}
.ptorder .input-group-text{ padding:2px 4px!important; background-color:#4a4a4a!important; border-radius: 0px; color:#fff!important }
.ptorder .input-group{margin:0px 2px;}
.linkord{ background-color:#012677; border: 0px; color: #fff; font-size: 13px; padding: 2px 6px; border-radius: 3px; }
.linkpati{ background-color:#4b4b4b; border: 0px; color: #fff; font-size: 13px; padding: 2px 6px; border-radius: 3px; margin-left: 2px; }
.reservnucc{ color:#012677; font-size: 14px; font-weight: bold; margin-top: 5px;}
.condrelat{ background-color:#f7f7f7; border-bottom: 1px solid #d1d1d1; border-top: 1px solid #d1d1d1; margin: 5px 0px; padding: 4px;}
.condrelat h3 { color:#012677!important }
.condrelat .form-check{margin-right:5px;}
