<form [formGroup]="PurchaseSearchForm" #formDir="ngForm">
    <div class="card order-other-discount">
        <div class="card-header">Purchase Order Search </div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-4 col-md-2">
                    <label>PO ID </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>PO Date </label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Status</label>
                            <select name="labby" class="form-control"  formControlName="po_status">
                                    <!-- <option [value]="">Select Manufacturer</option> -->
                                    <option *ngFor="let status of labstatusdata" [value]="status.Id">{{status.Name}}</option>
                                </select>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Referance </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Supplier <span class="text-danger"  *ngIf="PurchaseSearchForm.controls['vendor_id'].hasError('required' )">
                            * </span></label>
                    <select name="labby" class="form-control"  formControlName="vendor_id">
                            <option *ngFor="let supplier of supplierlist" [value]="supplier.id">{{supplier.vendor_name}}</option>
                        </select>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Location </label>
                    <select name="labby" class="form-control"  formControlName="location_id">
                            <option *ngFor="let location of purchaselocations" [ngValue]="location.id">{{location.name}}</option>
                        </select>
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-sm-4 col-md-2">
                    <label>Patient No. </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Last Name </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>First Name </label>
                    <input type="text" class="form-control">
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                            <p-table [value]="POdata" class="ecl-table ecl-ptable" [scrollable]="true" [style]="{width:'1000px'}"
                            scrollHeight="55vh" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                            selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>PO Date</th>
                                    <th>PO ID</th>
                                    <th>Status</th>
                                    <th>Location</th>
                                    <th>Supplier Name</th>
                                    <th>Reference</th>
                                    <th>Notes</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-POdata>
                                <tr [pSelectableRow]="POdata" (dblclick)="DoubleClickPO(POdata)">
                                    <td>{{POdata.po_date}}</td>
                                    <td>{{POdata.po_type_id}}</td>
                                    <td>{{POdata.po_status}}</td>
                                    <td>{{POdata.locationid}}</td>
                                    <td>{{POdata.supplier_name}}</td>
                                    <td>{{POdata.reference}}</td>
                                    <td>{{POdata.notes}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default float-right" (click)="onClosePO()">Cancel</button>
            <button type="button" class="btn btn-primary float-right" (click)="searchPO()" [disabled]="!formDir.form.valid">Search</button>
            <button type="button" class="btn btn-primary float-right" (click)="Poselectbtn()">Select</button>
            <button type="button" class="btn btn-primary float-right">Add</button>
            <button type="button" class="btn btn-primary float-right">Clear</button>
        </div>
    </div>
</form>