<form>
    <div class="card order-other-discount">
        <div class="card-header">View Spectacle Lens Inventory </div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-4 col-md-2">
                    <label>Location </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Lens Style </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Material </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Color Code </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
               
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">

                        <p-table [value]="framelist" class="ecl-table" [scrollable]="true" [style]="{width:'2000px'}"
                            scrollHeight="200px" selectionMode="multiple"  [(selection)]="RecievingInventorySelection" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>Location</th>
                                    <th>Style</th>
                                    <th>Material</th>
                                    <th>Lens</th>
                                    <th>UPC</th>
                                    <th>Unit</th>
                                    <th>Retail Price</th>
                                    <th>Pricing</th>
                                    <th>Type</th>
                                    <th>Sphere</th>
                                    <th>Cylinder</th>
                                    <th>Base Curve</th>
                                    <th>Size</th>
                                    <th>Add</th>
                                    <th>ED</th>
                                    <th>Min Ht</th>
                                    <th>Color Code</th>
                                    <th>Notes</th>
                                    <th>Last Updated</th>
                                    <th>Lens Style Type</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-framelist>
                                <tr [pSelectableRow]="framelist">
                                    <td>{{framelist.id}}</td>
                                    <td>{{framelist.loc_id}}</td>
                                    <td>{{framelist.style}}</td>
                                    <td>{{framelist.material_id}}</td>
                                    <td>{{framelist.name}}</td>
                                    <td>{{framelist.upc_code}}</td>
                                    <td>{{framelist.units}}</td>
                                    <td>{{framelist.retail_price}}</td>
                                    <td>{{framelist.spectaclelens_pricing_id}}</td>
                                    <td>{{framelist.type_id}}</td>                                                                  
                                    <td>{{framelist.sphere}}</td>
                                    <td>{{framelist.cylinder}}</td>
                                    <td>{{framelist.bc}}</td>
                                    <td>{{framelist.ssize}}</td>
                                    <td>{{framelist.addd}}</td>
                                    <td>{{framelist.ed}}</td>
                                    <td>{{framelist.min_ht}}</td>
                                    <td>{{framelist.color_code}}</td>
                                    <td>{{framelist.notes}}</td>
                                    <td>{{framelist.modified_date}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right" (click)="closeLensReceive()">Close</button>
            <button type="button" class="btn btn-primary float-right">Sort</button>
            <button type="button" class="btn btn-primary float-right">Filter</button>
            <button type="button" class="btn btn-primary float-right" (click)="addProduct()">Select</button>
            <button type="button" class="btn btn-primary float-right">Duplicate Product</button>
            <button type="button" class="btn btn-primary float-right" >Add Product</button>
            <p-checkbox name="groupname" value="val1" label="Exclude quantity of less than one"></p-checkbox>
        </div>
    </div>
</form>