<!-- Patient Header -->
<!-- <patient-bar></patient-bar>-->
<!-- Patient Header End-->

<!-- Filter -->
<app-order-filter></app-order-filter>
<!-- Filter end -->

<div class="col-md-12 ecl-order-content">
    <div class="ecl-order-main">
        <a class="nav-order-frames order-btn-action" routerLink="/order/frame" routerLinkActive="active"></a>
        <a class="nav-order-spectacle order-btn-action" routerLink="/order/spectacle-lens" routerLinkActive="active"></a>
        <a class="nav-order-hardcontact order-btn-action" routerLink="/order/hard-contact-lens" routerLinkActive="active"></a>
        <a class="nav-order-softcontact order-btn-action" routerLink="/order/soft-contact-lens" routerLinkActive="active"></a>
        <a class="nav-order-other order-btn-action" routerLink="/order/other-details" routerLinkActive="active"></a>
        <picture>
            <img src="assets/images/order/order-main.png" alt="">
        </picture>
    </div>
</div>