<div class="card">
    <div class="card-header">Select Inventory</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-row m-0 pt-1">
                    <div class="form-group col">
                        <label for="">Location</label>
                        <select class="form-control" (change)="objChanged()" [(ngModel)]="searchLocation" id="searchlocation">
                            <option *ngFor="let loc of locations" [ngValue]="loc.id">{{loc.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="">Manufacturer</label>
                        <select name="manufacturer" id="manufacturerId" class="form-control"
                            (change)="objChanged()" [(ngModel)]="searchManufa">
                            <!-- <option [ngValue]="null">Select Manufacturer</option> -->
                            <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                        </select>
                        <!-- <label for="">Manufacturer</label>
                        <p-dropdown [options]="groupBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown> -->
                    </div>
                    <div class="form-group col">
                        <label for="">Collection</label>
                        <select name="framebrand" id="brandId" class="form-control" (change)="objChanged()"
                            [(ngModel)]="searchbrand">
                            <!-- <option [ngValue]="null">Select Brand</option> -->
                            <option *ngFor="let Brand of Brands" [ngValue]="Brand.Id">{{Brand.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="">Frame Name</label>
                        <input type="text" class="form-control" [(ngModel)]= "frameName" (input)="objChanged()" id="searchname">
                    </div>
                    <div class="form-group col">
                        <label for="">UPC</label>
                        <input class="form-control"  type="text" name="upc" (input)="objChanged()"
                            [(ngModel)]="searchUPC">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <p-table #dt [lazy]="true" class="ecl-table"  [value]="frameDataList" 
                    [first]="paginationPage" [totalRecords]="totalRecords"  [scrollable]="true"  [paginator]="true"
                    [rows]="100"   [responsive]="true" (onRowSelect)="onRowFrameSelect($event)"  (onRowUnselect)="onRowFrameUnselect($event)"
                    (onPage)="getFrameListByPaginator($event)" scrollHeight="45vh" selectionMode="multiple">

                        <ng-template pTemplate="colgroup" let-frameDataList>
                            <colgroup>
                                <col *ngFor="let col of Framecolumns" style="width:120px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of Framecolumns">
                                    {{col.header}}
                                </th>
                            </tr>

                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="Framecolumns">
                            <tr [pSelectableRow]="rowData" (dblclick)="DoubleClickOrderframes(rowData)">
                                <!-- <td *ngFor="let col of Framecolumns" [ngClass]="{'hidden': !col.visible}">
                                    {{rowData[col.field]}}
                                </td> -->
                                <td>{{rowData?.id}}</td>
                                <td>{{rowData.manufacturer?.manufacturer_name}}</td>
                                <td>
                                    {{this.utility.getArrayItem({data:Brands,matchWith:'Id',matchValue:rowData.brand_id,position:1,dataType:'int'})}}
                                </td>
                                <td>{{rowData?.name}}</td>
                                <td>
                                    {{this.utility.getArrayItem({data:colors,matchWith:'Id',matchValue:rowData.colorid,position:1,dataType:'int'})}}
                                </td>
                                <td>{{rowData?.color_code}}</td>
                                <td>{{rowData?.qty_on_hand}}</td>
                                <td>{{rowData?.upc_code}}</td>
                                <td>{{rowData?.del_status}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">

        <div class="clearfix">
            <button type="button" (click)="close()" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" (click)="refresh()" class="btn btn-primary float-right">Reset</button>
            <button type="button" class="btn btn-primary float-right">Sort</button>
            <button type="button" class="btn btn-primary float-right">Filter</button>
            <button type="button" class="btn btn-primary float-right" (click)="selectFrame()">Select</button>
            <button type="button" class="btn btn-primary float-right">Duplicate Product</button>
            <button type="button" class="btn btn-primary float-right">Add Product</button>
            <button type="button" class="btn btn-primary float-right">FRAMES Data</button>
            <p-checkbox [(ngModel)]="checked" binary="true" value="Exclude quantity of less than one"
                label="Exclude quantity of less than one" class="float-left pt-1"></p-checkbox>
        </div>
    </div>
</div>
<!-- <tr>
    <th>ID</th>
    <th>Location</th>
    <th>Manufacturer</th>
    <th>Collection</th>
    <th>Name</th>
    <th>Color</th>
    <th>Color#</th>
    <th>On Hand</th>
    <th>Default Retail</th>
    <th>Location Retail</th>
    <th>UPC</th>
    <th>Material</th>
</tr> 

<tr *ngFor="let invent of framedatalist">
    <td></td>
    <td></td>
    <td>{{invent.ManufacturerId}}</td>
    <td></td>
    <td>{{invent.Name}}</td>
    <td>{{invent.Color}}</td>
    <td>{{invent.ColorCode}}</td>
    <td></td>
    <td></td>
    <td>{{invent.UPC}}</td>
    <td>{{invent.itemId}}</td>
</tr> -->