<!-- table Grid -->
<div class="content-wrapper">
    <div class="row m-0">
        <div class="col-md-12">
            <h4>Other Settings</h4>
            <p-tree [value]="othersetting"> </p-tree>
        </div>
        <div class="col-md-12 mb-3">
            <h4>System Setting</h4>
            <div class="row form-row">
                <div class="form-group col-md-4">
                    <label>Country</label>
                    <input type="text" class="form-control" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label>Date format</label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-md-4">
                    <label>Phone format</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Commission formula</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>E-Prescribe Site </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>CCD Organization Code</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <div class="row m-0">
                        <div class="col-md-12 mb-1">
                            <p-checkbox name="Contacts" value="Contacts" label="Add inventory to all location"></p-checkbox>
                        </div>
                        <div class="col-md-12 mb-1">
                            <p-checkbox name="Other" value="Other" label="Tax before discount"></p-checkbox>
                        </div>
                        <div class="col-md-12 mb-1">
                            <p-checkbox name="Services" value="Services" label="Sychronize Patient Family Address and Home Phone"></p-checkbox>
                        </div>
                        <div class="col-md-12 mb-1">
                            <p-checkbox name="Services" value="Services" label="Declare Emergency to Allow Emergency Access"></p-checkbox>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                        <div class="row form-row">
                                <div class="col-md-6">
                                    <div class="col-md-12 mb-1">
                                        <label for="" class="d-block"> Default Patient Orders History View</label>
                                        <p-radioButton name="orderhistory" value="Summary" label="Summary"></p-radioButton>
                                        <p-radioButton class=" ml-2" name="orderhistory" value="Details" label="Details">
                                        </p-radioButton>
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <p-checkbox name="Services" value="Services" label="Auto calculate Near PD">
                                        </p-checkbox>
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <p-checkbox name="Services" value="Services" label="Filter Assigned Locations">
                                        </p-checkbox>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-inline">
                                        <div class="form-group mb-2">
                                            <label>EMR</label>
                                        </div>
                                        <div class="form-group mx-sm-3 mb-2">
                                            <p-inputSwitch></p-inputSwitch>
                                        </div>
                                    </div>                                        
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h4>Insurance</h4>
            <div class="row form-row">
                <div class="form-group col-md-6">
                    <label for="" class="d-block"> Default Claim Format</label>
                    <p-radioButton name="claimformat" value="ANSI 837" label="ANSI 837"></p-radioButton>
                    <p-radioButton class=" ml-2" name="claimformat" value="Print Image" label="Print Image"></p-radioButton>
                    <p-radioButton class=" ml-2" name="claimformat" value="Print" label="Print"></p-radioButton>
                </div>
                <div class="form-group col-md-6">
                    <label for="" class="d-block"> ANSI</label>
                    <p-radioButton class="" name="ansi" value="4010" label="4010"></p-radioButton>
                    <p-radioButton class=" ml-5" name="ansi" value="5010" label="5010"></p-radioButton>
                </div>
                <div class="form-group col-md-6">
                    <label>Claims save-to-folder</label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-space">
                                <i class="ti-more-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label>Commission Type</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="location"></p-dropdown>
                </div>

                <div class="form-group col-md-6">
                    <label>Medicare Services POS default</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-primary mt-3"> Update ICD10 </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Order Window Setting</h4>
            <div class="row form-row">
                <div class="form-group col-md-6">
                    <label for="" class="d-block"> Default Order Window</label>
                    <p-radioButton name="orderwindow" value="Quick" label="Quick"></p-radioButton>
                    <p-radioButton class=" ml-5" name="orderwindow" value="Regular" label="Regular"></p-radioButton>
                </div>
                <div class="form-group col-md-3">
                    <label for="" class="label-empty"></label>
                    <p-checkbox name="checkout" value="Chekout" label="Chekout"></p-checkbox>
                </div>
                <div class="form-group col-md-3">
                    <label for="" class="label-empty"></label>
                    <p-checkbox name="sales" value="After Sales" label="After Sales"></p-checkbox>
                </div>
                <div class="form-group col-md-6">
                    <p-checkbox class="d-block" name="Services" value="Services" label="Exchange Downgrade Allow Credit"></p-checkbox>
                    <p-checkbox class="d-block" name="Contacts" value="center" label="Meaningful Use Wizard"></p-checkbox>
                </div>
                <div class="form-group col-md-6">
                    <label>Lock exams after</label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <span class="pl-2 btn"> Days</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row form-row">
                <div class="col-md-3 form-group">
                    <h4>Order Statement</h4>
                    <label>Status Buffer </label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <span class="pl-2 btn"> Days</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <h4>Distribution</h4>
                    <div class="row form-row m-0">
                        <div class="mb-1 col-md-12">
                            <p-checkbox name="Contacts" value="center" label="Distribution Center"></p-checkbox>
                        </div>
                        <div class="mb-1 col-md-12">
                            <p-checkbox name="Other" value="locinvoice" label="Create location Invoice"></p-checkbox>
                        </div>
                        <div class="mb-1 col-md-12">
                            <p-checkbox name="Services" value="whlocation" label="Show WH Location"></p-checkbox>
                        </div>
                        <div class="mb-1 col-md-12">
                            <p-checkbox name="Services" value="wkcost" label="Show WH Cost"></p-checkbox>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <h4>Login Mode</h4>
                    <div class="row form-row m-0">
                        <div class="mb-1 col-md-12">
                            <p-radioButton name="orderwindow" value="Active Directory" label="Active Directory"></p-radioButton>
                        </div>
                        <div class="mb-1 col-md-12">
                            <p-radioButton name="orderwindow" value="Mixed" label="Mixed"></p-radioButton>
                        </div>
                        <div class="mb-1 col-md-12">
                            <label>Domain</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="row m-0">
                <div class="col-md-3">
                    <h4>Checkout Payment Setting</h4>
                    <label>Minimum Payment Percentage</label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <span class="pl-2 btn font-weight-bold"> % </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Global Portal</h4>
                    <label>Global Portal Activated</label>
                </div>
                <div class="col-md-2">
                    <h4>Reports Portal</h4>
                    <p-checkbox name="reports" value="Reports Portal" label="Reports Portal"></p-checkbox>
                </div>
                <div class="col-md-4 form-group">
                    <h4>Calendar Setting</h4>
                    <div class="row m-0">
                        <div class="col-md-6">
                            <label class="d-block">Calendar Caption</label>
                            <p-radioButton name="calcaption" value="Patient" label="Patient"></p-radioButton>
                            <p-radioButton name="calcaption" value="Service" label="Service" class="ml-5"></p-radioButton>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-sm"> Colors...</button>
                            <button class="btn btn-primary btn-sm"> Revert</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>