<div class="col-sm-12 tabing">
  <div class="ml-3 mr-3">
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item"> <a class="nav-link active" id="uploadera-tab" data-toggle="tab" href="#uploadera" role="tab" aria-controls="uploadera" aria-selected="true">Upload ERA</a> </li>
          <li class="nav-item"> <a class="nav-link" id="erapost-tab" data-toggle="tab" href="#erapost" role="tab" aria-controls="erapost" aria-selected="false">ERA Post Payment</a> </li>
          <li class="nav-item"> <a class="nav-link" id="eramanual-tab" data-toggle="tab" href="#eramanual" role="tab" aria-controls="eramanual" aria-selected="false">ERA Manual Payment </a> </li>
          <li class="nav-item"> <a class="nav-link" id="eraclaim-tab" data-toggle="tab" href="#eraclaim" role="tab" aria-controls="eraclaim" aria-selected="false">ERA Claim Rejections</a> </li>



        </ul>
      </div>
      <div class="col-sm-10">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="uploadera" role="tabpanel" aria-labelledby="uploadera-tab">
            <app-upload-era></app-upload-era>
          </div>
          <div class="tab-pane fade  " id="erapost" role="tabpanel" aria-labelledby="erapost-tab">
            <app-era-post-payment></app-era-post-payment>
          </div>
          <div class="tab-pane fade  " id="eramanual" role="tabpanel" aria-labelledby="eramanual-tab">
            <app-era-manual-payment></app-era-manual-payment>
          </div>
          <div class="tab-pane fade  " id="eraclaim" role="tabpanel" aria-labelledby="eraclaim-tab">
            <app-era-claim-rejection></app-era-claim-rejection>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
