<form>
    <div class="card">
        <div class="card-header">Search Patient</div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>Last Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>First Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Location</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Recall date to</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Phone</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Address</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Zip Code</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Patient #</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Birth date</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Provider</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Employer</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Type</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>SSN</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Email</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Reference</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Active</label>
                    <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-3">
                    <label>Exam</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Order</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Tray</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Claim</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <p-radioButton name="" value="History" label="History"></p-radioButton>
                </div>
                <div class="form-group col-sm-3">
                    <p-radioButton name="" value="Search" label="Search"></p-radioButton>
                </div>
                <div class="form-group col-sm-3">
                    <button type="button" class="btn btn-primary btn-sm">My Recall Patients</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" scrollHeight="200px" [style]="{'width':'2000px'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="check-box"></th>
                                    <th>Location</th>
                                    <th>Type</th>
                                    <th>Patient#</th>
                                    <th>Title</th>
                                    <th>Last Name</th>
                                    <th>Middle</th>
                                    <th>First Name</th>
                                    <th>Suffix</th>
                                    <th>Sex</th>
                                    <th>Home Phone</th>
                                    <th>Work Phone</th>
                                    <th>Cell Phone</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td>
                                        <p-checkbox name="groupname"></p-checkbox>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">Clear</button>
            <button type="button" class="btn btn-primary float-right">Add</button>
            <button type="button" class="btn btn-primary float-right">Select</button>
            <button type="button" class="btn btn-primary float-right">Search</button>
        </div>
    </div>
</form>