<div *ngIf="patientBarActivatorEvent()" class="ecl-patientinfo-bar">
    <div class="row no-gutters">
        <div class="ecl-patientinfo-left">
            <div class="patient-avtar pt-1">
                <!-- <img alt="" src="assets/images/patient-avtar.jpg" /> -->
                <img alt="" src="{{patientimage}}" />
                <a class="patient-notification" (click)="alertsClick()">{{noofAlerts}}</a>
            </div>
        </div>
        <div class="ecl-patientinfo-right">
            <div class="ecl-patientinfo-top">
                <ul>
                    <li class="patient-name">
                        {{patientName}} &#160;
                    </li>
                    <li>
                        {{patientSex}}
                    </li>
                    <li>
                        <span>
                            Patient Id:
                        </span> {{PatientId}}
                    </li>
                    <li>
                        <span>
                            Last Exam
                        </span>
                    </li>
                    <li>
                        <span>
                            Phone
                        </span> {{PhoneNo}}
                    </li>
                    <li>
                        <span>
                            Email
                        </span> {{Email}}
                    </li>
                    <li>
                        <a class="btn btn-primary btn-edit" (click)='gotoDemographics.emit("demographics")'>
                            <i aria-hidden="true" class="ti-pencil"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="ecl-patientinfo-bottom">
                <form [formGroup]="patientsForm">
                    <div class="col-md-12 pl-0 pr-0 pb-1 clearfix">
                        <div class="col-md-8 p-0 pull-left">
                            <!-- patient details -->
                            <div class="row form-row" *ngIf="!checkForOrdersDropdowns()">
                                <!-- OC-2783 <div class="form-group col-md-2">
                                    <label for="" class="label-empty mb-2">&#160; </label>
                                    <p-checkbox name="group1" value="Report Exempt" label="Report Exempt"
                                        formControlName="report" inputId="ny" binary="true"></p-checkbox>
                                </div> -->
                                <div class="form-group col-md-3">
                                    <label for="">Heard About</label>
                                    <select (change)="updatePatientStatus()" formControlName="heardAbout"
                                        class="form-control minimal">
                                        <option [value]="null">Select</option>
                                        <option *ngFor="let status of this.heardAboutUs" [value]="status.id">{{status.description
                                            | titlecase}}</option>


                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Patient Status</label>
                                    <select (change)="updatePatientStatus()" formControlName="patientStatus"
                                        class="form-control minimal">
                                        <option value="Active">Active</option>
                                        <option value="InActive">Inactive</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">Account Status</label>

                                    <div class="input-group">
                                        <!-- <input type="text" class="form-control"> -->
                                        <select (change)="updatePatientStatus()" formControlName="patientAccountStatus"
                                            class="form-control minimal">
                                            <option selected="">Select</option>
                                            <option *ngFor="let status of this.accountStatus " [value]="status.id">{{status.status_name
                                                | titlecase}}</option>
                                        </select>
                                        <!-- OC-2783 <div class="input-group-append pl-3 pt-2">
                                            <p-checkbox name="group2" value="VIP" label="VIP" formControlName="vip"
                                                inputId="ny" binary="true"></p-checkbox>
                                        </div>
                                        <div class="input-group-append pl-3 pt-2">
                                            <p-checkbox name="group3" value="HS" label="HS" formControlName="hs"
                                                inputId="ny" binary="true"></p-checkbox>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- patient details-->
                            <!-- Order patient details -->
                            <div class="row form-row" *ngIf="checkForOrdersDropdowns()">
                                <div class="form-group col">
                                    <label for="">Insurance </label>
                                    <select class="form-control" id="selectedinsuranceID"
                                        (change)="Insuraneselect($event)">
                                        <option [value]="null">Insurance</option>
                                        <option *ngFor="let insurance of insuranceDropDown" [value]="insurance.Id">
                                            {{insurance.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label for="">Plan</label>
                                    <input type="text" class="form-control" formControlName="insuranceplan"
                                        readonly="true">
                                </div>
                                <div class="form-group col">
                                    <label for="">Auth</label>
                                    <select class="form-control minimal">
                                        <option>

                                        </option>

                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label for="">Order</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="orderId" (input)="orderEnterValue($event)" (keypress)="orderEnterEvent($event);this.utility.numberOnly($event)">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-primay">
                                                <i class="ti-more-alt"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-primay">
                                                <i class="ti-reload"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label for="">Marketing</label>
                                    <div>
                                        <select class="form-control ">
                                            <option>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- END-->
                        </div>
                        <div class="col-md-4 p-0 pull-right">
                            <div class="row form-row pull-right">
                                <div class="form-group col-md-12">
                                    <div class="input-group">
                                        <!-- OC-2783 <div class="input-group-append mt-4">
                                            <button class="btn bg-transparent text-white">
                                                <i class="ti-bar-chart font-lg"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-append mt-4 mr-2">
                                            <button class="btn bg-transparent text-white">
                                                <i class="ti-bar-chart font-lg"></i>
                                            </button>
                                        </div> -->
                                        <div class="input-group-append pt-account-balance mt-4 text-white ">
                                            <label for="" class="text-white pt-2 pr-1">Patient Account Balance :
                                            </label>
                                            <span class="pt-amount pt-1"> $ {{patientdue}}</span>
                                        </div>
                                        <div class="input-group-append mt-4">
                                            <button class="btn bg-transparent text-white">
                                                <i class="ti-printer font-lg"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-append mt-4">
                                            <button class="btn bg-transparent text-white">
                                                <i class="ti-email font-lg"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>