<form [formGroup]="batchFormGroup" (ngSubmit)="searchBatch()">
    <div class="card">
        <div class="card-header"> Physical Count Search</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row form-row">
                        <div class="form-group col-sm-4">
                            <label for="id">ID</label>
                            <input type="text" formControlName="batchID" class="form-control">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="Frame">Date</label>
                            <div>
                                <p-calendar formControlName="batchDate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Status</label>
                            <select class="form-control" formControlName="batchStatus">
                              <option value="0">Open</option>
                              <option value="1">Close</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="Location">Location</label>
                            <select class="form-control" formControlName="location" id="Location" (change)="emitParent($event,'location')">
                                  <option *ngFor="let loc of Locations" [value]="loc.Id">{{loc.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="itemtype">Item Type</label>
                            <select formControlName="item" class="form-control">
                                <option value="">Select Item </option>
                                <option  *ngFor="let item of items" [value]="item.id">{{item.module_type_name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-8" hidden="true">
                            <label>Notes</label>
                            <textarea formControlName="batchNotes" name="" id="" cols="30" rows="1" class="form-control hide"></textarea>
                        </div>
                        <!-- <div class="form-group col-sm-4">
                            <label for="Manufacturer"> Manufacturer</label>
                            <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'88%'}" [dropdown]="true" [(ngModel)]="manufacturer_selected"  [ngModelOptions]="{standalone: true}" (onSelect)="emitParent($event,'changeBrand')" forceSelection="true"  field="Name" [suggestions]="filteredManufacturers" (completeMethod)="emitParent($event,'manufacturer')"
                              [minLength]="1" placeholder="Hint: type 'v' or 'f'">
                              <ng-template let-manufacturer pTemplate="item">
                                  <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                      <div style="font-size:12px;padding:5px;">{{manufacturer.Name}}</div>
                                  </div>
                              </ng-template>
                            </p-autoComplete>
                            <input type="hidden" formControlName="manufacturer" value="">
                        </div> -->

                        <!-- <div class="form-group col-sm-4">
                            <label for="collection">Collection</label>
                            <select formControlName="brand" class="form-control">
                              <option value="0">Select Brand</option>
                              <option  *ngFor="let item of brands" [value]="item.id">{{item.brand_list.frame_source}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-8">
                            <label>Notes</label>
                            <textarea formControlName="batchNotes" name="" id="" cols="30" rows="1" class="form-control"></textarea>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table #dt
                             class="ecl-table ecl-ptable"
                             [columns]="cols"
                             [value]="batchesList"
                             [scrollable]="true"
                             [responsive]="true"
                             selectionMode="single"
                             [(selection)]="selectedBatches"
                             [reorderableColumns]="true"
                             dataKey="id">
                            <ng-template pTemplate="header" let-columns>
                              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                              </th>
                            </ng-template>
                            <ng-template pTemplate="body" let-batchesList let-columns="columns">
                                <tr [pSelectableRow]="batchesList">
                                    <td style="width:50px">{{batchesList.id}}</td>
                                    <td>{{batchesList.receive_date}}</td>
                                    <td>{{this.utilityService.getArrayItem({data:Locations,matchWith:'Id',matchValue:batchesList.locationid,position:1,dataType:'string'})}}</td>
                                    <td [innerHTML]="(batchesList.receive_status == 0) ? '<span class=\'badge badge-success\'>Open</span>' : '<span class=\'badge badge-danger\'>Close</span>'"></td>
                                    <td>{{this.utilityService.getArrayItem({data:items,matchWith:'id',matchValue:batchesList.module_type_id,position:1,dataType:'string'})}}</td>
                                    <td>{{batchesList.notes}}</td>
                                    <td>{{batchesList.employee_name}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default float-right" (click)="onClickClose()">Cancel </button>
            <button type="button" class="btn btn-default float-right">Clear </button>
            <button type="button" class="btn btn-primary float-right">Add</button>
            <button type="button" class="btn btn-primary float-right" (click)="loadBatch()">Select</button>
            <button type="submit" class="btn btn-primary float-right">Search</button>

        </div>
    </div>
</form>
