<form id=framesFilter [formGroup]="FarmesAdvanceFilterForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Advanced Filter</div>
        <div class="card-body">
            <div class="row">
                <!-- <div class="form-group col-md-6">
                    <label>Location </label>

                    <select name="location" id="locationId" class="form-control" formControlName="location">

                        <option *ngFor="let loc of locations" [ngValue]="loc.Id">{{loc.Name}}</option>
                    </select>
                </div> -->
                <div class="form-group col-md-6">
                    <label>ID</label>
                    <input type="text" class="form-control" formControlName="ID">
                </div>
                <div class="form-group col-md-6 ">
                    <label>UPC</label>
                    <input type="text" class="form-control" formControlName="UPC">
                </div>
                <!-- <div class="form-group col-md-6">
                    <label>User SKU</label>
                    <input type="text" class="form-control" readonly='true'>
                </div> -->
                <!-- <div class="form-group col-md-6 ">
                    <label>Gender</label>
                    <select class="form-control">
                        To Do the  values -->
                        <!-- <option selected>Select</option> -->
                        <!-- <option>Male</option>
                        <option>Female</option> -->
                    <!-- </select> -->
                <!-- </div>  -->
                <div class="form-group col-md-6">
                    <label>Manufacturer</label>
                    <select name="manufacturer" id="manufacturerId" class="form-control"
                        formControlName="ManufacturerId">
                        <!-- <option [ngValue]="null">Select Manufacturer</option> -->
                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6 ">
                    <label>Brand</label>
                    <select name="framebrand" id="brandId" class="form-control" formControlName="Brand">
                        <option *ngFor="let Brand of Brands" [ngValue]="Brand.Id">{{Brand.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="Name">
                </div>
                <div class="form-group col-md-6 ">
                    <label>Color</label>
                    <select name="framecolor" id="colorId" class="form-control" formControlName="color">
                        <option [ngValue]="null">Select Color</option>
                        <option *ngFor="let color of colors" [ngValue]="color.Id">{{color.Name}}</option>
                    </select>
                </div>
                <!-- <div class="form-group col-md-6">
                    <label>Color Code</label>
                    <input type="text" class="form-control" formControlName="ColorCode">
                </div> -->
                <!-- <div class="form-group col-md-6 ">
                    <label>RIM Type</label>
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                    </select>
                </div> -->
                <!-- <div class="form-group col-md-6">
                    <label>Material</label>
                    <select class="form-control" formControlName="materialid">
                        <option *ngFor="let material of materials" [value]="material.Id">{{material.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6 ">
                    <label>Shape</label>
                    <select name="frameshape" id="frameId" class="form-control" formControlName="framesshape">
                        <option *ngFor="let fm of framesshapes" [ngValue]="fm.Id">{{fm.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Frame Type</label>
                    <select name="frametype" id="frametypeId" class="form-control" formControlName="framestype">
                        <option *ngFor="let frm of framestypes" [ngValue]="frm.Id">{{frm.Name}}</option>
                    </select>
                </div> -->

                <!-- <div class="form-group col-md-6 ">
                    <label>Default Retail</label>
                    <input type="text" class="form-control" readonly='true'>
                </div>

                <div class="form-group col-md-6">
                    <label>Location Retail</label>
                    <input type="text" class="form-control" readonly='true'>
                </div>
                <div class="col-md-12">
                    <div class="row d-flex justify-content-between">
                        <div class="form-group col-md">
                            <label>Eye</label>
                            <input type="text" class="form-control" readonly='true'>
                        </div>
                        <div class="form-group col-md">
                            <label>A</label>
                            <input type="text" class="form-control" readonly='true'>
                        </div>
                        <div class="form-group col-md">
                            <label>B</label>
                            <input type="text" class="form-control" readonly='true'>
                        </div>
                        <div class="form-group col-md">
                            <label>Bridge</label>
                            <input type="text" class="form-control" readonly='true'>
                        </div>
                        <div class="form-group col-md">
                            <label>Ed</label>
                            <input type="text" class="form-control" readonly='true'>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="row">
                        <!-- <div class="form-group col-md-4">
                            <label>Temple</label>
                            <input type="text" class="form-control" readonly='true'>
                        </div> -->
                        <div class="form-group col-md-4">
                            <label>Status</label>
                            <select class="form-control" formControlName="del_status">
                                <option [ngValue]="null">Select Status</option>
                                <option *ngFor="let stat of activestatus" [ngValue]="stat.Id">{{stat.Name}}</option>
                            </select>
                        </div>
                        <!-- <div class="form-group col-md-4">
                            <label>Source</label>
                            <select class="form-control">
                                <option selected>Select</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                            </select>
                        </div> -->
                        <!-- <div class="form-group col-md-4">
                            <label>Frame Usage</label>
                            <select class="form-control">
                                <option selected>Select</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>On Hand</label>
                            <input type="text" class="form-control" readonly='true'>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Lens Color</label>
                            <select class="form-control">
                                <option selected>Select</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                            </select>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">


            <form class="form-inline float-right">




                <div class="form-group mx-sm-3 mb-2">


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Contains
                        </label>
                    </div>


                </div>
                <button type="button" class="btn btn-default" (click)="Clearall()">Clear All</button>
                <button type="button" class="btn btn-primary" (click)="advancedFilterGet()">Ok</button>
            </form>


        </div>
    </div>
</form>