<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Marketing Setup</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8">
            <li class="nav-item">
                <a class="nav-link" (click)="addMarketingDetails = true">
                    <i class="ti-plus"></i> Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="icon-edit"></i> Modify
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="deleteRows()">
                    <i class="ti-close"></i> Delete </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <p-checkbox name="groupname" value="val1"></p-checkbox> Hide Expired
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- table Grid -->
<div class="col-md-12 mt-3">
    <div class="border m-auto">
        <p-table [value]="gridlists" [columns]="cols" [scrollable]="true" [paginator]="true" [rows]="15"
            [rowsPerPageOptions]="[15,30,45,60,75,90,100]" [resizableColumns]="true" [reorderableColumns]="true"
            [responsive]="true" selectionMode="multiple">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-list let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{list[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>


<!-- Add others -->
<p-sidebar [(visible)]="addMarketingDetails" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w40">
    <app-add-marketing-details></app-add-marketing-details>
</p-sidebar>

<!-- <dialog-box #deleteRow> </dialog-box> -->