<form>
	<div class="card order-other-discount">
		<div class="card-header">Search Claims</div>
		<div class="card-body">
			<div class="row form-row">
				<div class="form-group col-sm-3">
					<label>Last Name </label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>First Name </label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Location</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Status</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Submitted</label>
					<p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
				</div>
				<div class="form-group col-sm-3">
					<label>Created</label>
					<p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
				</div>
				<div class="form-group col-sm-3">
					<label>Insurance Type </label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Billing As</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Insurance </label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Claim # </label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Patient # </label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Order #</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Balance Range </label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-3">
					<label>Insurance ID</label>
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
		<div class="card-footer">
			<button type="button" class="btn btn-secondary float-right">Cancel</button>
			<button type="button" class="btn btn-primary float-right">Clear</button>
			<button type="button" class="btn btn-primary float-right">Search</button>
		</div>
	</div>
</form>