<nav class="navbar horizontal-menu navbar-expand-sm navbar-fixed-top ecl-hover-menu">
    <div class="navbar-brand">
        <a class="icon-size">
            <i class="{{speechMic}}" (mouseenter)="listnerOn()" (mouseleave)="mouseLeave()"></i>
        </a>
    </div>
    <ul class="navbar-nav">
        <li>
            <a class="logo" (click)="reload_Pages.emit('/dashboard')">
                <img src="assets/images/myCare-MVE.svg" alt="mycare" />
            </a>
        </li>
    </ul>
    <div class="header-timestamp" *ngIf="showtimeZone">
        <h6>{{today | date : 'medium' : LoggedTimeZone : 'en-US'  }}</h6>
    </div>
    <div class="header-timestamp" *ngIf="normaltime">
        <h6>{{today | date : 'medium'  }}</h6>
    </div>
    <!-- Links -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item user-profile">
                <a class="nav-link" routerLink="/calendar" routerLinkActive="active">CALENDAR</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" routerLinkActive="active">
                    PATIENT
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="authPages('demographics')" routerLinkActive="active"
                            >Demographics</a> </li>
                    <li><a class="dropdown-item" (click)="authPages('patFamily')" routerLinkActive="active"
                            >Family</a> </li>
                    <li><a class="dropdown-item" (click)="authPages('patientinsurance')" routerLinkActive="active">Insurance</a>
                    </li>
                    <li><a class="dropdown-item" (click)="authPages('patientdocuments')" routerLinkActive="active">Documents</a>
                    </li>
                    <li><a class="dropdown-item" routerLink="/patient/patientorderhistory"
                            routerLinkActive="active">Order
                            History</a> </li>
                    <li><a class="dropdown-item" routerLink="/patient/appointments"
                            routerLinkActive="active">Appointment
                            History</a> </li>
                    <!-- <li><a class="dropdown-item" routerLink="/patient/at-glance" routerLinkActive="active">Patient At Glance</a> </li> -->
                </ul>
            </li>
            <!-- Dropdown PATIENT HISTORY-->
            <li class="nav-item dropdown" class='{{disabledList}}'>
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLinkActive="active">
                    PATIENT HISTORY
                </a>
                <ul class="dropdown-menu" *ngIf="emrEnabled">
                    <li><a class="dropdown-item" (click)="authPages('patocular')"
                            routerLinkActive="active">Ocular</a>
                    </li>
                    <li><a class="dropdown-item" (click)="authPages('patgeneral-health')"
                            routerLinkActive="active">General
                            Health</a> </li>
                    <li><a class="dropdown-item"  (click)="authPages('patmedication')"
                            routerLinkActive="active">Medication</a>
                    </li>
                    <li><a class="dropdown-item" (click)="authPages('patallergies')"
                            routerLinkActive="active">Allergies</a>
                    </li>
                    <li><a class="dropdown-item" (click)="authPages('sx_procedures')"
                            routerLinkActive="active">Surgery/Procedures</a>
                    </li>
                    <li><a class="dropdown-item" (click)="authPages('immunizations')"
                            routerLinkActive="active">Immunizations</a>
                    </li>
                    <li><a class="dropdown-item" (click)="authPages('cc-history')" routerLinkActive="active">CC
                            &#38; History</a> </li>
                    <li><a class="dropdown-item" (click)="authPages('vital-signs')"
                            routerLinkActive="active">Vital
                            Signs</a> </li>
                    <li><a class="dropdown-item" (click)="authPages('patOrder-sets')"
                            routerLinkActive="active">Order
                            Sets</a> </li>
                    <li><a class="dropdown-item" (click)="authPages('patProblem-list')"
                            routerLinkActive="active">Problem
                            List</a> </li>
                    <li><a class="dropdown-item" (click)="authPages('patientLab')" routerLinkActive="active">LAB</a>
                    </li>
                    <li><a class="dropdown-item" (click)="authPages('patientRad')" routerLinkActive="active">RAD</a>
                    </li>
                    <li><a class="dropdown-item" (click)="authPages('patientTests')" routerLinkActive="active">Tests</a>
                    </li>
                </ul>
            </li>
            <!-- Dropdown EXAM-->
            <li class="nav-item dropdown" class='{{disabledList}}'>
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" routerLinkActive="active">
                    EXAM
                </a>
                <ul class="dropdown-menu" *ngIf="emrEnabled">
                    <li><a class="dropdown-item" (click)="authPages('completeExam')" routerLinkActive="active">Complete
                            Exam</a> </li>
                    <li><a class="dropdown-item" (click)="authPages('contactlensExam')"
                            routerLinkActive="active">Contact
                            Lens Exam</a> </li>
                    <!-- <li><a class="dropdown-item" (click)="infoMsgShow.emit()">Chart Note</a> </li> commented by janie -->
                    <li><a class="dropdown-item" (click)="authPages('procedureExam')"
                            routerLinkActive="active">Procedure</a>
                    </li>
                    <li><a class="dropdown-item" (click)="authPages('patientInstructions')"
                            routerLinkActive="active">Patient
                            Instructions</a> </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" routerLinkActive="active"> INVENTORY
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/inventory/frames" routerLinkActive="active">Frames</a>
                    </li>
                    <li><a class="dropdown-item" routerLink="/inventory/lens-treatment" routerLinkActive="active">Lens
                            Treatment</a> </li>
                    <li><a class="dropdown-item" routerLink="/inventory/spectaclelens"
                            routerLinkActive="active">Spectacle
                            Lens</a> </li>
                    <li><a class="dropdown-item" routerLink="/inventory/contactlens" routerLinkActive="active">Contact
                            Lens</a> </li>
                    <li><a class="dropdown-item" routerLink="/inventory/others" routerLinkActive="active">Others</a>
                    </li>
                    <!-- <li><a class="dropdown-item border-bottom" routerLink="/inventory/services" routerLinkActive="active">Services</a> </li> commented by janie -->
                    <li><a class="dropdown-item border-bottom" routerLink="/inventory/inventory-details"
                            routerLinkActive="active">Inventory Details</a> </li>
                    <li><a class="dropdown-item" routerLink="/inventory/purchase-order"
                            routerLinkActive="active">Purchase
                            Order</a> </li>
                    <li><a class="dropdown-item" routerLink="/inventory/receiving"
                            routerLinkActive="active">Receiving</a>
                    </li>
                    <li><a class="dropdown-item" routerLink="/inventory/barcode-labels"
                            routerLinkActive="active">Barcode
                            Labels</a> </li>
                    <li><a class="dropdown-item" routerLink="/inventory/physical-counts"
                            routerLinkActive="active">Physical
                            Counts</a> </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" routerLinkActive="active"> ORDER
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/order/order" routerLinkActive="active" (click)="orderDropClick()">Order</a></li>
                    <li><a class="dropdown-item border-top" routerLink="/order/frame" routerLinkActive="active" (click)="orderDropClick()">Frames
                            Only</a></li>
                    <li><a class="dropdown-item" routerLink="/order/spectacle-lens" routerLinkActive="active" (click)="orderDropClick()">Spectacle
                            Lens</a></li>
                    <li><a class="dropdown-item" routerLink="/order/contact-lens" routerLinkActive="active" (click)="orderDropClick()">Contact
                            Lens</a></li>
                    <li><a class="dropdown-item border-bottom" routerLink="/order/other-details"
                            routerLinkActive="active" (click)="orderDropClick()">Other</a></li>
                    <li><a class="dropdown-item border-bottom" routerLink="/order/delivery"
                            routerLinkActive="active" (click)="orderDropClick()">Delivery</a></li>

                </ul>
            </li>
            <!-- Dropdown CLAIMS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" routerLinkActive="active">
                    CLAIMS
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/claims/claim-search">Search</a></li>
                    <li><a class="dropdown-item border-bottom border-top" routerLink="/claims/single-claim"
                            routerLinkActive="active">Single Claim</a></li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">Batch Auto Generate</a></li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">Batch Print</a></li>
                    <li><a class="dropdown-item" routerLink="/billing/electronic">Batch Electronically File</a></li>
                </ul>
            </li>
            <!-- Dropdown Batch -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" routerLinkActive="active">
                    BATCH
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/batch/era" routerLinkActive="active">ERA</a></li>
                    <li><a class="dropdown-item" routerLink="/batch/laborder">Lab Orders</a></li>
                    <li><a class="dropdown-item" routerLink="/batch/order-status" routerLinkActive="active">Order
                            Status</a></li>
                    <li><a class="dropdown-item" routerLink="/batch/payments" routerLinkActive="active">Payments</a>
                    </li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">Receipts &#38; Statements</a></li>
                </ul>
            </li>
            <!-- Dropdown ACCOUNTING -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" routerLinkActive="active">
                    ACCOUNTING
                </a>
                <ul class="dropdown-menu">
                    <!-- <li><a class="dropdown-item" (click)="infoMsgShow.emit()">XCharge</a></li> OC-2785 -->
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">TSYS</a></li>
                    <li><a class="dropdown-item" (click)="authPages('paymentLedgers')">Payment
                            Ledger</a></li>
                    <li><a class="dropdown-item" routerLink="/accounting/lens-RX-calculator"
                            routerLinkActive="active">Calculator</a></li>
                    <!-- <li><a class="dropdown-item" routerLink="/accounting/quickbooks-sync">Quickbooks Sync</a></li> OC-2785 -->
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="reports" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" routerLinkActive="active">
                    REPORTS
                </a>
                <ul class="dropdown-menu left-sub-menu" aria-labelledby="reports">
                    <li>
                        <a class="dropdown-item dropdown-toggle" routerLinkActive="active">Commonly Used</a>
                        <ul class="dropdown-menu common-list">
                            <li><a class="dropdown-item" routerLink="/reports/commonly-used"
                                    [queryParams]="{ reports: 'MCM_Order details' }" 
                                    routerLinkActive="active">Order details Report</a></li>
                            <li><a class="dropdown-item" routerLink="/reports/commonly-used"
                                    [queryParams]="{ reports: 'MCM_Contact Lenses Sold' }"
                                    routerLinkActive="active">Contact Lens Sold Report</a></li>
                            <li><a class="dropdown-item" routerLink="/reports/commonly-used"
                                    [queryParams]="{ reports: 'MCM_Frames Sold' }" 
                                    routerLinkActive="active">Frames Sold Financial Report</a></li>
                            <li><a class="dropdown-item" routerLink="/reports/commonly-used"
                                    [queryParams]="{ reports: 'MCM_Daily Closing' }" 
                                    routerLinkActive="active">Daily Closing Report</a></li>
                            <li><a class="dropdown-item" routerLink="/reports/commonly-used"
                                    [queryParams]="{ reports: 'MCM_Spectacle Lens Profit' }"
                                    routerLinkActive="active">Spectacle Lens Profit Report</a></li>
                            <li><a class="dropdown-item" routerLink="/reports/commonly-used"
                                    [queryParams]="{ reports: 'MCM_PLB Report' }" 
                                    routerLinkActive="active">PLB Report (Provider Level Balancing)</a></li>
                            <!-- <li><a class="dropdown-item">After Sales Transactions</a></li>
                            <li><a class="dropdown-item">Aged Receivable</a></li>
                            <li><a class="dropdown-item">Calendar Appointment Per Day </a></li>
                            <li><a class="dropdown-item">Capture Rate Report</a></li>
                            <li><a class="dropdown-item">Claim Status Report</a></li>
                            <li><a class="dropdown-item">Day Sheet</a></li>
                            <li><a class="dropdown-item">Employee Sale Summary</a></li>
                            <li><a class="dropdown-item">Exam Performance Financials</a></li>

                            <li><a class="dropdown-item">Marketing Report</a></li>
                            <li><a class="dropdown-item">Materials and Professional Services Report</a></li>
                            <li><a class="dropdown-item">Order Profit Report</a></li>
                            <li><a class="dropdown-item">Orders By Employee</a></li>
                            <li><a class="dropdown-item">Physician Professional Services Productivity</a></li>
                            <li><a class="dropdown-item">PLB Report (Provider Level Balancing)</a></li>
                            <li><a class="dropdown-item">Product Activity by Payer</a></li>
                            <li><a class="dropdown-item">Sales and Payment summary by Location</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle" routerLink="/reports/scheduler"
                            routerLinkActive="active">Scheduler</a>
                        <ul class="dropdown-menu scheduler">
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler"
                                    [queryParams]="{ sch_temp_id: 1 }">
                                    Day Appointments
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler"
                                    [queryParams]="{ sch_temp_id: 2 }">
                                    Day Reports

                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler"
                                    [queryParams]="{ sch_temp_id: 3 }">
                                    Recalls

                                </a>
                            </li>


                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler/patient-monitor"
                                    routerLinkActive="active">
                                    Patient Monitor
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler/day-face-sheet"
                                    routerLinkActive="active">
                                    Day Face Sheet
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler/appointment-information"
                                    routerLinkActive="active">
                                    Appointment Information
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler/patient-documents"
                                    routerLinkActive="active">
                                    Patient Document
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler/sx-planning"
                                    routerLinkActive="active">
                                    Sx Planning Sheet
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler/recall-fulfillment"
                                    routerLinkActive="active">
                                    Recall Fulfillment
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler/consult-letters"
                                    routerLinkActive="active">
                                    Consult Letters
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler/scheduler-report"
                                    routerLinkActive="active">
                                    Scheduler Report
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/scheduler/patient-csv-reports"
                                    routerLinkActive="active">
                                    Patients CSV Export
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle" routerLink="/reports/practice-analytic"
                            routerLinkActive="active">Practice Analytic</a>
                        <ul class="dropdown-menu analytic">
                            <li>
                                <a class="dropdown-item" routerLink="/reports/practice-analytic"
                                    [queryParams]="{ sch_temp_id: 4 }">Heard
                                    About Us</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/practice-analytic"
                                    [queryParams]="{ sch_temp_id: 5 }">Registered
                                    New Patient</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/practice-analytic"
                                    [queryParams]="{ sch_temp_id: 6 }">Lost
                                    To Follow</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle">Financials</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item dropdown-toggle">Daily</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 7 }">Day
                                            Sheet</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 8 }">Payments</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 9 }">Daily
                                            Balance</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 27 }">Unapplied
                                            Superbills</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 28 }">Unfinalized
                                            Encounters</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 30 }">Unapplied
                                            Payments</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 31 }">Copay
                                            Reconciliation</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 32 }">Adjustment
                                            Report</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 35 }">Refund
                                            Report</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a class="dropdown-item dropdown-toggle">Analytic</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 10 }">Practice
                                            Analytics</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 11 }">Provider
                                            Analytics</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 12 }">Provider
                                            Revenue</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 13}">Referring
                                            Revenue</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 14 }">Facility
                                            Revenue</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 29 }">Deferred/VIP</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 36 }">Ledger</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 37 }">Insurance
                                            Analytics</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 38 }">CPT
                                            Analysis</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 40 }">Referring
                                            Physcian</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 41 }">Allowable
                                            Verify</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item dropdown-toggle">Account Receivable</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 15 }">Provider
                                            A/R</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 16 }">Days
                                            in A/R </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 17 }">Unworked
                                            A/R</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 33 }">A/R
                                            Aging Insurance</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 34 }">A/R
                                            Aging Patient</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item dropdown-toggle">Claims</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 18 }">Unbilled</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 19 }">Top
                                            Rejections</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 39 }">Denial
                                            Records</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item dropdown-toggle">PT Collections</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 25 }">Assessment</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink="/reports/financials"
                                            [queryParams]="{ sch_temp_id: 26 }">Report</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            routerLink="/reports/financials/pt-collections/previous-hcfa"
                                            routerLinkActive="active">Previous HCFA</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            routerLink="/reports/financials/pt-collections/eid-status"
                                            routerLinkActive="active">EID Status</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            routerLink="/reports/financials/pt-collections/eid-payments">EID
                                            Payments</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item dropdown-toggle">Statements</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                            routerLink="/reports/financials/statements/new-statement"
                                            routerLinkActive="active">New Statement</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            routerLink="/reports/financials/statements/previous-statement"
                                            routerLinkActive="active">Previous Statement</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle">Compliance</a>
                        <ul class="dropdown-menu">

                            <li>
                                <a class="dropdown-item" routerLink="/reports/compliance"
                                    [queryParams]="{ sch_temp_id: 21 }">Audit</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/compliance"
                                    [queryParams]="{ sch_temp_id: 22 }">Stage
                                    2016</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/compliance"
                                    [queryParams]="{ sch_temp_id: 23 }">Transition
                                    ACI 2017</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/compliance"
                                    [queryParams]="{ sch_temp_id: 24 }">ACI
                                    2018</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/compliance/qrda"
                                    routerLinkActive="active">QRDA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/compliance/cqm-imports"
                                    routerLinkActive="active">CQM
                                    Import</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle">CCD</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/reports/ccd" routerLinkActive="active">CCD
                                    Export</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle">API</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/reports/api/access-log"
                                    routerLinkActive="active">Access
                                    Log</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/api/call-log"
                                    routerLinkActive="active">Call
                                    Log</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle" routerLinkActive="active">State</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/reports/state/ky-state-report"
                                    routerLinkActive="active">KY
                                    State Report</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/state/tn-state-report"
                                    routerLinkActive="active">TN
                                    State Report</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle">Optical</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/reports/optical/contact-lens-reports"
                                    [queryParams]="{ showpage: 'contactlens' }" routerLinkActive="active">Contact Lens
                                    Report</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/optical/contact-lens-reports"
                                    [queryParams]="{ showpage: 'contactlensorder' }" routerLinkActive="active">Contact
                                    Lens Orders</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/optical/contact-lens-reports"
                                    [queryParams]="{ showpage: 'glasses' }" routerLinkActive="active">Glasses</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle">Reminders</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/reports/reminders/day-appointments"
                                    routerLinkActive="active">Day Appts</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/reminders/recalls"
                                    routerLinkActive="active">Recalls</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/reports/reminders/lists"
                                    routerLinkActive="active">Reminder
                                    Lists</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item dropdown-toggle">Clinical</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/reports/clinical"
                                    routerLinkActive="active">Clinical
                                    Report</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <!-- Dropdown SUPPORT -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    SUPPORT
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">myCare | MVE</a> </li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">myCare | Portal</a> </li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">LOD</a> </li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">Gateway</a> </li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">XCharge</a> </li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">TSYS</a> </li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">4PatientCare</a> </li>
                </ul>
            </li>
            <li class="nav-item dropdown html" *ngIf="hideHtmlDrop">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" routerLinkActive="active">
                    HTML
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/html/setup/employees" routerLinkActive="active">Employess
                            List</a></li>
                    <li><a class="dropdown-item" routerLink="/html/setup/employees/employees-detail"
                            routerLinkActive="active">Employees
                            Detail</a></li>
                    <li><a class="dropdown-item" routerLink="/html/setup" routerLinkActive="active">Setup</a></li>
                    <li><a class="dropdown-item" routerLink="/html/patient/patient-demographics2"
                            routerLinkActive="active">Patient
                            Demographics</a></li>
                    <li><a class="dropdown-item" routerLink="/html/patient/family-information"
                            routerLinkActive="active">Family
                            Information</a></li>
                    <li><a class="dropdown-item" routerLink="/html/patient/patient-insurance"
                            routerLinkActive="active">Patient
                            Insurance</a></li>
                    <!-- <li><a class="dropdown-item" routerLink="/html/single-claim" routerLinkActive="active">Single Claims</a></li> -->
                    <li><a class="dropdown-item" routerLink="/html/letters-choose-template"
                            routerLinkActive="active">Letter
                            Choose Template</a></li>
                    <li><a class="dropdown-item" routerLink="/html/letters-template-builder"
                            routerLinkActive="active">Letter
                            Template Builder</a></li>
                    <li><a class="dropdown-item" routerLink="/html/calendar-html" routerLinkActive="active">Calendar
                        </a></li>
                    <li><a class="dropdown-item" routerLink="/html/add-appointment" routerLinkActive="active">Add
                            Appointment </a></li>
                    <li><a class="dropdown-item" routerLink="/html/employee-center" routerLinkActive="active">Employee
                            Center </a></li>
                    <li><a class="dropdown-item" routerLink="/html/batch-payment" routerLinkActive="active">Batch
                            Payment </a></li>
                    <li><a class="dropdown-item" routerLink="session-expired" routerLinkActive="active">Session Expired
                        </a></li>
                </ul>
            </li>
            <li class="nav-item dropdown user-icon user-dropdown">

                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-user"></i> {{ username }}
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLinkActive="active"
                            (click)="reload_Pages.emit('/employees/center')">
                            Employee
                            Center</a> </li>
                    <li><a class="dropdown-item" routerLink="/employees/time-clock" routerLinkActive="active">Time
                            Clock</a> </li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">Change User</a> </li>
                    <li><a class="dropdown-item" (click)="infoMsgShow.emit()">Change Password</a> </li>
                    <li><a class="dropdown-item" (click)="logOutEvent.emit()">Logout</a> </li>
                </ul>
            </li>
        </ul>
    </div>

</nav>