<!-- <form id=add [formGroup]=  "OrderFilterForm"> -->
<div class="ecl-order-filter">
    <div class="row form-row">
        <div class="form-group col">
            <label for="Location">History</label>
            <!-- <select class="form-control" [(ngModel)]="OrderModel"  id="Location" (change)="orderSelect($event.target.value)">             
                <option value="newOrder" >New Order</option>
                <option *ngFor="let history of historydata" [value]="history.Id">{{history.Name}}</option>
            </select> -->

            <p-autoComplete #data [style]="{'width':'100%'}" [inputStyle]="{'width':'calc(100% - 2.3em)'}" [dropdown]="true"
                    [(ngModel)]="history" [ngModelOptions]="{standalone: true}"
                    forceSelection="true" field="Name" dataKey="Id" [suggestions]="filteredHistory" (completeMethod)="searchOrderHistory($event)"
                    (onSelect)="orderSelect(history.Id)"[minLength]="1" placeholder="Hint: type 'a' or 'b'" (click)="selectAllData($event)" emptyMessage = 'No Records'>
                    <ng-template let-history pTemplate="item">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="font-size:12px;padding:5px;">{{history.Name}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
        </div>
        <div class="form-group col">
            <label for="Manufacturer">Type</label>
            <!-- <select class="form-control">
                <option selected >Frame</option>
                <option (click)="test()">Spectacle Lens</option>
                <option>Hard Contact Lens</option>
                <option>Soft Contact Lens</option>
                <option>Other</option>
            </select> -->
            <select class="form-control" [(ngModel)]="SelectTypeModel" (change)="TypeDropdownChange($event)"  [disabled]="!isEnabledOption">
                <option [ngValue]="null">Select Type</option>
                <option *ngFor="let Type of orderType" [ngValue]="Type.id">{{Type.description}}</option>
            </select>
        </div>
        <div class="form-group col">
            <label for="Collection">Order Date</label>
            <p-calendar (onInput)="onDateChange($event);" [(ngModel)]="orderDate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
        </div>    
        <div class="form-group col">
            <!-- <label for="Frame">Order</label>
            <select class="form-control" [(ngModel)]="OrderModel" (change)="orderSelect()">
                    <option [ngValue]="null">New Order</option>
                    <option *ngFor="let order of ordersdata" [ngValue]="order.Id">{{order.Name}}</option>
                </select> -->
                <label for="Frame">Order</label>
                <input type="text"  [ngModel]="orderId"  class="form-control"  readonly="true">
        </div>   
        <div class="form-group col">
                <label>Physician</label>
                <!-- <p-dropdown #dd [options]="cars" [(ngModel)]="selectedCar" filter="true" [style]="{'width':'100%'}"></p-dropdown> -->
                <!-- <p-dropdown   #dd   [options]="physicians"  [(ngModel)]="physicianId"  optionLabel="name" filter="true" [style]="{'width':'100%'} " > -->
    
                        <!-- <p-dropdown   #dd   [options]="physicians"  formControlName="physicianid" placeholder="Select  Physician"  filter="true" [style]="{'width':'100%'} " > -->

                        <p-dropdown  #dd (onChange)="onSelectType($event)"  [options]="physicians" [(ngModel)]="selectedphyiscianId"   [style]="{'width':'100%'}" filter="true">


                </p-dropdown> 
            </div>
        <div class="form-group col-1">
            <div class="form-check">
                <p-checkbox name="duplicate" value="Duplicate" label="Duplicate" id="defaultCheck1"></p-checkbox>
                <!--<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Duplicate
                </label>-->
            </div>
        </div>
        <div class="form-group col">
            <label>Location</label>
            <span class="text-danger" *ngIf="LocationWarning">*</span>
            <select class="form-control" [(ngModel)]="LocationModel" (change)="locationChange()">   
                <!-- <option [ngValue]="null">Select Location</option> -->
                <option *ngFor="let loc of locations" [ngValue]="loc.id">{{loc.name}}</option>
            </select>
        </div>
    </div>
</div>
<!-- </form> -->