<form>
    <div class="card">
        <div class="card-header">Media Count</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="border m-auto">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Media Type</th>
                                    <th>Media Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>50s</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>20s</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>10s</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>5s</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>1s</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>Two-Dollar Coins</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>Dollar Coins</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>Half Dollars</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>Quarters</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>Dimes</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>Nickels</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>Pennies</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>Checks</td>
                                    <td>
                                        <div class="input-group"><input class="form-control" type="text">
                                            <div class="input-group-append">
                                                <button class="btn btn-space" (click)=" checksPopup()"><i class="ti-more-alt"></i></button>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>100s</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td><input type="text" class="form-control"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Close</button>
        </div>
    </div>
</form>




<p-dialog class="dialog-popup" header="Checks" positionLeft="100%" [(visible)]="display" [modal]="true" [responsive]="true"
    [width]="300" [minWidth]="200" [minY]="100">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <p-table [value]="" class="ecl-table ecl-ptable" [scrollable]="true" scrollHeight="55vh">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Check Number</th>
                            <th>Amount </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-location>
                        <tr>
                            <td>{{61233}} </td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <p-footer>
        <button type="button" class="btn btn-primary">Auto Fill</button>
        <button type="button" class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-default">Cancel</button>
    </p-footer>
</p-dialog>