.sidebar-nav {
	display: block;
	float: left;
	width: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#main_icon {
	float: right;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 60px;
}
.sub_icon {
	float: right;
	padding-right: 22px;
	padding-top: 0px;
}
.content-header {
	height: 65px;
	line-height: 65px;
}
.content-header h1 {
	margin: 0;
	margin-left: 20px;
	line-height: 65px;
	display: inline-block;
}
.tophead {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	padding: 2px 0px;
}
.tophead .navbar {
	padding: 0px;
}
.tophead .navbar .nav-link {
	text-transform: uppercase;
	font-size: 13px;
	color: #002878!important;
	border-bottom: 2px solid #fff!important;
}
.tophead .navbar .dropdown-toggle::after {
	display: none!important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0,0,0,.7);
	border-bottom: 2px solid #f7941e!important;
}
.tophead .navbar .dropdown-menu {
	border-radius: 0px;
	margin: 0px;
}
.tophead .navbar .dropdown-item {
	padding: 4px;
	font-size: 13px;
}
.userlnk .btn {
	border-radius: 0px;
	background-color: #4a4a4a;
	position: absolute !important;
	top: -25px;
	right: -15px;
	padding: 12px 14px;
	color: #fff;
}
.userlnk .dropdown-menu {
	background-color: #4a4a4a!important;
	padding: 8px;
}
.userlnk .dropdown-menu .dropdown-item {
	color: #fff!important;
}
.headbar {
	background-color: #012778;
	padding: 5px 0px;
}
.headbar h2 {
	font-size: 18px;
	color: #fff;
	padding: 0px;
	margin: 0px;
	font-weight: 700;
}
/* Inventory CSS Start */
.butnoption {
	text-align: right;
}
.butnoption ul {
	text-align: right;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.butnoption ul li {
	padding: 0px;
	margin: 0px 4px;
	list-style: none;
	display: inline-block;
}
.butnoption .btn {
	background-color: transparent;
	border: 0px;
	color: #fff;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
}
.butnoption .btn img {
	margin-right: 4px;
}
.flttxt {
	font-size: 15px;
	margin-top: 26px;
}
.filteropt .btn {
	background-color: transparent;
	border: 0px;
	font-size: 13px;
	color: #002877;
	margin-top: 20px;
}
.tabing .tab-content {
	background-color: #fff;
	margin: 20px 0px;
	padding: 10px 0px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.10);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.10);
}
.tabing .nav-tabs {
	border-bottom: 0px;
}
.tabing .nav-tabs .nav-item {
	display: block;
	width: 100%;
	margin-bottom: 4px;
}
.tabing .nav-tabs .nav-link {
	border: 0px;
	border-radius: 0px;
	background-color: #4a4a4a;
	color: #ffffff;
	padding: 4px 10px;
	text-align: right;
	border-right: 4px solid #eeeeee;
}
.tabing .nav-tabs .nav-item.show .nav-link, .tabing .nav-tabs .nav-link.active {
	color: #4a4a4a;
	background-color: #ffffff;
	border-left: 3px solid #f79520;
	border-right: 4px solid #fff;
}
.tabing [class*='col-'] {
	padding: 0px;
}
.tabing .nav-tabs {
	margin-top: 20px;
}
.box {
	border: 1px solid #d7d7d7;
	padding-bottom: 5px;
	margin-bottom: 10px;
	background-color: #fff;
}
.box .boxhead {
	border-bottom: 1px solid #d7d7d7;
	padding: 4px;
	margin-bottom: 0px;
}
.box .boxhead h2 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #494949;
	margin-bottom: 0px;
}
.box h3 {
	font-size: 13px;
	font-weight: 700;
	color: #494949;
	margin-bottom: 0px;
	padding: 4px;
	display: block;
	width: 100%;
}
.credint .form-group {
	margin-right: 5px;
}
.savebut {
	background-color: #f7941e!important;
	border-radius: 4px;
	padding: 4px 10px;
	color: #fff;
	border: 0px;
	font-size: 14px;
}
.topusrhead {
	background-color: #012778;
	padding: 5px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
}
.topusrhead h2 {
	color: #fff;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}
.tab-content [class*='col-'] {
	padding: 0px 3px!important;
}
.box [class*='col-'] {
	padding: 0px 8px!important;
}
/* New Css Create By Chandra */
/*button css*/
.orgbutton {
	background-color: #f7941e!important;
	border-radius: 4px;
	padding: 4px 10px;
	color: #fff;
	border: 0px;
	font-size: 14px;
}
.blubutton {
	background-color: #253370!important;
	border-radius: 4px;
	padding: 4px 10px;
	color: #fff;
	border: 0px;
	font-size: 14px;
}
/* Collapse Css Start */
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}
.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}
.panel-title {
	font-size: 14px;
}
.panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
}
.more-less {
	float: right;
	color: #212121;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
	padding: 5px;
	font-size: 13px;
}
button {
	cursor: pointer
}
/*patient Info Css Start */
.patdemo [class*="col-"] {
	padding: 0px 3px !important;
}
.input-group-text {
	padding: 0px 3px!important;
	background-color: #fff!important
}
.demouser {
	background-color: #f1f8e9;
	text-align: center;
	min-height: 130px!important
}
.ptimage {
	background-color: #ffffff;
	padding: 3px;
	border: 1px solid #bcbcbc;
	margin: 5px 0px
}
.patcollaps .panel-title {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #e7e7e7
}
.patcollaps .panel-title > a {
	color: #272727
}
.patcollaps .panel-title > a:hover {
	color: #253370;
	text-decoration: none
}
.ptdemo_notes {
	min-height: 100px;
}
.patdemo .box {
	min-height: 530px;
	background-color: #ffffff!important
}
.patdemo .boxhead {
	min-height: 34px;
}
.ptphysic {
	background-color: #f1f8e9;
	padding-bottom: 10px;
}
.ptphysic h3 {
	font-size: 14px;
	padding: 5px 10px!important;
	border-bottom: 1px solid #dfe5d9
}
/*patient info Css End */
/* New Css Create By Chandra end */
.table {
	margin-top: 15px;
	background-color: #fff !important;
}
.table thead {
	color: #1d3f87;
	font-weight: normal !important;
}
/*patient info insurance  Css  */
.realtime_icon {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
	height: 41px;
	padding: 0px 21px;
}
.realtime_icon:hover {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: 0 -41px;
}
.preautho {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -42px 0;
	display: block;
	height: 40px;
	padding: 0px 20px;
}
.preautho:hover {
	background-image: url(./../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -42px -41px;
}
.opencase {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -84px 0;
	display: block;
	height: 40px;
	padding: 0px 20px;
}
.opencase:hover {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -84px -41px;
}
.pcopy {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -126px 0;
	display: block;
	height: 40px;
	padding: 0px 20px;
}
.pcopy:hover {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -126px -41px;
}
.irearrenge {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -168px 0;
	display: block;
	height: 40px;
	padding: 0px 20px;
}
.irearrenge:hover {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -168px -41px;
}
.iscani {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -210px 0;
	display: block;
	height: 40px;
	padding: 0px 20px;
}
.iscani:hover {
	background-image: url(../../assets/img/insuriconflt.png);
	background-repeat: no-repeat;
	background-position: -210px -41px;
}
.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
}
