body .ui-widget {
    font-size: 13px;
}

body .ui-sidebar .ui-sidebar-close .pi-times {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
}

body .ui-radiobutton .ui-radiobutton-box {
    width: 16px;
    height: 16px;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: -4px;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #4a4a4a;
    background-color: #ffffff;
    color: #ffffff;    
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
    background-color: #F39529;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #4a4a4a;
    background-color: #ffffff;
    color: #ffffff;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active.ui-state-focus {
    border-color: #4a4a4a;
    background-color: #ffffff;
    color: #ffffff;
}
body .ui-radiobutton-label {
    margin: 0;
}
body .ui-chkbox {
    width: 16px;
    height: 16px;
}
body .ui-chkbox .ui-chkbox-box {
    width: 16px;
    height: 16px;
}
body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    font-size: 14px;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #4a4a4a;
    background-color: #ffffff;
    color: #ffffff;  
}
body .ui-chkbox .ui-chkbox-box.ui-state-active .ui-chkbox-icon {
   color: #F39529;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #4a4a4a;
    background-color: #ffffff;
    color: #ffffff;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-focus {
    border-color: #4a4a4a;
    background-color: #ffffff;
    color: #ffffff;
}
/* Tabview Top*/
body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    border: 1px solid #4a4a4a;
    border-top-width: 5px;
    background-color: #4a4a4a;
    transition: none;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li a {
    color: #cccccc;
    padding: 0.201em 1em 0.571em 1em;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li:hover {
    border-top-width: 5px;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-top-width: 5px;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a {
    color: #FFFFFF;    
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-top: 5px solid #F39529;
    border-bottom: 1px solid #fff;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a {
    color: #F39529;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-top: 5px solid #F39529;
    border-bottom: 1px solid #fff;
    color: #F39529;    
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover a {
    color: #ea7d00;
}

/* Tabview Left*/
body .ui-tabview.ui-tabview-left .ui-tabview-nav {
    flex: 0 0 16.666667%;
    width: 16.666667%;
}
body .ui-tabview.ui-tabview-left .ui-tabview-panels {
    flex: 0 0 83.333333%;
    width: 83.333333%;
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li {
    border: 1px solid #4a4a4a;
    border-left-width: 5px;
    background-color: #4a4a4a;
    transition: none;
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li a {
    color: #cccccc;
    width: 100%;
    cursor: pointer;
    text-align: right;
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li:hover {
    border-left-width: 5px;
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-left-width: 5px;
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a {
    color: #FFFFFF;    
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-left: 5px solid #F39529;
    border-right: 1px solid #fff;
    margin-right: -1px;
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a {
    color: #F39529;
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active:hover {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-left: 5px solid #F39529;
    border-right: 1px solid #fff;
    color: #F39529;    
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active:hover a {
    color: #ea7d00;
}


body .ui-sidebar .ui-sidebar-close {
    position: absolute;
    z-index: 99;
    right: 9px;
    top: 9px;
    padding: 4px 4px 0 4px;
    border-radius: 0; 
}

body .ui-sidebar .ui-sidebar-close .pi-times:before{
    content: "\e646"!important;
}

body .ui-inputtext {
    font-size: 13px;
    color: #333333;
    padding: 0.25em;
    border: 1px solid #ced4da;
}

body .ui-autocomplete .ui-autocomplete-input {
    padding: 0.25em 0.5em;
    height: 26px;
    width: calc(100% - 2.4em) !important;
}
body .ui-button.ui-button-icon-only .ui-button-text {
    padding: 0.20em;
}
body .ui-button.ui-button-icon-only {
    height: 26px;
}

body .ui-datepicker {
    padding: 0.1em;
}
body .ui-datepicker table {
    font-size: 13px;
}
body .ui-datepicker table td {
    padding: 0;
}
body .ui-calendar.ui-calendar-w-btn input {
    width: calc(100% - 32px);
	border-radius: 0 !important;
	border-right: 0 !important;
}
.form-group .ui-widget.ui-button, .ui-button {
	/* border: 0 !important; */ 
	border-radius: 0px !important;
}
body .ui-calendar .ui-calendar-button .pi-calendar {
	font-size: 17px !important;
	font-family: 'themify' !important;
	margin-top: -.55em !important;
	margin-left: -.6em !important; 
}
body .ui-calendar .ui-calendar-button .pi-calendar:before {
	content: "\e6b6" !important;
}
body .ui-calendar .ui-calendar-button {
	color: rgba(105, 105, 105, 0.85) !important;
	background: #fff !important;
}
body .ui-calendar .ui-inputtext:focus {
	box-shadow: none !important;
	border: 1px solid rgba(214, 214, 214, 1) !important;
}
body .ui-calendar .ui-inputtext:enabled:hover {
	border: 1px solid #d6d6d6 !important;
	border-right: 0 !important;
}

body .ui-datepicker table th {
    padding: 0.25em;
}

body .ui-button {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    font-size: 13px;
} 
body .ui-button:enabled:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #d6d6d6;
}
body .ui-button:enabled:active {
    background-color: #ffffff;
    color: #000000;
    border-color: #d6d6d6;
}
body .ui-dropdown label.ui-dropdown-label {
	height: 24px;
}
/* Pagination */
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    padding: .25em;
}
/* Accordion */
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    border:1px solid #4a4a4a;
    border-bottom: 3px solid #f39529;
    background-color: #4a4a4a;
    color: #ffffff;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
    border:1px solid #4a4a4a;
    border-bottom: 3px solid #f39529;
    background-color: #6a6a6a;
    color: #ffffff;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    color: #F39529;
    font-size: 17px !important;
    font-weight: 600;
}