<form>
    <div class="card order-other-discount">
        <div class="card-header">Search Shipment</div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>Id </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Date </label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-sm-3">
                    <label>From </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>To </label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>Tracking No </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Status </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Carrier </label>
                    <input type="text" class="form-control">
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="orderTypes" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Date</th>
                                    <th>ID</th>
                                    <th>Carrier</th>
                                    <th>Tracking No</th>
                                    <th>Status</th>
                                    <th>From</th>
                                    <th>TO</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right" (click)="onCloseShipment()">Cancel</button>
            <button type="button" class="btn btn-primary float-right">Clear</button>
            <button type="button" class="btn btn-primary float-right">Add</button>
            <button type="button" class="btn btn-primary float-right">Select</button>
            <button type="button" class="btn btn-primary float-right">Search</button>
        </div>
    </div>
</form>