<!--<patient-bar></patient-bar>-->
<div class="framebox">
     <iframe
     (load)="onLoad()"
     frameborder="0"
     allowfullscreen
     [src]="PatientInsuranceUrl" ></iframe>
     
     <div class="loader-iframe"></div>
</div>
