<form>
    <div class="card order-other-discount">
        <div class="card-header">Modify Lens Treatment</div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-12">
                    <label>Lens Treatment </label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-sm-6">
                    <label>Item Name </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>UPC </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>On Hand </label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-2">
                    <label>Retail price </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Quantity </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Sub Total </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Tax</label>
                    <div class="row form-row">
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Tax 2</label>
                    <div class="row form-row">
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-2 text-nowrap">
                    <label class="label-empty">&#160;</label>
                    <p-checkbox name="groupname" value="Material" label="Overwrite Tax"></p-checkbox>
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-4">
                    <label>Discount type </label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <p-dropdown [options]="" placeholder="Select" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Reason </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Discount </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Write-Off </label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-2">
                    <label>Copay </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Patient </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Patient Total </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Ins cov%</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Insurance</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Item Total</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-md-4">
                    <label>Employee</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Date</label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-md-2">
                    <label class="label-empty">&#160;</label>
                    <div class="form-check form-check-inline">
                        <p-checkbox name="groupname" value="Print" label="Print"></p-checkbox>
                    </div>
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-md-4">
                    <label>Supplier </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Diagnosis Pointer </label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group col-md-2">
                    <label>Status</label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-space">
                                <i class="ti-more-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-md-8">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" rows="1" id="notes"></textarea>
                </div>
                <div class="col-md-4 form-group">
                    <label class="label-empty">&#160;</label>
                    <p-checkbox name="groupname" value="Insurance Supplied" label="Insurance Supplied"></p-checkbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'1200px'}" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Procedure</th>
                                    <th>Code Description</th>
                                    <th>Charge</th>
                                    <th>Copay</th>
                                    <th>Patient Pays</th>
                                    <th>Ins pays</th>
                                    <th>Ins Gaps</th>
                                    <th>Write Off</th>
                                    <th>Discount</th>
                                    <th>Type </th>
                                    <th>Discount</th>
                                    <th>Modifier</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">Ok</button>
        </div>
    </div>
</form>