<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Inventory Item Details</h2>
        </div>
    </div>
</nav>

<div class="col-md-12 mt-3 border-bottom">
    <div class="row form-row">
        <div class="form-group col-sm-3">
            <label>UPC</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="Detailstext" (keypress)="keyPress($event)"
                    maxlength=14>
                <div class="input-group-append">
                    <button class="btn btn-space btn-primary" (click)="onDetailClick()">
                        Details
                    </button>
                </div>
            </div>

        </div>
        <div class="form-group col-sm-3">
            <label>Type</label>
            <div class="input-group mb-2">
                <select class="form-control" [(ngModel)]="DetailsControl" (change)="dropDownClick()">
                    <option *ngFor="let data of DetailDropDown" [ngValue]="data.id">{{data.name}}</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-space" (click)="selectInvDetailsclick()">
                        <i class="ti-more-alt"></i>
                    </button>
                </div>
            </div>

            <!-- <p-dropdown [options]="" placeholder="Select type" [style]="{'width':'100%'}"></p-dropdown> -->
        </div>
    </div>
</div>
<form id="detaisData" [formGroup]="FarmesDetailsForm" #formDir="ngForm">
    <!-- Frame Details -->

    <div class="col-md-12 mt-3 inventory-details form-group-mb-0" *ngIf="FramesDetails">
        <h4> Frame Details</h4>
        <div class="bg-white p-2 border">
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Manufacturer </label>
                    <select class="form-control" formControlName="manufacturerId">
                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                    </select>

                </div>
                <div class="form-group col-md-3">
                    <label>Brand </label>
                    <select class="form-control" formControlName="brandId">
                        <option *ngFor="let Brand of Brands" [ngValue]="Brand.Id">{{Brand.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Frame Name </label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group col-md-3">
                    <label>Color</label>
                    <select class="form-control" formControlName="colorId">
                        <option *ngFor="let color of colors" [ngValue]="color.Id">{{color.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Color Code</label>
                    <input type="text" class="form-control" formControlName="colodCode">
                </div>
                <div class="form-group col-md-3">
                    <label>Material</label>
                    <select class="form-control" formControlName="materialId">
                        <option *ngFor="let material of materials" [ngValue]="material.id">{{material.materialname}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Frame Type</label>
                    <select class="form-control" formControlName="typeId">
                        <option *ngFor="let Ftype of framesTypeDropDown" [ngValue]="Ftype.Id">{{Ftype.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Rim Type</label>
                    <select class="form-control" formControlName="rimTypeId">
                        <option [ngValue]="null">Select Rim Type</option>
                        <option *ngFor="let Rtype of framesRimType" [ngValue]="Rtype.Id">{{Rtype.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Source</label>
                    <select class="form-control" formControlName="sourceId">
                        <option *ngFor="let Stype of framesSource" [ngValue]="Stype.Id">{{Stype.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Shape</label>
                    <select class="form-control" formControlName="shapeId">
                        <option *ngFor="let Fshape of framesShapeDropDown" [ngValue]="Fshape.Id">{{Fshape.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Gender</label>
                    <select class="form-control" formControlName="gender">
                        <option [ngValue]="null">Select Gender</option>
                        <option *ngFor="let gender of genderDropDown" [ngValue]="gender.Id">{{gender.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row form-row d-flex justify-content-between">
                <div class="form-group col">
                    <label>Eye</label>
                    <input type="text" class="form-control" formControlName="eye">
                </div>
                <div class="form-group col">
                    <label>A</label>
                    <input type="text" class="form-control" formControlName="a">
                </div>
                <div class="form-group col">
                    <label>B</label>
                    <input type="text" class="form-control" formControlName="b">
                </div>
                <div class="form-group col">
                    <label>Ed</label>
                    <input type="text" class="form-control" formControlName="ed">
                </div>
                <div class="form-group col">
                    <label>Bridge</label>
                    <input type="text" class="form-control" formControlName="bridge">
                </div>
                <div class="form-group col">
                    <label>Temple</label>
                    <input type="text" class="form-control" formControlName="temple">
                </div>
                <div class="form-group col">
                    <label>Status</label>
                    <select class="form-control" formControlName="del_status">
                        <option [ngValue]="null">Select Status</option>
                        <option *ngFor="let stat of activestatus" [value]="stat.Id">{{stat.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Lens Color</label>
                    <select class="form-control" formControlName="lenscolor">
                        <option *ngFor="let col of color" [ngValue]="col.Id">{{col.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Usage</label>
                    <select class="form-control" formControlName="usageId">
                        <option [ngValue]="null">Select Usage Type</option>
                        <option *ngFor="let Utype of framesUsage" [ngValue]="Utype.Id">{{Utype.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Procedure Code</label>
                    <input type="text" class="form-control" formControlName="procedureCode">
                </div>
                <div class="col-md-3">
                    <div class="d-flex justify-content-between form-row">
                        <div class="form-group col">
                            <label>Min Qty</label>
                            <input type="text" class="form-control" (keypress)="numberOnly($event)" formControlName="minQty">
                        </div>
                        <div class="form-group col">
                            <label>Max Qty</label>
                            <input type="text" class="form-control" (keypress)="numberOnly($event)" formControlName="maxQty">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>supplier</label>
                    <select class="form-control" formControlName="vendorId">
                        <option [ngValue]="null">Select Supplier</option>
                        <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>UPC </label>
                    <input type="text" class="form-control" formControlName="upc" [readonly]='upcdisable' (keypress)="keyPress($event)"
                        maxlength=14>
                </div>
                <div class="form-group col-md-3">
                    <label>UPC Type</label>
                    <select class="form-control" formControlName="upcTypeId">
                        <option *ngFor="let UPCtype of framesUpcType" [ngValue]="UPCtype.Id">{{UPCtype.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>User SKU</label>
                    <input type="text" class="form-control" formControlName="userSKU">
                </div>
                <div class="form-group col-md-3">
                    <label>IDA Id</label>
                    <div class="input-group">
                        <input type="text" class="form-control" [readonly]='true'>
                        <div class="input-group-append">
                            <button class="btn btn-space disabled">
                                <i class="ti-more-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Retail Price</label>
                    <input type="text" formControlName="retailPrice" (input)="profitcalculate();" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Cost</label>
                    <input type="text" class="form-control" formControlName="purchasePrice" (input)="profitcalculate();">
                </div>
                <div class="form-group col-md-2">
                    <label>Profit</label>
                    <input type="text" class="form-control" [readonly]="true" formControlName="profit">
                </div>
                <div class="form-group col-md-2">
                    <label>Group Cost</label>
                    <input type="text" class="form-control" formControlName="groupCost">
                </div>
                <div class="form-group col-md-3">
                    <label>MSRP</label>
                    <input type="text" class="form-control" formControlName="msrp">
                </div>
                <div class="form-group col-md-2">
                    <label class="label-empty"></label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" disabled>
                        <label class="form-check-label">
                            Inventory
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label>Structure</label>
                    <select class="form-control" formControlName="structureId">
                        <option *ngFor="let Structure of StructureDropData" [ngValue]="Structure.Id">{{Structure.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Commission Type</label>
                    <select class="form-control" formControlName="commissionTypeId">
                        <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">{{Type.Name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label>Amount</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="frameamount">
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Gross Percentage</label>
                    <input type="text" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-md-3">
                    <label>Spiff</label>
                    <input type="text" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-md-3">
                    <label>Trace File</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" [readonly]='true'>
                        <div class="input-group-append">
                            <button class="btn btn-space" disabled>
                                <i class="ti-more-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Lens Range</label>
                    <div class="input-group mb-2">
                        <select class="form-control" [disabled]="true">
                            <option></option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-space" disabled>
                                <i class="ti-more-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-md-4">
                    <label>Notes</label>
                    <textarea name="" id="" cols="30" rows="4" class="form-control" [readonly]='true' formControlName="notes"></textarea>
                </div>
                <div class="col-md-8">
                    <label>Images</label>
                    <div class="row form-row">
                        <div class="form-group col-sm-4">
                            <figure class="frame-added">
                                <i class="ti-trash"></i>
                            </figure>
                        </div>
                        <div class="form-group col-sm-4">
                            <figure class="frame-add">
                                <i class="ti-plus"></i>
                            </figure>
                        </div>
                        <div class="form-group col-sm-4">
                            <figure class="frame-add">
                                <i class="ti-plus"></i>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Lens Treatment Details -->

    <div class="col-sm-12 mt-3 form-group-mb-0" *ngIf="LensTreatmentDetails">
        <h4>Lens Treatment Details</h4>
        <div class="bg-white p-2 border">
            <div class="row form-row">
                <div class="form-group col-sm-2">
                    <label>Category</label>
                    <select name="lenstreatments" class="form-control"
                        formControlName="lenscategoryId">
                        <option *ngFor="let lens of LensTreatments" [value]="lens.Id">{{lens.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <label>VSP Code</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="lensvspCode">
                </div>
                <div class="form-group col-sm-2">
                    <label>Unit</label>
                    <select name="Unit" formControlName="unitmeasure" class="form-control" id="">
                        <option value="">Select Unit</option>
                        <option value="Each">Each</option>
                        <option value="Pair">Pair</option>
                    </select>

                </div>
                <div class="form-group col-sm-6">
                    <label>Name</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="lensname">
                </div>

                <div class="form-group col-sm-3">
                    <label>UPC </label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="lensupc">
                </div>
                <div class="form-group col-md-3">
                    <label>Retail</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="lensretailPrice">
                </div>
                <div class="form-group col-md-3">
                    <label>Cost</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="lenscost">
                </div>
                <div class="form-group col-md-3">
                    <label>Profit</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="lensprofit">
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-empty" for=""></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="lensinventory">
                            <label class="form-check-label">Inventory</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="lenssendToLab">
                            <label class="form-check-label">Sent to Lab</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="lensprintOnOrder">
                            <label class="form-check-label">Print on Order</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label>Structure</label>
                    <select class="form-control" formControlName="lensStructureId">
                        <option *ngFor="let Structure of StructureDropData" [ngValue]="Structure.Id">{{Structure.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label>Commission Type</label>
                    <select class="form-control" formControlName="lensCommissionTypeId">
                        <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">{{Type.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label>Amount</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="lensamount">
                </div>
                <div class="form-group col-sm-3">
                    <label>Gross Percentage</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="grossPercentage">
                </div>
                <div class="form-group col-sm-3">
                    <label>Spiff</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="spiff">
                </div>
                <div class="form-group col-sm-3">
                    <label>VCP Vision Modifier</label>
                    <select class="form-control" formControlName="lensVcpModifiercode">
                        <option *ngFor="let vcp of vcpDropData" [ngValue]="vcp.Id">{{vcp.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label>DVI Code Type</label>
                    <select class="form-control" [disabled]="true">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-sm-12">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" rows="3" id="notes" [readonly]='true' formControlName="lensnote"></textarea>
                </div>
            </div>
        </div>
    </div>


    <!-- Spectacle Lens Details -->

    <div class="col-md-12 mt-3 form-group-mb-0" *ngIf="SpectacleDetails">
        <h4>Spectacle Lens</h4>
        <div class="bg-white p-2 border">
            <div class="row form-row">
                <div class="form-group col-sm-4  ">
                    <label>VSP Code</label>
                    <input type="text" class="form-control" formControlName="spectaclevspCode" [readonly]='true'>
                </div>
                <div class="form-group col-sm-2">
                    <label>Name </label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="spectaclename">
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>Style</label>
                    <select class="form-control" formControlName="spectaclestyleId">
                        <option *ngFor="let style of styles" [ngValue]="style.Id">{{style.name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label>Material </label>
                    <select class="form-control" formControlName="spectaclematerialId">
                        <option *ngFor="let material of MaterialListDropDown" [ngValue]="material.value">{{material.name}}</option>
                    </select>
                </div>

                <div class="form-group col-sm-2">
                    <label class="label-empty"></label>
                    <p-radioButton name="od" value="OD" label="OD" [disabled]="true" formControlName="type"></p-radioButton>
                    <p-radioButton class=" ml-3" name="od" value="OS" label="OS" [disabled]="true" formControlName="type"></p-radioButton>
                    <p-radioButton class=" ml-3" name="od" value="OU" label="OU" [disabled]="true" formControlName="type"></p-radioButton>
                </div>
                <div class="form-group col-sm-2">
                    <label>Unit</label>
                    <select name="Unit" class="form-control" [disabled]="true" formControlName="unit">
                        <option value="0">Select Unit</option>
                        <option value="Each">Each</option>
                        <option value="Pair">Pair</option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <label>UPC </label>
                    <input type="text" class="form-control" formControlName="speupc" [readonly]='true'>
                </div>
                <div class="form-group col-md-6">
                    <label>Lens</label>
                    <input type="text" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-md-3">
                    <label class="label-empty">Pricing</label>
                    <p-radioButton name="retails" value="Retail" label="Retail" formControlName="pricing" [disabled]="true"></p-radioButton>
                    <p-radioButton class=" ml-4" name="retails" value="RetailGrid" label="Retail + Grid"
                        formControlName="pricing" formControlName="pricing" [disabled]="true"></p-radioButton>
                </div>
                <div class="form-group col-md-3">
                    <label>Pricing Grid</label>
                    <select class="form-control" [disabled]="true">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Retail</label>
                    <input type="text" class="form-control" formControlName="spectacleretailPrice" [readonly]='true'>
                </div>
                <div class="form-group col-md-3">
                    <label>Cost</label>
                    <input type="text" class="form-control" formControlName="spectaclecost" [readonly]='true'>
                </div>
                <div class="form-group col-md-3">
                    <label>Profit</label>
                    <input type="text" class="form-control" formControlName="spectacleprofit" [readonly]='true'>
                </div>

                <div class="form-group col-sm-3">
                    <label> Manufacturer </label>
                    <select class="form-control" formControlName="spectaclemanufacturerId">
                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label>Color</label>
                    <select class="form-control" formControlName="spectaclecolorId">
                        <option *ngFor="let colorvalue of color" [ngValue]="colorvalue.Id">{{colorvalue.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label>Color Code</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="spectaclecolorCode">
                </div>
                <div class="form-group col-sm-3">
                    <label>Lab</label>
                    <select class="form-control" formControlName="spectaclelabId">
                        <option *ngFor="let lens of lenslab" [ngValue]="lens.Id">{{lens.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-empty" for=""></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" disabled formControlName="returnableFlag">
                            <label class="form-check-label">Returnable</label>
                        </div>
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input" type="checkbox" disabled formControlName="spectacleinventory">
                            <label class="form-check-label">Inventory</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label>Min Qty</label>
                    <input type="text" class="form-control" [readonly]='true' name="MinQty" formControlName="spectacleminQty">
                </div>
                <div class="form-group col-sm-3">
                    <label>Max Qty</label>
                    <input type="text" class="form-control" [readonly]='true' name="Maxqty" formControlName="spectaclemaxQty">
                </div>
                <div class="form-group col-sm-3">

                    <label>Supplier</label>
                    <select class="form-control" formControlName="spectaclevendorId">
                        <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label>Max Add Power</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="maxAddPower">
                </div>
                <div class="form-group col-sm-3">
                    <label>Add</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="spectacleadd">
                </div>
                <div class="form-group col-sm-3">
                    <label>Max Diameter</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="maxDiameter">
                </div>
                <div class="form-group col-sm-3">
                    <label>Oversized Diameter</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="oversizeDiameterCharge">
                </div>

                <div class="form-group col-sm-3">
                    <label>Sphere</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="spectaclesphere">
                </div>
                <div class="form-group col-sm-2">
                    <label>Cylinder</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="spectaclecylinder">
                </div>

                <div class="form-group col-sm-2">
                    <label>Base Curve</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="baseCurve">
                </div>
                <div class="form-group col-sm-2">
                    <label>Min Ht</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="minHeight">
                </div>
                <div class="form-group col-sm-3">
                    <label>Valid Range</label>
                    <div class="input-group mb-2">
                        <select class="form-control" [disabled]="true">
                            <option></option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-space">
                                <i class="ti-more-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Structure</label>
                    <select class="form-control" [disabled]="true">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <label>Comm Type</label>
                    <select class="form-control" [disabled]="true">
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <label>Amount</label>
                    <input type="text" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-sm-2">
                    <label>Gross %</label>
                    <input type="text" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-sm-2">
                    <label>Spiff</label>
                    <input type="text" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-sm-12">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" rows="3" id="notes" [readonly]='true' formControlName="spectaclenotes"></textarea>
                </div>
            </div>
        </div>
    </div>


    <!-- Other Inventory Details -->

    <div class="col-md-12 mt-3 form-group-mb-0" *ngIf="otherDetails">
        <h4>Other Inventory Details</h4>
        <div class="bg-white p-2 border">
            <div class="row form-row">
                <div class="form-group col-sm-4">
                    <label>Category </label>
                    <select class="form-control" formControlName="categoryId">
                        <option *ngFor="let category of categories" [ngValue]="category.Id">{{category.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label>supplier </label>
                    <select class="form-control" formControlName="otherVendorId">
                        <option [ngValue]="null">Select supplier</option>
                        <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label> Name </label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="othername">
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>UPC </label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="otherupc">
                </div>
                <div class="form-group col-sm-1">
                    <label>Retail</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="otherretailPrice">
                </div>
                <div class="form-group col-sm-1">
                    <label>Cost</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="othercost">
                </div>
                <div class="form-group col-sm-1">
                    <label>Profit</label>
                    <input type="text" class="form-control" [readonly]='true' formControlName="otherprofit">
                </div>
                <div class="form-group col-sm-3">
                    <label class="label-empty" for=""></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" disabled formControlName="otherinventory">
                            <label class="form-check-label">Inventory</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" disabled formControlName="othersendToLab">
                            <label class="form-check-label">Sent to Lab</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" disabled formControlName="otherprintOnOrder">
                            <label class="form-check-label">Print on Order</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label>Procedure Code</label>
                    <div class="input-group">
                        <input type="text" class="form-control" [readonly]='true' formControlName="otherprocedureCode">
                    </div>
                </div>
            </div>
            <div class="row form-row">


            </div>
            <div class="row form-row">
                <div class="form-group col-sm-2">
                    <label>Modifier</label>
                    <select class="form-control" [disabled]='true'>
                        <option>Modifier</option>
                    </select>
                </div>
                <div class="form-group col-sm-1">
                    <label>Min Qty</label>
                    <input name="Minqty" type="text" formControlName="otherminQty" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-sm-1">
                    <label>Max Qty</label>
                    <input name="Maxqty" type="text" class="form-control" formControlName="othermaxQty" [readonly]='true'>
                </div>
                <div class="form-group col-sm-2">
                    <label>Structure</label>
                    <select class="form-control" formControlName="otherstructureId">
                        <option *ngFor="let Structure of StructureDropData" [ngValue]="Structure.Id">{{Structure.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <label>Commission Type</label>
                    <select class="form-control" formControlName="otherCommissionTypeId">
                        <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">{{Type.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <label>Amount</label>
                    <input type="text" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-sm-2">
                    <label>Gross %</label>
                    <input type="text" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-sm-2">
                    <label>Spiff</label>
                    <input type="text" class="form-control" [readonly]='true'>
                </div>
                <div class="form-group col-sm-12">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" rows="3" [disabled]='true' formControlName="othernotes"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Lens Details -->
    <div class="col-sm-12 mt-3 inventory-details form-group-mb-0" *ngIf="ContactDetails">
        <h4>Contact Lens Details</h4>
        <div class="bg-white p-2 border">
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Manufacturer </label>
                    <select class="form-control" formControlName="contmanufacturerId">
                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Lens Name </label>
                    <input type="text" class="form-control" [readonly]="true" formControlName="contname">
                </div>
                <div class="form-group col-md-3">
                    <label>UPC</label>
                    <input type="text" class="form-control" [readonly]="true" formControlName="contupc">
                </div>

                <div class="form-group col-md-3">
                    <label>Trial Lens Name </label>
                    <select class="form-control" formControlName="traillensId">
                        <option *ngFor="let trail of traillens" [ngValue]="trail.Id">{{trail.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">

                    <label>Replacement Schedule
                    </label>
                    <select class="form-control" formControlName="contReplacementScheduleId">
                        <option *ngFor="let replace of replacements" [ngValue]="replace.Id">{{replace.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Color</label>
                    <select class="form-control" formControlName="contcolorId">
                        <option *ngFor="let color of contacLenstColor" [ngValue]="color.Id">{{color.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Units</label>
                    <select name="Unit" formControlName="contunit" class="form-control">
                        <option value="">Select Unit</option>
                        <option value="Each">Each</option>
                        <option value="Pair">Pair</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="label-empty" for=""></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" disabled>
                            <label class="form-check-label">Hard Contact</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" disabled>
                            <label class="form-check-label">Inventory</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Min Qty</label>
                    <input type="text" class="form-control" [readonly]="true" name="minQty" formControlName="contminQty">
                </div>
                <div class="form-group col-md-3">
                    <label>Max Qty</label>
                    <input type="text" class="form-control" [readonly]="true" name="maxQty" formControlName="contmaxQty">
                </div>
                <div class="form-group col-md-3">
                    <label>Supplier</label>
                    <select class="form-control" formControlName="contvendorId">
                        <option [ngValue]="null">Select Supplier</option>
                        <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Packaging</label>
                    <select class="form-control" formControlName="contpackagingId">
                        <option *ngFor="let package of packageData" [ngValue]="package.id">{{package.opt_val}}</option>
                    </select>
                </div>
            </div>
            <div class="clearfix form-group"></div>
            <div class="col-md-9 nopadding mt-3">
                <h4>Pricing Per Box</h4>
                <div class="row form-row">
                    <div class="form-group col-md-4">
                        <label>Retail Price</label>
                        <input type="text" class="form-control" [readonly]="true" formControlName="contretailPrice">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Cost</label>
                        <input type="text" class="form-control" [readonly]="true" formControlName="contcost">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Profit</label>
                        <input type="text" class="form-control" [readonly]="true" formControlName="contprofit">
                    </div>
                </div>
                <div class="row form-row">
                    <div class="form-group col-md-4">
                        <label>6 Mths Price</label>
                        <input type="text" class="form-control" [readonly]="true" formControlName="six_months_price">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Qty</label>
                        <input type="text" class="form-control" [readonly]="true" formControlName="six_months_qty">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Profit</label>
                        <input type="text" class="form-control" [readonly]="true" formControlName="sixmonthsprofit">
                    </div>
                </div>
                <div class="row form-row">
                    <div class="form-group col-md-4">
                        <label>12 Mths Price</label>
                        <input type="text" class="form-control" [readonly]="true" formControlName="twelve_months_price">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Qty</label>
                        <input type="text" class="form-control" [readonly]="true" formControlName="twelve_months_qty">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Profit</label>
                        <input type="text" class="form-control" [readonly]="true" formControlName="twelvemonthsprofit">
                    </div>
                </div>
            </div>
            <div class="clearfix form-group"></div>
            <div class="col-md-9 nopadding mt-3">
                <h4>Insurance / Commission</h4>
                <div class="row form-row">
                    <div class="form-group col-md-4">
                        <label>Procedure Code</label>
                        <input type="text" class="form-control" [readonly]="true">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Structure</label>
                        <select class="form-control" [disabled]="true">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Spiff</label>
                        <input type="text" class="form-control" [readonly]="true">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-9 nopadding">
                <div class="row form-row">
                    <div class="form-group col-md-4">
                        <label>Commission Type</label>
                        <select class="form-control" [disabled]="true">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Amount</label>
                        <input type="text" class="form-control" [readonly]="true">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Gross Percentage</label>
                        <input type="text" class="form-control" [readonly]="true">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-9 nopadding">
                <div class="row form-row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="notes">Notes</label>
                            <textarea class="form-control" rows="4" id="notes" [readonly]="true"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="notes">Images</label>
                            <figure class="frame-added">
                                <i class="ti-trash"></i>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Grid -->
<div class="col-md-12 mt-3">
    <div class="table-responsive m-auto">
        <p-table #dt [value]="orderlists" [scrollable]="true" [paginator]="true" [rows]="12" [rowsPerPageOptions]="[10]"
            [style]="{width:'3100px'}" [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true"
            [reorderableColumns]="true" dataKey="ItemId" selectionMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th>Location</th>
                    <th>Retail Price </th>
                    <!-- <th>Cost</th>
                    <th>Group Cost</th>
                    <th>Source</th>
                    <th>Active</th> -->
                    <th>Purchased</th>
                    <th>Sold</th>
                    <th>On Hand</th>
                    <th>On Order</th>
                    <th>Committed</th>
                    <th>Record Point</th>
                    <th>Max Inventory Qnty</th>
                    <th>Order</th>
                    <th>12-Months Qnty</th>
                    <th>12-Months Price</th>
                    <th>6-Months Qnty</th>
                    <th>6-Months Price</th>
                    <th>Tax 1</th>
                    <th>Tax 2</th>
                    <th>Plus Days</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderlist>
                <tr>
                    <td>{{orderlist.loc_id}}</td>
                    <td>{{orderlist.retail_price}}</td>
                    <!-- <td>{{orderlist.cost}}</td>
                    <td>{{orderlist.groupcost}}</td> -->
                    <!-- <td>{{orderlist.source}}</td> -->
                    <!-- <td>{{orderlist.active}}</td> -->
                    <td>{{orderlist.quantitypurchased}}</td>
                    <td>{{orderlist.quantitysold}}</td>
                    <td>{{orderlist.onhand_qty}}</td>
                    <td>{{orderlist.on_order_qty}}</td>
                    <td>{{orderlist.committed_qty}}</td>
                    <td>{{orderlist.reorder_point}}</td>
                    <td>{{orderlist.twelve_months_qty}}</td>
                    <td>{{orderlist.twelve_months_price}}</td>
                    <td>{{orderlist.six_months_qty}}</td>
                    <td>{{orderlist.six_months_price}}</td>
                    <td>{{orderlist.taxid}}</td>
                    <td>{{orderlist.taxid2}}</td>
                    <td>{{orderlist.plus_days}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<div *ngIf="selectInvdetails">
    <p-sidebar [(visible)]="selectInvdetails" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-ptable ecl-sidebar-w70">
        <app-select-inv-details (UPCinventory)="GetUpc($event)" [GridName]="OpenSideNav"></app-select-inv-details>
    </p-sidebar>
</div>