<div class="card">
  <div class="card-header">Lab Order History</div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <p-table [value]="" class="ecl-table" [scrollable]="true" >
            <ng-template pTemplate="header">
              <tr>
                <th>Lab Order</th>
                <th>Lab</th>
                <th>Employee</th>
                <th>Date</th>
                <th>Time Taken</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-type>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-primary float-right">OK</button>
      </div>
    </div>
  </div>
</div>