<!-- Load Frames Inventory Sidebar -->

<form id="">
    <div class="card">
        <div class="card-header">Load Frames</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview">
                        <p-tabPanel header="Select Frame">
                            <div>
                                <div class="row form-row d-flex justify-content-between">
                                    <div class="form-group col">
                                        <label>Manufacturer</label>
                                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="manufacturer"></p-dropdown>
                                    </div>
                                    <div class="form-group col">
                                        <label>Collection</label>
                                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="Collection"></p-dropdown>
                                    </div>
                                    <div class="form-group col">
                                        <label>Style</label>
                                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="Style"></p-dropdown>
                                    </div>
                                    <div class="form-group col">
                                        <label>Color</label>
                                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="Color"></p-dropdown>
                                    </div>
                                    <div class="form-group col">
                                        <label class="label-empty-16"></label>
                                        <button class="btn btn-primary">Search</button>
                                        <button class="btn btn-secondary">Clear</button>
                                    </div>
                                    <div class="form-group col mt-3 mb-0">
                                        <p-radioButton name="groupname" value="Standard" label="Standard"></p-radioButton>
                                        <br>
                                        <p-radioButton name="groupname" value="Quick" label="Quick"></p-radioButton>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <p-table [scrollable]="true" [style]="{width:'2400px'}" scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th>Manufacturer</th>
                                                        <th>Collection </th>
                                                        <th>Frame Style</th>
                                                        <th>Color</th>
                                                        <th>Color Code</th>
                                                        <th>Material</th>
                                                        <th>Frame Type</th>
                                                        <th>Rim Type</th>
                                                        <th>Frame Shape</th>
                                                        <th>UPC</th>
                                                        <th>Eye</th>
                                                        <th>A</th>
                                                        <th>B</th>
                                                        <th>ED</th>
                                                        <th>Bridge</th>
                                                        <th>Temple</th>
                                                        <th>Gender</th>
                                                        <th>Lens Color</th>
                                                        <th>Status</th>
                                                        <th>New</th>
                                                        <th>Price Change</th>
                                                        <th>Inventory</th>
                                                        <th>Cost</th>
                                                        <th>Group Cost</th>
                                                        <th>Retail Price</th>

                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body">
                                                    <tr>
                                                        <td>A & A Optical</td>
                                                        <td>Cruz Eyewear</td>
                                                        <td>Abbey Rd</td>
                                                        <td>Black</td>
                                                        <td>BLACK</td>
                                                        <td>Metal</td>
                                                        <td>Metal</td>
                                                        <td>Metal</td>
                                                        <td>Modified</td>
                                                        <td>8412121212</td>
                                                        <td>52</td>
                                                        <td>53.7</td>
                                                        <td>32.6</td>
                                                        <td>57.30</td>
                                                        <td>17</td>
                                                        <td>140</td>
                                                        <td>Male</td>
                                                        <td></td>
                                                        <td>Active</td>
                                                        <td>No</td>
                                                        <td>No</td>
                                                        <td>
                                                            <p-checkbox name="groupname" value="val1"></p-checkbox>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control">
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="row form-row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>UPC</label>
                                            <input type="text" class="form-control">

                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group col">
                                            <label for="" class="label-empty-16"></label>
                                            <button class="btn btn-primary">Scan</button>
                                            <button class="btn btn-default">
                                                <i class="ti-arrow-up"></i>
                                            </button>
                                            <button class="btn btn-default">
                                                <i class="ti-arrow-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="float-right">
                                            <div class="form-group col">
                                                <label for="" class="label-empty-16"></label>
                                                <button class="btn btn-primary">Select All</button>
                                                <button class="btn btn-primary">Unselect All</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <p-table [scrollable]="true" [style]="{width:'2600px'}" scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th>Source</th>
                                                        <th>Manufacturer</th>
                                                        <th>Collection </th>
                                                        <th>Frame Style</th>
                                                        <th>Color</th>
                                                        <th>Color Code</th>
                                                        <th>Material</th>
                                                        <th>Frame Type</th>
                                                        <th>Rim Type</th>
                                                        <th>Frame Shape</th>
                                                        <th>UPC</th>
                                                        <th>Eye</th>
                                                        <th>A</th>
                                                        <th>B</th>
                                                        <th>ED</th>
                                                        <th>Bridge</th>
                                                        <th>Temple</th>
                                                        <th>Gender</th>
                                                        <th>Lens Color</th>
                                                        <th>Status</th>
                                                        <th>New</th>
                                                        <th>Price Change</th>
                                                        <th>Inventory</th>
                                                        <th>Cost</th>
                                                        <th>Group Cost</th>
                                                        <th>Retail Price</th>

                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body">
                                                    <tr>
                                                        <td>SpexUPC</td>
                                                        <td>A & A Optical</td>
                                                        <td>Cruz Eyewear</td>
                                                        <td>Abbey Rd</td>
                                                        <td>Black</td>
                                                        <td>BLACK</td>
                                                        <td>Metal</td>
                                                        <td>Metal</td>
                                                        <td>Metal</td>
                                                        <td>Modified</td>
                                                        <td>8412121212</td>
                                                        <td>52</td>
                                                        <td>53.7</td>
                                                        <td>32.6</td>
                                                        <td>57.30</td>
                                                        <td>17</td>
                                                        <td>140</td>
                                                        <td>Male</td>
                                                        <td></td>
                                                        <td>Active</td>
                                                        <td>No</td>
                                                        <td>No</td>
                                                        <td>
                                                            <p-checkbox name="groupname" value="val1"></p-checkbox>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control">
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>

                        <p-tabPanel header="Inventory Details">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Retail Price Calculation</h4>
                                    <div class="row form-row">
                                        <div class="form-group col-md-3">
                                            <label>Multiplier</label>
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Amount</label>
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Ends With</label>
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Round</label>
                                            <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="Collection"></p-dropdown>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Sample Cost</label>
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                                <label class="label-empty-16"></label>
                                                <p-checkbox name="groupname" value="val1" label="Inventory"></p-checkbox>
                                            </div>
                                        <div class="form-group col-md-3">
                                            <label>Retail Price</label>
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="label-empty-16"></label>
                                            <p-checkbox name="groupname" value="val1" label="Adjust Pricing"></p-checkbox>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="form-group col-md-3">
                                            <label>Structure</label>
                                            <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="Collection"></p-dropdown>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Spiff</label>
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="form-group col-md-3">
                                            <label>Commission Type</label>
                                            <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="Collection"></p-dropdown>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Amount</label>
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Gross Percentage</label>
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Notes</label>
                                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="form-group col-md-12">
                                            <div class="float-right">
                                                <button type="button" class="btn btn-primary">OK</button>
                                                <button type="button" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form class="form-inline float-right">
                <button type="button" class="btn btn-primary">Remove</button>
                <button type="button" class="btn btn-primary">Remove All</button>
                <button type="button" class="btn btn-primary" (click)="printBarCode()">Print Barcode</button>
                <button type="button" class="btn btn-primary">Select All</button>
                <button type="button" class="btn btn-primary">Unselect All</button>
                <button type="button" class="btn btn-primary">Details...</button>
                <button type="button" class="btn btn-primary">Import</button>
                <button type="button" class="btn btn-default">Close</button>
            </form>
        </div>
    </div>
</form>

<!-- Print Barcode -->
<p-confirmDialog width="425" class="dialog-popup" #cd>
    <p-footer>
        <button type="button" class="btn btn-default float-left">
            <i class="ti-files"></i>
        </button>
        <button type="button" class="btn btn-default float-left">
            <i class="ti-export"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="cd.reject()">Yes</button>
        <button type="button" class="btn btn-default" (click)="cd.accept()">No</button>
    </p-footer>
</p-confirmDialog>