<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-3 float-left navbar-title">
            <h2>Contact Lenses Inventory Listing</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-9">
            <li class="nav-item">
                <a class="nav-link" (click)="addcontacts()">
                    <i class="ti-plus"></i> Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="updatecontacts()">
                    <i class="icon-edit"></i> Modify
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="duplicateContactLens()">
                    <i class="ti-files"></i> Duplicate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="addLoctionclick()">
                    <i class="icon-add-all"></i> Add to All</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" (click)="deleteRows()">
                    <i class="icon-delete-all"></i> Delete All</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" (click)="columnFilter = true">
                    <i class="icon-add-all"></i> Column Filter</a>

            </li> -->
            <li class="nav-item">
                <a class="nav-link" (click)="dialogBox()">
                    <i class="ti-layout-column3"></i> Data View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="getSortAll()">
                    <i class="ti-exchange-vertical"></i> Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="reset(dt)">
                    <i class="ti-reload"></i> Refresh</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="icon-more2"></i> More</a>
                <ul class="more dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" (click)="advancedFilterSidebarClick()">Advanced Filter</a>
                    </li>
                    <li class="kopie">
                        <a class="nav-link">LOD</a>
                    </li>
                    <li class="kopie">
                        <a class="nav-link" (click)="addbarcodelabelsSet()">Labels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="pricecalculationSet()">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Synchronize</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="importcsv()">Import CSV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="deActive()">Deactivate</a>
                    </li>
                    <li class="nav-item" (click)="contactlensReActivate()">
                        <a class="nav-link">Reactivate</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<!-- table Grid -->
<div class="col-md-12 mt-3" *ngIf="rowData?.length <= 0">
    <div class="border m-auto">
        <p-table #dt [value]="contactlenslist" class="contactlens-ptable" [columns]="Contactlenscolumns"
            [scrollable]="true" [rows]="100" [paginator]="true"
            [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true" [rowExpandMode]="single"
            dataKey="id" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
            selectionMode="multiple" [(selection)]="contactMultipleSelection" [style]="{width:'100%'}"
            scrollHeight="65vh" (onSort)="customSort($event)" [customSort]="true" [lazy]="true" [first]="paginationPage"
            [totalRecords]="totalRecords" (onPage)="GetContactListByPaginator($event)">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:35px">
                    <col *ngFor="let col of Contactlenscolumns" [ngClass]="{'hidden': !col.visible}"
                        style="width:150px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="check-box"></th>
                    <th *ngFor="let col of Contactlenscolumns" [pSortableColumn]="col.field"
                        [ngClass]="{'hidden': !col.visible}" pReorderableColumn pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of Contactlenscolumns" [ngSwitch]="col.field"
                        [ngClass]="{'hidden': !col.visible}">
                        <input *ngSwitchCase="'id'" id="id" class="form-control" pInputText type="text"
                            (input)="GetcontactlensList()" [(ngModel)]="searchValue">
                        <input *ngSwitchCase="'name'" name="name" class="form-control" pInputText type="text"
                            (input)="GetcontactlensList($event)" [(ngModel)]="searchName">
                        <input *ngSwitchCase="'qty_on_hand'" class="form-control" pInputText type="text"
                            (input)="GetcontactlensList()" [(ngModel)]="searchQtyOnHand">
                        <input *ngSwitchCase="'upc_code'" class="form-control" pInputText type="text" name="upc"
                            (input)="GetcontactlensList($event)" [(ngModel)]="searchUPC">
                        <input *ngSwitchCase="'cl_packaging'" class="form-control" pInputText type="text"
                            name="Packaging" (input)="GetcontactlensList()" [(ngModel)]="searchPackaging">
                        <input *ngSwitchCase="'IsTrial'" class="form-control" pInputText type="text" name="IsTrial"
                            (input)="GetcontactlensList()" [(ngModel)]="searchIsTrial">
                        <input *ngSwitchCase="'IsDot'" class="form-control" pInputText type="text" name="IsDot"
                            (input)="GetcontactlensList()" [(ngModel)]="searchIsDot">
                        <select *ngSwitchCase="'manufacturer_id'" name="manufacturer" id="manufacturerId"
                            class="form-control" (change)="GetcontactlensList()" [(ngModel)]="searchManufa">
                            <!-- <option [value]="null">Select Manufacturer</option> -->
                            <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                        </select>
                        <!--<select *ngSwitchCase="'Brand'" name="framebrand" id="brandId" class="form-control" (change)="objChanged($event)">
                            <option [ngValue]="null">Select Brand</option>
                            <option *ngFor="let Brand of Brands" [ngValue]="Brand.Id">{{Brand.Name}}</option>
                        </select>-->
                        <select *ngSwitchCase="'colorid'" name="framecolor" id="colorId" class="form-control"
                            (change)="GetcontactlensList($event)" [(ngModel)]="searchcolour">
                            <option *ngFor="let color of Colors" [value]="color.Id">{{color.Name}}</option>
                        </select>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="Contactlenscolumns">
                <tr [pSelectableRow]="rowData" (dblclick)="doubleClickContactLens(rowData)">
                    <td class="check-box">
                        <a [pRowToggler]="rowData" [pSelectableRow]="rowData">
                            <i [ngClass]="expanded ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
                        </a>
                    </td>
                    <td *ngIf="rowID">{{rowData.id}}</td>
                    <td *ngIf="rowManufacturer">
                        {{this.utility.getArrayItem({data:Manufacturers,matchWith:'Id',matchValue:rowData.manufacturer_id,position:1,dataType:'int'})}}
                    </td>
                    <!-- <td>{{rowData.manufacturer_id}}</td> -->
                    <td *ngIf="rowLensName">{{rowData.name}}</td>
                    <!-- <td *ngIf="rowColor">{{rowData.color}}</td> -->
                    <td *ngIf="rowColor">
                        {{this.utility.getArrayItem({data:Colors,matchWith:'Id',matchValue:rowData.colorid,position:1,dataType:'int'})}}
                    </td>
                    <td *ngIf="rowPackaging">{{rowData.cl_packaging}}</td>
                    <td *ngIf="rowTrial"></td>
                    <td *ngIf="rowDot"></td>
                    <td *ngIf="rowOnHand">{{rowData.qty_on_hand}}</td>
                    <td *ngIf="rowUPC">{{rowData.upc_code}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion">
                <tr>
                    <td [attr.colspan]="Contactlenscolumns.length + 1">
                        <table class="table table-bordered table-striped table-hover m-0">
                            <thead>
                                <tr>
                                    <th>Types</th>
                                    <th>Materials</th>
                                    <th>WearSchedule</th>
                                    <th>Replacement</th>
                                    <th>Supply</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Typedata}}</td>
                                    <td>{{Materialdata}}</td>
                                    <td>{{WearScheduledata}}</td>
                                    <td>{{Replacedata}}</td>
                                    <td>{{Supplydata}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <p-table >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Types</th>
                                        <th>Materials</th>
                                        <th>WearSchedule</th>
                                        <th>Replacement</th>
                                        <th>Supply</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-car>
                                    <tr>
                                        <td>{{Typedata}}</td>
                                        <td>{{Materialdata}}</td>
                                        <td>{{Replacedata}}</td>
                                        <td>{{Supplydata}}</td>
                                        <td>{{WearScheduledata}}</td>
                                    </tr>
                                </ng-template>
                            </p-table> -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- <p-sidebar [(visible)]="columnFilter" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w20">
        <div class="card">
            <div class="card-body">
                <ul class="list-unstyled">
                    <li *ngFor="let col of Contactlenscolumns">
                        <mat-checkbox id="{{col.header}}" [checked]="col.visible" (change)="checkBoxClick(col.header, $event)" [disabled]="tableHeaderFilters.includes(col.header)">
                            <span [innerHTML]="col.header"></span>
                        </mat-checkbox>
                    </li>
                </ul>
            </div>
        </div>
    </p-sidebar> -->


<!-- undo -->
<p-dialog class="dataview-popup" header="Data View" [(visible)]="display" [modal]="true" [responsive]="true"
    [width]="150" [minWidth]="200" [minY]="70">
    <div class="card">
        <div class="card-body">
            <ul class="list-unstyled">
                <mat-checkbox id="selectAll" [checked]="samplevisible" (change)="checkBoxClick('selectAll' ,$event)">
                    <span>Select All</span>
                </mat-checkbox>
                <li *ngFor="let col of Contactlenscolumns">
                    <mat-checkbox id="{{col.header}}" [checked]="col.visible"
                        (change)="checkBoxClick(col.header, $event)"
                        [disabled]="tableHeaderFilters.includes(col.header)">
                        <span [innerHTML]="col.header"></span>
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
</p-dialog>

<!-- Add supplier -->
<div *ngIf="addInventory">
    <p-sidebar [(visible)]="addInventory" position="right" [baseZIndex]="10000"
        class="ecl-sidebar add-inventory ecl-sidebar-w70">
        <app-add-inventory [locationItem]="locationFrameId" [imageItem]="imageItemId"
            (contactAddItem)="contactAddItemEvent($event)" [showconfigtab]="showconfigtab"></app-add-inventory>
    </p-sidebar>
</div>

<!-- dialog Box -->
<dialog-box #deleteRow> </dialog-box>
<deactivate #deactivateRow (ContactDeactive)="ContactDeactiveEvent($event)"> </deactivate>
<app-import-csv #importcsvBox> </app-import-csv>
<!-- Reactivate -->
<div *ngIf="contactlensReActivateItems">
    <p-sidebar [(visible)]="contactlensReActivateItems" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-ptable ecl-sidebar-w50">
        <app-inventory-contactlens-reactivate (ContactReactive)="ContactReactiveEvent($event)">
        </app-inventory-contactlens-reactivate>
    </p-sidebar>
</div>

<div *ngIf="pricecalculation">
    <p-sidebar [(visible)]="pricecalculation" position="right" [baseZIndex]="10000"
        class="ecl-sidebar pricecalculation">
        <app-pricecalculation></app-pricecalculation>
    </p-sidebar>
</div>

<!-- Advanced Filter -->
    <p-sidebar [(visible)]="advancedFilterSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w40">
        <app-inventory-contactlens-advancedfilter (contactAdvFilter)="contactAdvFilterEvent($event)">
        </app-inventory-contactlens-advancedfilter>
    </p-sidebar>
<div *ngIf="addLoctionContact">
    <p-sidebar [(visible)]="addLoctionContact" position="right" [baseZIndex]="10000" class="ecl-sidebar">
        <app-add-location (contactLocations)="contactLocationsEvent($event)"></app-add-location>
    </p-sidebar>
</div>

<!-- Sort All Inventory -->
<div *ngIf="sortallinventory">
    <p-sidebar [(visible)]="sortallinventory" position="right" [baseZIndex]="10000" class="ecl-sidebar w-25">
        <app-sort-all-inventory (sortalloutput)="sortallevent($event)" [sortAllInput]="sortByName">
        </app-sort-all-inventory>
    </p-sidebar>
</div>
<div *ngIf="addbarcodelabels">
    <p-sidebar [(visible)]="addbarcodelabels" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w80 barcode-labels">
        <barcodelabels></barcodelabels>
    </p-sidebar>
</div>