<form>
        <div class="card order-other-discount">
            <div class="card-header">Return </div>
            <div class="card-body">
                <div class="row form-row">
                    <div class="form-group col-md-6">
                        <label class="label-bold">Return Reason</label>
                        <input type="text" class="form-control" id="">
                    </div>
                    <div class="col-md-12">
    
                        <div class="table-responsive">
                            <p-table #dt [value]="returnorderlist" selectionMode="single" class="ecl-table" [scrollable]="true"
                                [style]="{width:'100%'}" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Description</th>
                                        <th style="width:100px;">Eye</th>
                                        <th style="width:100px;">Qty</th>
                                        <th style="width:100px;">Ordered Qty</th>
                                        <th style="width:100px;">Return</th>
                                        <th>What would you like to do with the original item?</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data let-i="rowIndex">
                                    <tr>
                                        <td>{{data.Charges}}</td>
                                        <td style="width:100px;">{{data.Eye}}</td>
                                        <td style="width:100px;"><input type="text"  class="form-control" [(ngModel)]="data.returnQty" (input)="quantityInput(i,$event)" [ngModelOptions]="{standalone: true}"> </td>
                                        <td style="width:100px;">{{data.quantity}}</td>
                                        <td style="width:100px;">
                                            <p-checkbox binary="true" (onChange)=returnItemschecked($event,i) >
                                            </p-checkbox>
                                        </td>
    
                                        <!-- <td><p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown></td> -->
                                        <td>
                                            <select class="custom-select-choose form-control" (change)="OrginalItemReason(i,$event)">
                                                <option *ngFor="let item of originalItem" [value]="item.id">{{item.name}}
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <!-- <button type="button" class="btn btn-secondary float-right">Close</button>
                <button type="button" class="btn btn-primary float-right">Sort</button>
                <button type="button" class="btn btn-primary float-right">Filter</button>
                <button type="button" class="btn btn-primary float-right">Select</button>
                <button type="button" class="btn btn-primary float-right">Duplicate Product</button>
                <button type="button" class="btn btn-primary float-right">Add Product</button>
                <button type="button" class="btn btn-primary float-right">CLOD</button> -->
                <button type="button" class="btn btn-default float-right" (click)="onReturnClose()">Cancel</button>
                <button type="button" class="btn btn-primary float-right" (click)="returnQuantity()">Save</button>
            </div>
        </div>
    </form>