<form>
    <div class="card order-other-discount">
        <div class="card-header">View Frame Inventory </div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-4 col-md-2">
                    <label>Location </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Manufacturer </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Collection </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Frame </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>UPC </label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">

                        <p-table [value]="framelist" class="ecl-table" [scrollable]="true" [style]="{width:'2800px'}"
                            scrollHeight="320px" selectionMode="multiple"  [(selection)]="RecievingInventorySelection" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>Location</th>
                                    <th>Collection</th>
                                    <th>Name</th>
                                    <th>Color</th>
                                    <th>Color#</th>
                                    <th>On Hand</th>
                                    <th>Default Retail</th>
                                    <th>UPC</th>
                                    <th>Material</th>
                                    <th>Frame Type</th>
                                    <th>Rim Type</th>
                                    <th>Shape</th>
                                    <th>Eye</th>
                                    <th>A</th>
                                    <th>B</th>
                                    <th>Ed</th>
                                    <th>Bridge</th>
                                    <th>Temple</th>
                                    <th>Lens Color</th>
                                    <th>Gender</th>
                                    <th>Frame Usage</th>
                                    <th>Status</th>
                                    <th>User SKU</th>
                                    <th>Source</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-framelist>
                                <tr [pSelectableRow]="framelist" >
                                    <td>{{framelist.id}}</td>
                                    <td>{{framelist.loc_id}}</td>
                                    <td>{{framelist.collectionname}}</td>
                                    <td>{{framelist.name}}</td>
                                    <td>{{framelist.color}}</td>
                                    <td>{{framelist.color_code}}</td>
                                    <td>{{framelist.qty_on_hand}}</td>
                                    <td>{{framelist.retail_price}}</td>
                                    <td>{{framelist.upc_code}}</td>
                                    <td>{{framelist.material_id}}</td>
                                    <td>{{framelist.type_id}}</td>
                                    <td>{{framelist.rimtypeid}}</td>
                                    <td>{{framelist.frame_shape}}</td>
                                    <td>{{framelist.eyesize}}</td>
                                    <td>{{framelist.a}}</td>
                                    <td>{{framelist.b}}</td>
                                    <td>{{framelist.ed}}</td>
                                    <td>{{framelist.bridge}}</td>
                                    <td>{{framelist.temple}}</td>
                                    <td>{{framelist.lenscolor}}</td>
                                    <td>{{framelist.gender}}</td>
                                    <td>{{framelist.frameusageid}}</td>
                                    <td>{{framelist}}</td>
                                    <td>{{framelist.sku}}</td>
                                    <td>{{framelist.sourceid}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right" (click)="frameClose()">Close</button>
            <button type="button" class="btn btn-primary float-right">Sort</button>
            <button type="button" class="btn btn-primary float-right">Filter</button>
            <button type="button" class="btn btn-primary float-right" (click)="addProduct()">Select</button>
            <button type="button" class="btn btn-primary float-right">Duplicate Product</button>
            <button type="button" class="btn btn-primary float-right" >Add Product</button>
            <button type="button" class="btn btn-primary float-right">Frames Data</button>
            <p-checkbox name="groupname" value="val1" label="Exclude quantity of less than one"></p-checkbox>
        </div>
    </div>
</form>