<form>
    <div class="card order-other-discount">
        <div class="card-header">After Sales Wizard</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 mb-2">
                    <!-- <div class="form-group col-sm-3">
                        <label>Reason</label>
                        <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                    </div> -->
                    <button type="button" class="btn btn-primary btn-sm float-right  py-1 px-3" (click)="selectInventory()">
                        Select Inventory
                    </button>
                </div>
                <div class="col-md-6">
                    <h4> Original Items</h4>
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <td>Description</td>
                                    <td>Eye</td>
                                    <td>Qty</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>New Items</h4>
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <td>Description</td>
                                    <td>Eye</td>
                                    <td>Qty</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">Next</button>
            <button type="button" class="btn btn-secondary float-right">Back</button>
        </div>
    </div>
</form>

<!-- After Sales  -->
<div *ngIf="selectInventorySidebar">
    <p-sidebar [(visible)]="selectInventorySidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-select-inventory></app-select-inventory>
    </p-sidebar>
</div>