<div class="col-sm-12">
                        <div class="text-right ">
                          <div class="form-inline">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name=""  value="option1" >
                              <label class="form-check-label" for=""> Print Image </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="exampleRadios"  value="option1" >
                              <label class="form-check-label" > ANSI 837 </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="exampleRadios"  value="option1" >
                              <label class="form-check-label" for="exampleRadios1"> Eyefinity VSP and Non-VSP </label>
                            </div>
                            <button type="button" class="orgbutton btn-sm ml-1">Electronic</button>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="pl-3 pr-3 mt-2">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="box">
                                <div class="boxhead">
                                  <h2>Signing Provider</h2>
                                </div>
                                <div class="pl-3 pr-3">
                                  <div class="row">
                                    <div class="col-sm-4">
									<label >Signing Provider</label>  
                                   <select class="form-control minimal" >
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
                                   </div>
                                     <div class="col-sm-4">
									<label >Signed</label>  
                                   <input type="text" class="form-control"  placeholder="">            </div>
                                    <div class="col-sm-4">
									<label >Date</label>  
                                   <select class="form-control minimal" >
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
                                   </div>
                                  </div>
                                </div>
                              </div>
                              <div class="clearfix"></div>
                              <div class="box">
                                <div class="boxhead">
                                  <h2>Facility Address</h2>
                                </div>
								 
								  	<div class="form-check ml-2">
  <input class="form-check-input" type="checkbox" value="" >
  <label class="form-check-label" for="defaultCheck1">
    Facility address is different from billing address
  </label>
</div>	
                                <div class="pl-3 pr-3">
								
									<div class="clearfix"></div>
                                 
                                  <div class="row">
                                    <div class="col-sm-12">
								
                                   <select class="form-control minimal mb-1" >
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
                                   </div>
                                     <div class="col-sm-12 mb-1">
									
                                   <input type="text" class="form-control"  placeholder="">            </div>
                                    <div class="col-sm-12 mb-1">
									
                                   <input type="text" class="form-control"  placeholder="">                    </div>
                                    <div class="col-sm-12 mb-1">
									
                                   <input type="text" class="form-control"  placeholder="">                    </div>
                                     <div class="col-sm-6 mb-1">
										 <label>NPI</label>
                                   <input type="text" class="form-control"  placeholder="">                    </div>
                                     <div class="col-sm-6 mb-1">
									<label>&nbsp;</label>
                                   <input type="text" class="form-control"  placeholder="">                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="box"> 
							  <div class="boxhead">
                                  <h2>Billing Provider info & Phone </h2>
                                </div>	
                           <div class="pl-3 pr-3">
                                  <div class="row">
                                    <div class="col-sm-6 mb-1">
									<label >Billing Provider</label>  
                                   <select class="form-control minimal" >
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
                                   </div>
                                     <div class="col-sm-6 mb-1">
									<label >Billing Phone No.</label>  
                                   <input type="text" class="form-control"  placeholder="">            </div>
                                    <div class="col-sm-12 mb-1">
									
                                 <input type="text" class="form-control"  placeholder="">   
                                   </div>
                                   <div class="col-sm-12 mb-1">
									
                                 <input type="text" class="form-control"  placeholder="">   
                                   </div>
                                   <div class="col-sm-12 mb-1">
									
                                 <input type="text" class="form-control"  placeholder="">   
                                   </div>
                                   
                                     <div class="col-sm-6 mb-1">
									<label >NPI</label>  
                                  <input type="text" class="form-control"  placeholder="">   
                                   </div>
                                     <div class="col-sm-6 mb-1">
									&nbsp; 
                                 <input type="text" class="form-control"  placeholder="">   
                                   </div>
                                     <div class="col-sm-6 mb-1">
									<label >Federal Tax Type</label>  
                                <input type="text" class="form-control"  placeholder="">  
                                   </div>
                                     <div class="col-sm-6 mb-1">
									<label >Tax ID No.</label>  
                                   <input type="text" class="form-control"  placeholder="">  
                                   </div>
									  <div class="col-sm-12">
									  		<div class="form-check ml-2">
  <input class="form-check-input" type="checkbox" value="" >
  <label class="form-check-label" for="defaultCheck1">
    Pay-to Address
  </label>
</div>	
									  	
									  	
									  </div>
                               
                                  </div>
                                </div>
                           </div>
                            </div>
							  <div class="col-sm-4 ">
								  <label>Patient Account No.</label>
								  <div class="clearfix"></div>
								 <div class="form-inline "> <input type="text" class="form-control"  placeholder="">
								  <div class="form-check ml-2">
  <input class="form-check-input" type="checkbox" value="" >
  <label class="form-check-label" for="defaultCheck1">
    Accept Assignment
  </label>
</div></div>
							  	
							  </div>
							  <div class="col-sm-12 provnote">
							  	<label>Notes</label>
							  	<textarea class="form-control"  rows="3"></textarea>
							  </div>
                          </div>
							<div class="mt-2 mb-2 text-center">
								<button type="submit" class="orgbutton">Verify Eyefinity Order</button>
								<button type="submit" class="blubutton">VSP Doctor Service Report</button>
								<button type="submit" class="grybutton">View Eyefinity Non-VSP Claim</button>
								
							</div>
                        </div>
                      </div>