<form>
    <div class="card order-other-discount">
        <div class="card-header">Select Inventory</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-row">
                        <div class="form-group col">
                            <label>Location</label>
                            <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                        <div class="form-group col">
                            <label>Manufacturer</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Coll</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Frame</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>UPC</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'3100px'}"
                            scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="check-box">ID</th>
                                    <th>Location</th>
                                    <th>Manufacturer</th>
                                    <th>Collection</th>
                                    <th>Name</th>
                                    <th>Color</th>
                                    <th>Color #</th>
                                    <th>On Hand</th>
                                    <th>Default Retail</th>
                                    <th>Location Retail</th>
                                    <th>UPC</th>
                                    <th>Material</th>
                                    <th>Frame Type</th>
                                    <th>Rim Type</th>
                                    <th>Shape</th>
                                    <th>Eye</th>
                                    <th>A</th>
                                    <th>B</th>
                                    <th>Ed</th>
                                    <th>Bridge</th>
                                    <th>Temple</th>
                                    <th>Lens Color</th>
                                    <th>Gender</th>
                                    <th>Frame Usage</th>
                                    <th>Status</th>
                                    <th>User SKU</th>
                                    <th>Source</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary float-right">Cancel</button>
                <button type="button" class="btn btn-primary float-right">Sort</button>
                <button type="button" class="btn btn-primary float-right">Filter...</button>
                <button type="button" class="btn btn-primary float-right">Select</button>
                <button type="button" class="btn btn-primary float-right">Duplicate Product...</button>
                <button type="button" class="btn btn-primary float-right">Add Product...</button>
                <p-checkbox name="groupname" value="Print" label="Exclude quantity of less than one" class="float-left"></p-checkbox>
            </div>
        </div>
    </div>
</form>