<form>
    <div class="card order-other-discount">
        <div class="card-header">Select Inventory</div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-12" *ngIf="frameGrid">
                    <div class="table-responsive">
                        <p-table [value]="framelist" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}"
                            [paginator]="true" [rows]="16" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>UPC</th>
                                    <th>Manufacturer</th>
                                    <th>Name</th>
                                    <th>Color</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-framelist>
                                <tr [pSelectableRow]="framelist" (dblclick)="DoubleClickGrid(framelist)">
                                    <td>{{framelist.itemId}}</td>
                                    <td>{{framelist.UPC}}</td>
                                    <td>{{framelist.Manufacturer}}</td>
                                    <td>{{framelist.Name}}</td>
                                    <td>{{framelist.Color}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="col-md-12" *ngIf="spectacleGrid">
                    <div class="table-responsive">
                        <p-table [value]="Specatablelist" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}"
                            [paginator]="true" [rows]="16" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>UPC</th>
                                    <th>Manufacturer</th>
                                    <th>Name</th>
                                    <th>Color</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Specatablelist>
                                <tr [pSelectableRow]="Specatablelist" (dblclick)="DoubleClickGrid(Specatablelist)">
                                    <td>{{Specatablelist.ItemId}}</td>
                                    <td>{{Specatablelist.UPC}}</td>
                                    <td>{{Specatablelist.Manufacturer}}</td>
                                    <td>{{Specatablelist.Name}}</td>
                                    <td>{{Specatablelist.ColorId}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="col-md-12" *ngIf="lensGrid">
                    <div class="table-responsive">
                        <p-table [value]="lenstreatmentGridlist" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}"
                            [paginator]="true" [rows]="16" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>UPC</th>
                                    <th>Unit</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-lenstreatmentGridlist>
                                <tr [pSelectableRow]="lenstreatmentGridlist" (dblclick)="DoubleClickGrid(lenstreatmentGridlist)">
                                    <td>{{lenstreatmentGridlist.itemId}}</td>
                                    <td>{{lenstreatmentGridlist.UPC}}</td>
                                    <td>{{lenstreatmentGridlist.unitmeasure}}</td>
                                    <td>{{lenstreatmentGridlist.Name}}</td>
                                    <td>{{lenstreatmentGridlist.vspCode}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="col-md-12" *ngIf="contactGrid">
                    <div class="table-responsive">
                        <p-table [value]="contactlenslist" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}"
                            [paginator]="true" [rows]="16" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>UPC</th>
                                    <th>Unit</th>
                                    <th>Name</th>
                                    <!-- <th>Code</th>    -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-contactlenslist>
                                <tr [pSelectableRow]="contactlenslist" (dblclick)="DoubleClickGrid(contactlenslist)">
                                    <td>{{contactlenslist.ItemId}}</td>
                                    <td>{{contactlenslist.UPC}}</td>
                                    <td>{{contactlenslist.Unit}}</td>
                                    <td>{{contactlenslist.Name}}</td>
                                    <!-- <td>{{contactlenslist.vspCode}}</td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="col-md-12" *ngIf="otherGrid">
                    <div class="table-responsive">
                        <p-table [value]="otherinventorylist" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}"
                            [paginator]="true" [rows]="16" selectionMode="single" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>UPC</th>
                                    <th>Price</th>
                                    <th>Name</th>
                                    <!-- <th>Code</th>    -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-otherinventorylist>
                                <tr [pSelectableRow]="otherinventorylist" (dblclick)="DoubleClickGrid(otherinventorylist)">
                                    <td>{{otherinventorylist.ItemId}}</td>
                                    <td>{{otherinventorylist.UPC}}</td>
                                    <td>{{otherinventorylist.RetailPrice}}</td>
                                    <td>{{otherinventorylist.Name}}</td>
                                    <!-- <td>{{otherinventorylist.vspCode}}</td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right" (click)="onCancleClick()">Cancel</button>
            <button type="button" class="btn btn-primary float-right" (click)="onSelectClick()">Select</button>
        </div>
    </div>
</form>