<div class="col-md-12">
    <h4 class="mt-3">Supplier</h4>
</div>
<form [formGroup]="PurchaseForm" #formDir="ngForm" (input)="supplierFormChange()">
    <div class="col-md-12">
        <div class="form-row">
            <div class="col-md-4 form-group">
                <label>Supplier <span class="text-danger" *ngIf="PurchaseForm.controls['vendor_id'].hasError('required' )">
                    * </span></label>
                <select name="labby" class="form-control" (change)="supplierChange()" formControlName="vendor_id">
                    
                    <option *ngFor="let supplier of supplierlist" [value]="supplier.id">{{supplier.vendor_name}}</option>
                </select>
                <!-- <p-dropdown [style]="{'width':'100%'}"></p-dropdown> -->
            </div>
            <div class="col-md-4 form-group">
                <label>Address line 1 </label>
                <input type="text" class="form-control" formControlName="vendor_address1">
            </div>
            <div class="col-md-4 form-group">
                <label>Address line 2 </label>
                <input type="text" class="form-control" formControlName="vendor_address2">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2 form-group">
                <label>City </label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="col-md-2 form-group">
                <label>State </label>
                <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="col-md-2 form-group">
                <label>Zip </label>
                <input type="text" class="form-control" formControlName="zip">
            </div>
            <div class="col-md-2 form-group">
                <label>Phone </label>
                <input type="text" class="form-control" formControlName="mobile">
            </div>
            <div class="col-md-2 form-group">
                <label>Fax </label>
                <input type="text" class="form-control" formControlName="fax">
            </div>
            <div class="col-md-2 form-group">
                <label>Email </label>
                <input type="text" class="form-control" formControlName="email">
            </div>
        </div>
    </div>
</form>