<form>
    <div class="card order-other-discount">
        <div class="card-header">View Contact Lens Inventory </div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-4 col-md-2">
                    <label>Location </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Manufacturer </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-md-8">
                    <div class="form-row">
                        <div class="col">
                            <label>Sphere </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label>Cylinder </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label>Axis </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label>Add </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label>Base Curve </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label>Diameter </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label>Multifocal </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <p-table [value]="framelist" class="ecl-table" [paginator]="true" [rows]="10" [scrollable]="true" [style]="{width:'1800px'}"
                                scrollHeight="200px" selectionMode="multiple"  [(selection)]="RecievingInventorySelection" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>ID</th>
                                        <th>Location</th>
                                        <th>Manufacturer</th>
                                        <th>Lens Name</th>
                                        <th>Rep. Schedule</th>
                                        <th>Type</th>
                                        <th>Style</th>
                                        <th>Default Retail</th>
                                        <th>Location Retail</th>
                                        <th>Units</th>
                                        <th>6 Months</th>
                                        <th>12 Months</th>
                                        <th>Procedure Code</th>
                                        <th>Warranty</th>
                                        <th>Last Updated</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-framelist>
                                    <tr [pSelectableRow]="framelist">
                                        <td>{{framelist.id}}</td>
                                          <td>{{framelist.loc_id}}</td>
                                          <td>{{framelist.manufacturer_id}}</td>
                                          <td>{{framelist.name}}</td>
                                          <td>{{framelist}}</td>
                                          <td>{{framelist.cl_type}}</td>
                                          <td>{{framelist.style}}</td>
                                          <td>{{framelist.retail_price}}</td>
                                          <td>{{framelist}}</td>
                                          <td>{{framelist.units}}</td>
                                          <td>{{framelist.six_months_price}}</td>
                                          <td>{{framelist.twelve_months_price}}</td>
                                          <td>{{framelist.procedure_code}}</td>
                                          <td>{{framelist}}</td>
                                          <td>{{framelist.modified_date}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
                <button type="button" class="btn btn-secondary float-right" (click)="onClosecontactLens()">Close</button>
                <button type="button" class="btn btn-primary float-right">Sort</button>
                <button type="button" class="btn btn-primary float-right">Filter</button>
                <button type="button" class="btn btn-primary float-right" (click)="addProduct()">Select</button>
                <button type="button" class="btn btn-primary float-right">Duplicate Product</button>
                <button type="button" class="btn btn-primary float-right" >Add Product</button>
                <button type="button" class="btn btn-primary float-right">CLOD</button>
            </div>
    </div>
</form>