<p-dialog class="dialog-popup"  positionLeft="100%" [(visible)]="display" [modal]="true" [responsive]="true" [width]="480"
    [minWidth]="200" [minY]="70">
    <p-header>
        {{header}}
    </p-header>
    <h5>{{footer}}</h5>
    <p-footer>
        <button *ngIf="buttontwo != ''" type="button" class="btn btn-default mr-1" (click)="display=false;btnAct.emit({action:false,id:Id})">{{buttontwo}}</button>
        <button type="button" class="btn btn-primary" (click)="display=false;btnAct.emit({action:true,id:Id})">{{buttonone}}</button>
    </p-footer>
</p-dialog>