<form>
    <div class="card order-other-discount">
        <div class="card-header">Search Order</div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>Last Name </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>First Name </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Patient No #</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Ref No #</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>Home Phone</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Work Phone </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Physician </label>
                    <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>Order No #</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Order Date </label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-sm-3">
                    <label>Type </label>
                    <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-3">
                    <label>Status </label>
                    <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>Insurance</label>
                    <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-3">
                    <label>Tray Number </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Location </label>
                    <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row">
                <div class=" form-group col-md-12 mt-4">
                    <p-radioButton name="orderfilter" value="History" label="History"></p-radioButton>
                    <p-radioButton class=" ml-2" name="orderfilter" value="Search" label="Search"></p-radioButton>
                    <p-radioButton class=" ml-2" name="orderfilter" value="Orders by patient" label="Orders By Patient"></p-radioButton>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'1310px'}"
                            scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location</th>
                                    <th>Order No #</th>
                                    <th>Order Type</th>
                                    <th>Order Date</th>
                                    <th>Status</th>
                                    <th>Tray Number</th>
                                    <th>Last Name</th>
                                    <th>Middle</th>
                                    <th>First Name</th>
                                    <th>Patient No #</th>
                                    <th>Physician</th>
                                    <th>Pat Balance</th>
                                    <th>Ins Balance</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">Clear</button>
            <button type="button" class="btn btn-primary float-right">Add</button>
            <button type="button" class="btn btn-primary float-right">Select</button>
            <button type="button" class="btn btn-primary float-right">Search</button>
        </div>
    </div>
</form>