<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-2 float-left navbar-title">
            <h2>Claims</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-10">
            <li class="nav-item">
                <a class="nav-link" (click)="searchClaim()">
                    <i class="ti-search"></i> Search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    Select
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> <i class="ti-plus"></i>
                    Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    Copy
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class=" form-group col-md-12 mt-4">
    <p-radioButton name="claimsearch" value="History" label="History"></p-radioButton>
    <p-radioButton class=" ml-2" name="claimsearch" value="Search" label="Search"></p-radioButton>
</div>
<div class="col-md-12 mt-3">
    <div class="border m-auto">
        <p-table #dt [value]="" [scrollable]="true" [paginator]="true" [rows]="12" [rowsPerPageOptions]="[10]"
            [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true" [reorderableColumns]="true"
            dataKey="ItemId" selectionMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th>Location</th>
                    <th>Claim #</th>
                    <th>Order #</th>
                    <th>Patient #</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Status</th>
                    <th>Billing As</th>
                    <th>Insurance Type</th>
                    <th>Insurance Company</th>
                    <th>Insurance ID</th>
                    <th>Created</th>
                    <th>Submitted</th>
                    <th>Charges</th>
                    <th>Paid</th>
                    <th>Balance</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderlist>
                <tr>
                    <td>{{orderlist.orderno}}</td>
                    <td>{{orderlist.status}}</td>
                    <td>{{orderlist.delivereddate}}</td>
                    <td>{{orderlist.location}}</td>
                    <td>{{orderlist.orderdate}}</td>
                    <td>{{orderlist.patientID}}</td>
                    <td>{{orderlist.lastname}}</td>
                    <td>{{orderlist.firstname}}</td>
                    <td>{{orderlist.balance}}</td>
                    <td>{{orderlist.insbalance}}</td>
                    <td>{{orderlist.patbalance}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<!-- Payment search Order -->
<div *ngIf="searchClaimSidebar">
    <p-sidebar [(visible)]="searchClaimSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-claim-search></app-claim-search>
    </p-sidebar>
</div>