<form id=addtaxdata [formGroup]="TaxForm" #formDir="ngForm" novalidate>
<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Tax</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8">
            <li class="nav-item">
                <a (click)="addtax()" class="nav-link">
                    <i class="ti-plus"></i> Add</a>
            </li>
            <li class="nav-item" (click)="updatetax()">
                <a class="nav-link">
                    <i class="icon-edit"></i> Modify</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-trash"></i> Delete</a>
            </li> -->
        </ul>
    </div>
</nav>

<div class="col-md-12 mt-3">
        <div class="border m-auto">
            <div class="table-responsive">
                <p-table #dt [value]="taxgridobj" class="ecl-table" [scrollable]="true" [resizableColumns]="true" [reorderableColumns]="true"
                    [responsive]="true" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [rows]="20" [paginator]="true" selectionMode="single"
                    [style]="{width:'100%'}" scrollHeight="65vh">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of taxcolumns" style="width:120px" [ngClass]="{'hidden': !col.visible}">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>                          
                            <th *ngFor="let col of taxcolumns"  pReorderableColumn
                            pResizableColumn [pSortableColumn]="col.field" [ngClass]="{'hidden': !col.visible}">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                       
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-supplier>
                        <tr [pSelectableRow]="rowData" (dblclick)="DoubleClicktax(rowData)">                           
                            <td *ngFor="let col of taxcolumns"  [ngClass]="{'hidden': !col.visible}">                                
                                    {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

<!-- Tax Details Sidevar -->
<p-sidebar [(visible)]="taxDetailsSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w30">
    <div class="card">
        <div class="card-header">{{taxheader}}</div>


        <div class="card-body">
            <div class="form-group">
                <label>Description
                        <span class="text-danger" *ngIf="TaxForm.controls['taxdesc'].hasError('required')">
                            *</span>
                    </label>
                <input type="text" class="form-control"   formControlName="taxdesc">
            </div>
            <div class="form-group">               
                <label>Tax Rate
                        <span class="text-danger" *ngIf="TaxForm.controls['taxrate'].hasError('required')">
                            *</span>
                    </label>
                <input type="text" class="form-control"  formControlName="taxrate">
            </div>
            <div class="form-group">
                    <p-checkbox name="group2"  value="status" label="IsActive" formControlName="status"
                    inputId="ny" binary="true" [disabled]="isactivestatus"></p-checkbox>
             </div>            
        </div>
        <div class="card-footer">
            <form class="form-inline float-right">
                <button type="button" class="btn btn-default" (click)="canceltax()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="Savetax()">Save</button>
            </form>
        </div>
    </div>
</p-sidebar>
</form>