<div class="card">
    <div class="card-header">Advanced Filter</div>
    <form [formGroup]="othersAdvanceFilterForm">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row form-row">
                    <div class="form-group col-sm-6">
                        <label>Location</label>
                        <select name="" id="" class="form-control" [disabled]="true"></select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>ID</label>
                        <input type="text" class="form-control" formControlName="id" >
                    </div>
                    <div class="form-group col-md-6">
                        <label>Code</label>
                        <input type="text" class="form-control" formControlName="procedure_code" >
                    </div>
                    <div class="form-group col-md-6">
                        <label>Category</label>
                        <select class="form-control" formControlName="categoryid">
                                <option *ngFor="let category of categories" [ngValue]="category.Id">{{category.Name}}</option>
                            </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name">

                    </div>
                    <div class="form-group col-md-6">
                        <label>On Hand</label>
                        <input type="text" class="form-control" formControlName="qty_on_hand">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Retail Price</label>
                        <input type="text" class="form-control" formControlName="retail_price" >
                    </div>
                    <div class="form-group col-sm-6">
                        <label>UPC</label>
                        <input type="text" class="form-control" formControlName="upc_code">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" (click)="onOkClick()">OK</button>
            <button type="button" class="btn btn-primary float-right" (click)="clearAll()">Clear All</button>
            <div class="form-group form-check float-left">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Contains</label>
            </div>
        </div>
    </div>
</div>