<!-- Patient Header -->
<!-- <patient-bar></patient-bar> -->
<!-- Patient Header End-->

<!-- Filter -->
<app-order-filter></app-order-filter>
<!-- Filter end -->

<div class="col-md-12 ecl-order-content">

    <p-tabView orientation="left" class="ecl-leftTabview">
        <p-tabPanel header="Hard Contact Lens">
            <app-order-hard-contact-lens></app-order-hard-contact-lens>
        </p-tabPanel>
        <p-tabPanel header="Other Details">
            <app-order-other-details></app-order-other-details>
        </p-tabPanel>
        <p-tabPanel header="Shipping Details">
                <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <app-order-shipping-details></app-order-shipping-details>
                        </div>
                    </div>
        </p-tabPanel>
    </p-tabView>

</div>



<!-- Select Contact lens Sidebar -->
<p-sidebar [(visible)]="selectContactlensSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w80">
    <app-order-select-contactlens-od></app-order-select-contactlens-od>
</p-sidebar>