<form id=addothers [formGroup]="othersForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Add Inventory</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview" (onChange)="onOtherTabsClick($event)">
                        <p-tabPanel header="Other Inventory Details">
                            <div class="row form-row">
                                <div class="form-group col-sm-4">
                                    <label>Category
                                        <span class="text-danger" *ngIf="othersForm.controls['categoryid'].hasError('required')">
                                            * </span>
                                    </label>
                                    <select class="form-control" formControlName="categoryid">
                                        <option *ngFor="let category of categories" [ngValue]="category.Id">{{category.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>supplier

                                    </label>
                                    <select class="form-control" formControlName="vendor_id">
                                        <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-sm-12">
                                    <label>Name
                                        <span class="text-danger" *ngIf="othersForm.controls['name'].hasError('required')">
                                            * </span>
                                    </label>
                                    <input type="text" class="form-control" formControlName="name">

                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-sm-3">
                                    <label>UPC
                                        <span class="text-danger" *ngIf="othersForm.controls['upc_code'].hasError('required')">
                                            * </span>
                                    </label>
                                    <input type="text" class="form-control" formControlName="upc_code" (keypress)="keyPress($event)"
                                    [readonly]='upcdisable'  maxlength=14>
                                </div>
                                <div class="form-group col-sm-1">
                                    <label>Retail</label>
                                    <input type="text" class="form-control" (input)="profitcalculate();"
                                        formControlName="retail_price">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label>Cost</label>
                                    <input type="text" class="form-control" (input)="profitcalculate();"
                                        formControlName="wholesale_cost">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label>Profit</label>
                                    <input type="text" [readonly]="true" formControlName="profit" class="form-control">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="label-empty" for=""></label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" formControlName="inventory">
                                            <label class="form-check-label">Inventory</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" formControlName="send_to_lab_flag">
                                            <label class="form-check-label">Sent to Lab</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" formControlName="print_on_order">
                                            <label class="form-check-label">Print on Order</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-sm-4">
                                    <label>Procedure Code</label>                                                        
                                    <p-autoComplete  [suggestions]="filteredProcedures"
                                    (completeMethod)="filterProcedures($event)" field="Name" dataKey="Id"
                                    formControlName="procedure_code"  (click)="selectPocedureData($event)"
                                    [minLength]="1" [dropdown]="true" >
                                    <ng-template let-procedure pTemplate="item">
                                        <div class="ui-helper-clearfix">
                                            <div>{{procedure.Name}}</div>
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Modifier</label>
                                    <p-dropdown [options]="" [style]="{'width':'100%'}" formControlName="modifier_id"></p-dropdown>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Min Qty</label>
                                    <input name="Minqty" type="text" (keypress)="numberOnly($event)" formControlName="min_qty"
                                        class="form-control">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Max Qty</label>
                                    <input formControlName="max_qty" (keypress)="numberOnly($event)" name="Maxqty" type="text"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-3">
                                    <label>Structure</label>
                                    <select class="form-control" formControlName="structure_id">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let Structure of StructureDropData" [ngValue]="Structure.Id">{{Structure.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Commission Type</label>
                                    <select class="form-control" formControlName="commission_type_id">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">{{Type.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Amount</label>
                                    <input type="text" class="form-control" formControlName="amount">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Gross %</label>
                                    <input type="text" class="form-control" formControlName="gross_percentage">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Spiff</label>
                                    <input type="text" class="form-control" formControlName="spiff">
                                </div>
                                <div class="col-md-12">
                                    <label>Images</label>
                                    <div class="row form-row" formArrayName="imagesList">
                                        <div class="col-sm-4" *ngFor="let item of this.othersForm.get('imagesList')['controls'];  let i=index"
                                            [formGroupName]="i">
                                            <figure class="frame-add">
                                                <img class="img-preview" alt="" [src]="item['controls'].Image.value" />
                                                <button class="btn btn-primary btn-sm img-delete" (click)="deleteImage(i)">
                                                    <i class="ti-trash"></i>
                                                </button>
                                            </figure>
                                        </div>
                                        <div class="col-sm-4">
                                            <figure class="frame-add">
                                                <div class="d-flex align-items-center justify-content-center h-100 w-100">
                                                    <div class="btn-fileupload p-5">
                                                        <span><i class="ti-plus"></i></span>
                                                        <input type='file' (change)="add($event)" accept="image/*"
                                                            multiple>
                                                    </div>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="notes">Notes</label>
                                    <textarea class="form-control" rows="3" formControlName="notes"></textarea>
                                </div>
                            </div>
                        </p-tabPanel>

                        <p-tabPanel header="Locations">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="locations" class="ecl-table ecl-ptable" [scrollable]="true"
                                            [style]="{width:'800px'}" scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Cost</th>
                                                    <th>Purchased</th>
                                                    <th>Sold</th>
                                                    <th>On Hand</th>
                                                    <th>On Order</th>
                                                    <th>Committed</th>
                                                    <th>Reorder Point</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-location>
                                                <tr>
                                                    <td>{{location.name}}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>


                        </p-tabPanel>
                        <!-- <p-tabPanel header="Transactions">
                        <div class="row form-row">
                            <div class="form-group col-md-1  ">
                                <label class="label-empty"></label>
                                <h5>Filter</h5>
                            </div>
                            <div class="form-group col-md-5  ">
                                <label>Location</label>                               
                                    <select class="form-control" >
                                        <option [ngValue]="null">Select Location</option>
                                        <option *ngFor="let location of locations" [ngValue]="location.Id">{{location.Name}}</option>
                                    </select>                                
                            </div>
                            <div class="form-group col-md-6">
                                <label class="label-empty"></label>
                                <p-radioButton name="filter" value="Transactions" label="Transactions"></p-radioButton>
                                <p-radioButton class=" ml-2" name="filter" value="Sales" label="Sales"></p-radioButton>
                            </div>
                        </div>
                        <div class="clearfix form-group"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <p-table [value]="locations" class="ecl-table ecl-ptable" [scrollable]="true" [style]="{width:'1300px'}" scrollHeight="55vh">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Location</th>
                                                <th>Date Received</th>
                                                <th>Transactions Type</th>
                                                <th>Quantity Supplier</th>
                                                <th>Shipment Id</th>
                                                <th>Invoice No</th>
                                                <th>PO</th>
                                                <th>Employee</th>
                                                <th>Notes</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-location>
                                            <tr>
                                                <td>{{location.name}}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel> -->
                        <p-tabPanel header="Transactions">
                            <div class="row form-row">

                                <div class="form-group col-md-1  ">
                                    <label class="label-empty"></label>
                                    <label>Filter</label>
                                </div>
                                <div class="form-group col-md-5  ">
                                    <label>Location</label>
                                    <select class="form-control" formControlName="locationid" (change)="filterTransactionOnLocationBased()">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let location of locations" [ngValue]="location.id">{{location.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="label-empty"></label>
                                    <p-radioButton name="filter" value="Transactions" label="Transactions" (click)="trasactionApi()"></p-radioButton>
                                    <p-radioButton class=" ml-2" name="filter" value="Sales" label="Sales" (click)="salesApi()"></p-radioButton>
                                </div>
                            </div>
                            <div class="clearfix form-group"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="transacctionStockDetails" class="ecl-table ecl-ptable"
                                            [scrollable]="true" [style]="{width:'2000px'}" scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Date Received</th>
                                                    <th>Transactions Type</th>
                                                    <th>Quantity</th>
                                                    <th>Supplier</th>
                                                    <th>Shipment Id</th>
                                                    <th>Invoice No.</th>
                                                    <th>PO</th>
                                                    <th>Employee</th>
                                                    <th>Notes</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-transacctionStockDetails>
                                                <tr>
                                                    <!-- <td>{{transacctionStockDetails.loc_id}} </td> -->
                                                    <td>{{this.utility.getArrayItem({data:locations,matchWith:'id',matchValue:transacctionStockDetails.loc_id,position:1,dataType:'int'})}}
                                                        </td>
                                                    <td>{{transacctionStockDetails.inventory_receive.receive_date | date : 'yyyy-MM-dd'}}</td>
                                                    <td>{{transacctionStockDetails.trans_type}}</td>
                                                    <td>{{transacctionStockDetails.stock}}</td>
                                                    <!-- <td>{{transacctionStockDetails.supplierid}}</td> -->
                                                    <td>{{this.utility.getArrayItem({data:suppliers,matchWith:'Id',matchValue:transacctionStockDetails.supplierid,position:1,dataType:'string'})}}
                                                    <td>{{transacctionStockDetails.shipmentid}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.invoice}}</td>
                                                    <td>{{transacctionStockDetails.po_no}}</td>
                                                    <td>{{transacctionStockDetails.operator_id}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.notes}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="clearfix">
                <button type="button" class="btn btn-secondary float-right" (click)="cancelotherinventory()">Cancel</button>
                <button type="button" class="btn btn-primary float-right" (click)="saveotherinventory()" [disabled]="!formDir.form.valid">Save</button>

                <!-- <button type="button" class="btn btn-primary float-right">Transfer...</button>
            <button type="button" class="btn btn-primary float-right">Details...</button> -->
                <div *ngIf="transactionsBtnHide">
                    <button class="btn btn-primary float-right"> Details</button>
                    <button class="btn btn-primary float-right" (click)="addOtherTransaction()"> Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Add Other Inventory Transaction -->
<div *ngIf="addOtherInvTransaction">
    <p-sidebar [(visible)]="addOtherInvTransaction" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-add-other-inventory-transaction (OtherTransactionoutput)="OtherTransevent($event)"></app-add-other-inventory-transaction>
    </p-sidebar>
</div>