<div class="card">
    <div class="card-header">Select Procedure Codes</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="row form-row">
                    <div class="form-group col-sm-6">
                        <label>Search</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="label-empty"></label>
                        <p-radioButton name="groupname" value="val1" label="Filter"></p-radioButton>
                        <p-radioButton name="groupname" value="val1" label="Find"></p-radioButton>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <div class="table-responsive">
                        <p-table [value]="procedureCodeGrid" class="ecl-table ecl-ptable" [paginator]="true"
                        [rows]="15" [scrollable]="true" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="single">
                           <ng-template pTemplate="header">
                               <tr>
                                  
                                   <th>Id</th>
                                   <th>Procedure Code</th>
                                   <th>Description</th>

                               </tr>
                           </ng-template>
                           <ng-template pTemplate="body" let-procedureCodeGrid>
                               <tr [pSelectableRow]="procedureCodeGrid" (dblclick)="DoubleClickCpt(procedureCodeGrid)">
                                   <td>{{procedureCodeGrid.cpt_fee_id}}</td>
                                   <td>{{procedureCodeGrid.cpt_prac_code}}</td>
                                   <td>{{procedureCodeGrid.cpt_desc}}</td>
                                  
                               </tr>
                           </ng-template>
                       </p-table>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" (click)="onCancleClick()"> Cancel </button>
            <button type="button" class="btn btn-primary float-right" (click)="onOkClick()"> Ok </button>
        </div>
    </div>
</div>