<form>
    <div class="card order-other-discount">
        <div class="card-header">Check-out Payment</div>
        <div class="card-body">
            <h4>Payout Details</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-light-grey p-3 mb-4">
                        <h5>Payment Type</h5>
                        <div class="row form-row">
                            <div class="form-group col-sm-2">
                                <p-radioButton name="orderfilter" value="Order (Patient)" label="Order (Patient)"></p-radioButton>
                            </div>
                            <div class="form-group col-sm-2">
                                <p-radioButton name="orderfilter" value="Write-Off" label="Write-Off"></p-radioButton>
                            </div>
                            <div class="form-group col-sm-2">
                                <p-radioButton name="orderfilter" value="Refund (Patient)" label="Refund (Patient)"></p-radioButton>
                            </div>
                            <div class="form-group col-sm-2">
                                <p-radioButton name="orderfilter" value="Account (Patient)" label="Account (Patient)"></p-radioButton>
                            </div>
                            <div class="form-group col-sm-2">
                                <p-radioButton name="orderfilter" value="Transfer" label="Transfer"></p-radioButton>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="d-block">Type</label>
                                <div class="row form-row">
                                    <div class="col-sm-4">
                                        <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                                    </div>
                                    <div class="col-sm-4">
                                        <p-checkbox name="groupname" value="Print" label="Print"></p-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row form-row">
                        <div class="form-group col-sm-3">
                            <label> Payment Amount</label>
                            <div class="form-control border-0 p-0">
                                <p-spinner></p-spinner>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Cash tendered </label>
                            <input type="text" class="form-control" placeholder="0.00">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Change Due </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Min. Payment </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="form-group col-sm-3">
                            <label>Date </label>
                            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Employee </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-6">
                            <label> Method</label>
                            <div class="d-flex justify-content-between">
                                <div class="col p-0">
                                    <p-radioButton name="method" value="Cash" label="Cash"></p-radioButton>
                                </div>
                                <div class="col p-0">
                                    <p-radioButton name="method" value="Check" label="Check"></p-radioButton>
                                </div>
                                <div class="col p-0">
                                    <p-radioButton name="method" value="Visa" label="Visa"></p-radioButton>
                                </div>
                                <div class="col p-0">
                                    <p-radioButton name="method" value="MC" label="MC"></p-radioButton>
                                </div>
                                <div class="col p-0">
                                    <p-radioButton name="method" value="Amex" label="Amex"></p-radioButton>
                                </div>
                                <div class="col-sm-4 p-0">
                                    <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="form-group col-sm-3">
                            <label> Credit Card #</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Expiry mmyy </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Check # </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Reason </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="form-group col-sm-3">
                            <label> Insurance</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Description </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Payment Location </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label>Notes</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Order Items Allocation</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Charges</th>
                                    <th>Patient Due</th>
                                    <th>Insurance Due</th>
                                    <th>Payments VCode</th>
                                    <th>Allocation</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <h5>Unapplied Balance: 0.0</h5>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">OK</button>
            <button type="button" class="btn btn-primary float-right">Auto-Allocate</button>
            <button type="button" class="btn btn-primary float-right">Swipe</button>
            <button type="button" class="btn btn-primary float-right">Reprint</button>
        </div>
    </div>
</form>