<form id=serachspectacles [formGroup]="AdvanceSpectacleForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Advanced Filter</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-row">
                        <div class="form-group col-sm-6">
                            <label>ID</label>
                            <input type="text" class="form-control" formControlName="id">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Manufacturer</label>
                            <select class="form-control" formControlName="manufacturer_id">
                                <!-- <option [ngValue]="null">Select Manufacturer</option> -->
                                <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                            </select>
                            <!-- <select name="" id="" class="form-control"></select> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label>Lens Type</label>
                            <select class="form-control" formControlName="type_id">
                                <option *ngFor="let style of styles" [ngValue]="style.Id">{{style.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Material</label>
                            <select class="form-control" formControlName="material_id">
                                <option *ngFor="let mater of MaterialListDropDown" [ngValue]="mater.Id">{{mater.Name}}
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Design</label>
                            <input type="text" class="form-control" readonly="true">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>UPC</label>
                            <input type="text" class="form-control" formControlName="upc_code">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="clearfix">
                <button type="submit" class="btn btn-primary float-right" (click)="advanceSearch()">OK</button>
                <button type="button" class="btn btn-primary float-right" (click)="clearAll()">Clear All</button>
                <div class="form-group float-left mt-2">
                    <p-checkbox name="Checkmeout" value="Contains" label="Contains"></p-checkbox>
                </div>
            </div>

        </div>
    </div>
</form>