<div class="col-md-12">
    <div class="form-row">
        <div class="col-md-4">
            <table class="table ecl-table-exam">
                <thead>
                    <tr class="text-nowrap">
                        <th></th>
                        <th>Sphere</th>
                        <th>Cylinder</th>
                        <th>Axis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="light-pink">
                        <td>
                            <b>OD</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td>
                            <b>OS</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table ecl-table-exam">
                <thead>
                    <tr class="text-nowrap">
                        <th>Present Vertex Dist</th>
                        <th>New Vertex Dist</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4">
            <table class="table ecl-table-exam">
                <thead>
                    <tr class="text-nowrap">
                        <th></th>
                        <th colspan="3">New Lens Powers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="light-pink">
                        <td>
                            <b>OD</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr class="light-blue">
                        <td>
                            <b>OS</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>
                        <td>
                            <div> <input type="text" class="form-control"> </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table ecl-table-exam">
                <thead>
                    <tr class="text-nowrap">
                        <th></th>
                        <th>Spherical Equivalent Of New Lens</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="light-pink">
                        <td>
                            <b>OD</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>

                    </tr>
                    <tr class="light-blue">
                        <td>
                            <b>OS</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" class="form-control">
                            </div>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>