<!-- Advanced Filter Sidevar -->
<form id=addCommissionStructure [formGroup]="commissionForm" #formDir="ngForm" novalidate>
  <div class="card">
    <div class="card-header">Add/Modify Structure</div>


    <div class="card-body">
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Structure Name
          <span class="text-danger" *ngIf="commissionForm.controls['structure_name'].hasError('required')">
            *</span>
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="structure_name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Commission Type
          <span class="text-danger" *ngIf="commissionForm.controls['commissiontype_id'].hasError('required')">
            *</span>
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="commissiontype_id">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-8 col-form-label">Gross Percentage</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="gross_percentage">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-8 col-form-label">Amount</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="amount">
        </div>
      </div>
      <div class="card-body-subheader">
        <h3>Margin</h3>
      </div>
      <div class="form-group row">
        <label class="col-sm-8 col-form-label">Percentage Before</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="margin_percentage_before">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-8 col-form-label">Percentage After</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="margin_percentage_after">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-8 col-form-label">Margin Amount</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="margin_percentage_amount">
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label class="col-sm-8 col-form-label">Spiff
          <span class="text-danger" *ngIf="commissionForm.controls['spiff'].hasError('required')">
            *</span>
        </label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="spiff">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <form class="form-inline float-right">
        <button type="button" class="btn btn-default" (click)="cancelData()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveCommissionDetails()"
          [disabled]="!formDir.form.valid">Ok</button>
      </form>
    </div>
  </div>
</form>