<div class="card">
    <div class="card-header">Add to All</div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-12">
                <h5>Select location to include</h5>
                <p-table [value]="locations">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="check-box"></th>
                            <th>Name</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-locations let-i="rowIndex">
                        <tr>
                            <td class="check-box">
                                <p-checkbox [ngModel]="locations.Check" (onChange)="GetLocations(locations.Check = $event,$event)" binary="true" [disabled]='locations.Enable'></p-checkbox>
                            </td>

                            <td>
                                <!-- <input disabled='locations.Enable' type="checkbox" [(ngModel)]="locations.Enable"> (onChange)="GetLocations(locations.Check = $event)" (onChange)="GetLocations($event,locations.Id)"  -->
                                {{locations.Name}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- <p-table [value]="locations">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of cols">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-locations>
                            <tr>
                                   
                                <td *ngFor="let col of cols">   
                                        <p-checkbox [(ngModel)]="locations.Check" binary="true" [disabled]='locations.Enable' ></p-checkbox>                                   
                                         {{locations[col.field]}} 
                                </td>
                            </tr>
                        </ng-template>
                    </p-table> -->
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" [disabled]='SaveEnable' (click)="saveLocations()">Save</button>
            <button type="button" class="btn btn-default float-right" (click)="locationClose()">Cancel </button>
        </div>
    </div>
</div>