<form action="">
  <div class="card">
    <div class="card-header">Trace File View</div>
    <div class="card-body">
      <pre> {{traceFileView}}</pre>
    </div>
    <div class="card-footer">

    </div>
  </div>
</form>