<div class="card" [formGroup]="AdvanceSearchLensTreatmentForm">
    <div class="card-header">Advanced Filter</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row form-row">
                    <!-- <div class="form-group col-sm-6">
                        <label>Location</label>
                        <select class="form-control" formControlName="loc_id"  readonly='true'>
                               
                                <option [disabled]='true' *ngFor="let location of locations" [ngValue]="location.Id">{{location.Name}}</option>
                            </select>
                    </div> -->
                    <div class="form-group col-sm-6">
                        <label>ID</label>
                        <input type="text" formControlName="Id"   class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Code</label>
                        <input type="text" formControlName="code"  readonly='true' class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Category</label>
                        <select formControlName="categories" name="categories"  class="form-control" >                     
                        <option *ngFor="let lens of LensTreatments" [value]="lens.Id">{{lens.Name}}</option>
                        </select>
                        <!-- <input type="text" class="form-control"> -->
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Name</label>
                        <input type="text" formControlName="Name"    class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>On Hand</label>
                        <input type="text" class="form-control" formControlName="onHand" readonly='true' >
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Retail Price</label>
                        <input type="text" class="form-control" formControlName="retailPrice" readonly='true'>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>UPC</label>
                        <input type="text" class="form-control" formControlName="upc">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" (click)="advanceLensTreatmentSearch()" >OK</button>
            <button type="button" class="btn btn-secondary float-right"  (click)="Clear()">Clear All</button>
            <div class="form-group form-check float-left">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Contains</label>
            </div>
        </div>
    </div>
</div>