<form id=addspectacles [formGroup]="SpectaclesForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Add/Modify Spectacle Lens</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview" (onChange)="onSpectacleLensTabsClick($event)">
                        <p-tabPanel header="Spectacle Lens Details">
                            <div class="row form-row">
                                <div class="form-group col-sm-4  ">
                                    <label>VSP Code</label>
                                    <input type="text" formControlName="vsp_code" class="form-control">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-sm-3">
                                    <label>Style</label>
                                    <select class="form-control" formControlName="type_id">
                                        <option *ngFor="let style of styles" [ngValue]="style.Id">{{style.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Material

                                        <!-- <span class="text-danger" *ngIf="SpectaclesForm.hasError('required', 'name')">
                                            *</span>
                                    </label>
                                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->

                                        <select class="form-control" formControlName="material_id">
                                            <option *ngFor="let material of MaterialListDropDown" [ngValue]="material.Id">{{material.Name}}</option>
                                        </select>
                                    </label>

                                </div>

                                <div class="form-group col-sm-2">
                                    <label class="label-empty"></label>
                                    <p-radioButton class="mr-2" name="od" value="OD" formControlName="eye_type" label="OD"></p-radioButton>
                                    <p-radioButton class="mr-2" name="od" formControlName="eye_type" value="OS" label="OS"></p-radioButton>
                                    <p-radioButton class="mr-2" name="od" formControlName="eye_type" value="OU" label="OU"></p-radioButton>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Unit</label>
                                    <select name="Unit" class="form-control" formControlName="unitmeasure">
                                        <option *ngFor="let unit of units" [ngValue]="unit.id">{{unit.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>UPC
                                        <span class="text-danger" *ngIf="SpectaclesForm.controls['upc_code'].hasError('required')">
                                            *</span>
                                    </label>
                                    <input type="text" class="form-control" formControlName="upc_code" [readonly]='upcdisable' (keypress)="keyPress($event)"  maxlength=14>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Lens <span class="text-danger" *ngIf="SpectaclesForm.controls['name'].hasError('required')">*</span></label>
                                    <input type="text" class="form-control" formControlName="name">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label-empty">Pricing</label>
                                    <p-radioButton name="retails" value="Retail" formControlName="pricing_type" label="Retail">
                                        
                                    </p-radioButton>
                                    <p-radioButton class=" ml-4" name="retails" formControlName="pricing_type" value="RetailGrid"
                                        label="Retail + Grid"></p-radioButton>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Pricing Grid</label>
                                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Retail</label>
                                    <input type="text" class="form-control" (input)="profitcalculate();"
                                        formControlName="retail_price" (keypress)="numberOnly($event)">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Cost</label>
                                    <input type="text" (input)="profitcalculate();" formControlName="wholesale_cost" class="form-control"
                                     (keypress)="numberOnly($event)">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Profit</label>
                                    <input type="text" formControlName="profit" class="form-control" (keypress)="numberOnly($event)">
                                </div>

                                <div class="form-group col-sm-3">

                                    <label>Manufacturer
                                        <span class="text-danger" *ngIf="SpectaclesForm.controls[ 'manufacturer_id'].hasError('required')">
                                            * </span>
                                    </label>
                                    <select class="form-control" formControlName="manufacturer_id">
                                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                                    </select>


                                    <!-- <label>manufacturer</label>
                                <input type="text" class="form-control"> -->
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Color</label>
                                    <select class="form-control" (change)="oncolorchange($event)" formControlName="colorid">
                                        <option *ngFor="let col of colors" [ngValue]="col.Id">{{col.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Color Code</label>
                                    <input type="text" class="form-control" formControlName="color_code" [readonly]='true'>
                                    <!-- <input type="text" [readonly]="true" formControlName="colorCode"> -->
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Lab</label>
                                    <select class="form-control" formControlName="lab_id">
                                            <!-- <option [ngValue]="null">Select Lab</option> -->
                                        <option *ngFor="let lens of lensLab" [ngValue]="lens.Id">{{lens.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label class="label-empty" for=""></label>

                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" formControlName="returnable_flag">
                                            <label class="form-check-label">Returnable</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" formControlName="inventory">
                                            <label class="form-check-label">Inventory</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Min Qty</label>
                                    <input type="text" name="MinQty" (keypress)="numberOnly($event)" formControlName="min_qty"
                                        class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Max Qty</label>
                                    <input type="text" name="Maxqty" (keypress)="numberOnly($event)" formControlName="max_qty"
                                        class="form-control">
                                </div>
                                <div class="form-group col-sm-3">

                                    <label>Supplier</label>
                                    <select class="form-control" formControlName="vendor_id">
                                            <option [ngValue]="null">Select Supplier</option>
                                        <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                                    </select>



                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Max Add Power</label>
                                    <input type="text" formControlName="max_add_size" class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Add</label>
                                    <input type="text" formControlName="addd" class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Max Diameter</label>
                                    <input type="text" formControlName="diameter" class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Oversized Diameter</label>
                                    <input type="text" formControlName="oversize_diameter_charge" class="form-control">
                                </div>

                                <div class="form-group col-sm-3">
                                    <label>Sphere</label>
                                    <input type="text" formControlName="sphere" class="form-control">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Cylinder</label>
                                    <input type="text" formControlName="cylinder" class="form-control">
                                </div>

                                <div class="form-group col-sm-2">
                                    <label>Base Curve</label>
                                    <input type="text" formControlName="bc" class="form-control">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Min Ht</label>
                                    <input type="text" formControlName="min_ht" class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Valid Range</label>
                                    <div class="input-group mb-2">
                                        <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                                        <div class="input-group-append">
                                            <button class="btn btn-space">
                                                <i class="ti-more-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Structure</label>
                                    <select class="form-control" formControlName="structure_id">
                                        
                                            <option *ngFor="let Structure of StructureDropData" [ngValue]="Structure.Id">{{Structure.Name}}</option>
                                        </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Comm Type</label>
                                    <select class="form-control" formControlName="commission_type_id">
                                            <!-- <option [ngValue]="null">Select Commission Type</option> -->
                                            <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">{{Type.Name}}</option>
                                        </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Amount</label>
                                    <input type="text" class="form-control"  formControlName="amount">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Gross %</label>
                                    <input type="text" class="form-control" formControlName="gross_percentage">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Spiff</label>
                                    <input type="text" class="form-control" formControlName="spiff">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="notes">Notes</label>
                                    <textarea class="form-control" rows="3" id="notes" formControlName="notes"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <table class="table table-bordered" formArrayName="procedureCodes">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Procedure</th>
                                                    <th>Retail</th>
                                                    <th>Code</th>
                                                    <th class="text-center">
                                                        <a (click)="add()">
                                                            <i class="ti-plus"></i>
                                                        </a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of this.SpectaclesForm.get('procedureCodes')['controls'];  let i=index"  [formGroupName]="i">
                                                    <td>
                                                        <button class="btn" type="button" (click)="procedureCodeClick(i)">
                                                            <i class="ti-more"></i>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="procedure_desc" readonly="true">
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" formControlName="retailprice">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="procedure_code" readonly="true">
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="color-red" *ngIf="SpectaclesForm.controls.procedureCodes.controls.length > 1" (click)="removeLanguage(i)">
                                                            <i class="ti-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                                <div class="col-sm-4">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>OPC</th>
                                                <th class="text-center">
                                                    <a>
                                                        <i class="ti-plus"></i>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <a class="color-red">
                                                        <i class="ti-close"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </p-tabPanel>

                        <p-tabPanel header="Locations">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                            <p-table [value]="locationGridData" class="ecl-table" [scrollable]="true"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Purchased</th>
                                                    <th>Sold</th>
                                                    <th>On Hand</th>
                                                    <th>Tax 1</th>
                                                    <th>Tax 2</th>
                                                    <th>On Order</th>
                                                    <th>Committed</th>
                                                    <th>Reorder Point</th>
                                                    <th>Max Inventory</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-locationGridData let-i="rowIndex">
                                                <tr>
                                                    <!-- <td>{{locationGridData.loc_id}}</td> -->
                                                    <td>{{this.utility.getArrayItem({data:locations,matchWith:'id',matchValue:locationGridData.loc_id,position:1,dataType:'int'})}}
                                                    </td>
                                                    <td>{{locationGridData.quantitypurchased}}</td>
                                                    <td>{{locationGridData.quantitysold}}</td>
                                                    <td>{{locationGridData.stock}}</td>
                                                    <td> 
                                                         <select class="form-control" (change)="tax1Change(i,taxDropdown[$event.target.selectedIndex])" >
                                                            <option *ngFor="let tax of taxDropdown" 
                                                            [selected]="tax.Id == locationGridData.taxid"  [ngValue]="tax.Id">{{tax.name}}</option>
                                                        </select>    
                                                    </td>
                                                    <td>
                                                         <select class="form-control" (change)="tax2Change(i,taxDropdown[$event.target.selectedIndex])" >
                                                            <option *ngFor="let tax of taxDropdown" 
                                                            [selected]="tax.Id == locationGridData.taxid2"  [ngValue]="tax.Id">{{tax.name}}</option>
                                                        </select>
                                                    </td>
                                                    <td>{{locationGridData.on_order_qty}}</td>
                                                    <td>{{locationGridData.committed_qty}}</td>
                                                    <td>{{locationGridData.reorder_point}}</td>
                                                    <td>{{locationGridData.max_inventory_qty}}</td>
                                                </tr>
                                                
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Transactions">
                            <div class="row form-row">
                                <div class="form-group col-md-5  ">
                                    <label>Location</label>
                                    <select class="form-control" formControlName="LocationId" (change)="filterTransactionOnLocationBased()">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let location of locations" [ngValue]="location.id">{{location.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="label-empty"></label>
                                    <p-radioButton name="filter" value="Transactions" label="Transactions" (click)="trasactionApi()"></p-radioButton>
                                    <p-radioButton class=" ml-2" name="filter" value="Sales" label="Sales" (click)="salesApi()"></p-radioButton>
                                </div>
                            </div>
                            <div class="clearfix form-group"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="transacctionStockDetails" class="ecl-table ecl-ptable" [scrollable]="true"
                                            [style]="{width:'2000px'}" scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Date Received</th>
                                                    <th>Transactions Type</th>
                                                    <th>Quantity</th>
                                                    <th>Supplier</th>
                                                    <th>Shipment Id</th>
                                                    <th>Invoice No.</th>
                                                    <th>PO</th>
                                                    <th>Employee</th>
                                                    <th>Notes</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-transacctionStockDetails>
                                                <tr>
                                                    <!-- <td>{{transacctionStockDetails.loc_id}} </td> -->
                                                    <td>{{this.utility.getArrayItem({data:locations,matchWith:'id',matchValue:transacctionStockDetails.loc_id,position:1,dataType:'int'})}}
     
                                                    </td>
                                                    <td>{{transacctionStockDetails.inventory_receive.receive_date | date : 'yyyy-MM-dd'}}</td>
                                                    <td>{{transacctionStockDetails.trans_type}}</td>
                                                    <td>{{transacctionStockDetails.stock}}</td>
                                                    <!-- <td>{{transacctionStockDetails.supplierid}}</td> -->
                                                    <td>{{this.utility.getArrayItem({data:suppliers,matchWith:'Id',matchValue:transacctionStockDetails.supplierid,position:1,dataType:'string'})}}
                                                    </td>
                                                    <td>{{transacctionStockDetails.shipmentid}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.invoice}}</td>
                                                    <td>{{transacctionStockDetails.po_no}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.employee_name}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.notes}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Configurations">
                            <div class="row form-row">
                                <!-- <div class="form-group col-md-1">
                                    <label class="label-empty"></label>
                                    <h4>Filter</h4>
                                </div> -->
                                <div class="form-group col-md-5  ">
                                    <label>Location</label>
                                    <select class="form-control" formControlName="LocationId">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let location of locations" [ngValue]="location.id">{{location.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix form-group"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="SpecConfigurations" class="ecl-table" [scrollable]="true" [style]="{width:'2000px'}"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>UPC</th>
                                                    <th>Sphere</th>
                                                    <th>Cylinder</th>
                                                    <th>Add Power</th>
                                                    <th>Diameter</th>
                                                    <th>Base Curve </th>
                                                    <th>Cost</th>
                                                    <th>On-Hand</th>
                                                    <th>On Order Qty</th>
                                                    <th> Sold</th>
                                                    <th>Purchased</th>
                                                    <th>Reorder Point</th>
                                                    <th>Max Inventory</th>
                                                    <th>Inactive</th>
                                                    <th>Notes</th>
                                                    <th>VSP Code</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-SpecConfigurations>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Treatments">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="treatmentslist" class="ecl-table" [scrollable]="true"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th class="text-center">Include</th>
                                                    <th class="text-center">Available</th>
                                                    <th>Category</th>
                                                    <th>Name</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-treatmentslist>
                                                <tr>

                                                    <td class="text-center">
                                                        <p-checkbox  [ngModel]="treatmentslist.includebool" binary="true" 
                                                        (onChange)="checkunchecktreatmentsevent(treatmentslist,$event,i,'include')" 
                                                        [ngModelOptions]="{standalone: true}"></p-checkbox>  </td>
                                                    <td class="text-center">
                                                        <p-checkbox  [ngModel]="treatmentslist.Availablebool" binary="true"
                                                         (onChange)="checkunchecktreatmentsevent(treatmentslist,$event,i,'available')"
                                                          [ngModelOptions]="{standalone: true}"></p-checkbox> </td>

                                                        <td>{{treatmentslist.Category}}</td>
                                                    <td>{{treatmentslist.Name}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Measurements">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="measurmentsslist" class="ecl-table" [scrollable]="true"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Measurements</th>
                                                    <th class="text-center">Required</th>
                                                    <th class="text-center">Available</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-measurmentsslist>
                                                <tr>
                                                    <td>{{measurmentsslist.measurementname}} </td>
                                                    <td class="text-center">
                                                        <p-checkbox  [ngModel]="measurmentsslist.requiredbool" binary="true" (onChange)="checkunchekevent(measurmentsslist,$event,i,'required')" [ngModelOptions]="{standalone: true}"></p-checkbox>  </td>
                                                    <td class="text-center">
                                                        <p-checkbox  [ngModel]="measurmentsslist.Availablebool" binary="true" (onChange)="checkunchekevent(measurmentsslist,$event,i,'available')" [ngModelOptions]="{standalone: true}"></p-checkbox> </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="clearfix">
                <button type="button" class=" btn btn-secondary float-right" (click)="closeAddModifyer()">Cancel</button>
                <button type="button" class="btn btn-primary float-right" (click)="saveformdata()" [disabled]="!formDir.form.valid">Save</button>
                <button type="button" class="btn btn-primary float-right">Unlink</button>
                <button type="button" class="btn btn-primary float-right" >Link</button>
                <div *ngIf="transactionsBtnHide">
                    <button class="btn btn-primary float-right" type="button"> Details</button>
                    <button class="btn btn-primary float-right" type="button" (click)="addSpectacleLensTransaction()"> Add</button>
                </div>
                <div *ngIf="configBtnHide">
                    <button class="btn btn-primary float-right" type="button" (click)="clickOnInvTransfer()"> Transfer</button>
                    <button class="btn btn-primary float-right" type="button"> Delete</button>
                    <button class="btn btn-primary float-right" type="button"> Add</button>
                </div>
            </div>
        </div>

    </div>
</form>

<!-- Payment search Order -->
<div *ngIf="addProcedureCodeSidebar">
    <p-sidebar [(visible)]="addProcedureCodeSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-select-procedure-code (procedureData)="procedurResult($event)"></app-select-procedure-code>
    </p-sidebar>
</div>

<!-- Add Spectacle Lens Inventory Transaction -->
<div *ngIf="addSpectacleLensInvTransaction">
    <p-sidebar [(visible)]="addSpectacleLensInvTransaction" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-add-spectaclelens-inventory-transaction (SpecatcleTransOutput)="SpectacletransEvent($event)"></app-add-spectaclelens-inventory-transaction>
    </p-sidebar>
</div>

<!-- Inventory Transfer -->
<div *ngIf="inventoryTransfer">
    <p-sidebar [(visible)]="inventoryTransfer" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-inventory-transfer></app-inventory-transfer>
    </p-sidebar>
</div>