/* You can add global styles to this file, and also import other style files */
@import"~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import"https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"; */
/* @import"https://fonts.googleapis.com/icon?family=Material+Icons"; */

body, a, h4 {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.ecl-order-content h4,
.mat-table,
.mat-header-cell,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: "Open Sans", "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
    color: #222;
}
 
.patient-alert-popup .ui-dialog-titlebar {
    margin-bottom: 0 !important;
}

/* .ui-button-icon-only .ui-button-text, .ui-button-text-empty .ui-button-text {
    padding: 0.38em !important;
} */

/* .ui-autocomplete .ui-button .ui-button-text {
    background-color: #ffae50;
    border-color: #F39529;
} */
