<nav class="ecl-subnavbar border-top">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-3 float-left navbar-title">
            <h2>Vision Prescription</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-9">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="ti-plus"></i> Add New Rx</a>
                <ul class="more dropdown-menu">
                    <li class="nav-item" (click)="addSpectacleLensRxSidebar = true">
                        <a class="nav-link">Spectacle Lens</a>
                    </li>
                    <li class="nav-item" (click)="addSoftContactRxSidebar = true">
                        <a class="nav-link">Soft Contact Lens</a>
                    </li>
                    <li class="nav-item" (click)="addHardContactRxSidebar = true">
                        <a class="nav-link">Hard Contact Lens</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="icon-edit"></i> Modify
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-files"></i> Copy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-file"></i> Letters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-trash"></i> Delete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-printer"></i> Print</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-email"></i> E-mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-printer"></i> Fax</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <p-checkbox name="groupname" value="Show In-House Only" label="Show In-House Only"
                        [(ngModel)]="selectedValues" (onChange)="handleData($event)"></p-checkbox>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12 mt-3">
    <div class="m-auto">
        <p-accordion [multiple]="true">
            <p-accordionTab header="Vision Rx" [selected]="true">
                <p-table #dt class="OD-OS-table" [value]="visionRxGridData" [columns]="lensRxValues" [scrollable]="true"
                    [rows]="11" [paginator]="true" [resizableColumns]="true" [reorderableColumns]="true"
                    (onRowSelect)="onRowSelect($event)" [responsive]="true" selectionMode="single"
                    [style]="{width:'100%'}" scrollHeight="65vh">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width:50px">
                            <col style="width:150px">
                            <col style="width:120px">
                            <col style="width:120px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:120px">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th  rowspan="2">
                                <!-- <p-checkbox name="groupname" value="val1"></p-checkbox> -->
                            </th>
                            <th> Prescription Type </th>
                            <th> Physician </th>
                            <th rowspan="2"> Description </th>
                            <th rowspan="2">Balance</th>
                            <th rowspan="2">Sphere</th>
                            <th rowspan="2"> Cylinder </th>
                            <th rowspan="2"> Axis </th>
                            <th rowspan="2"> Add </th>
                            <th rowspan="2"> H Prism </th>
                            <th rowspan="2"> H Base </th>
                            <th rowspan="2"> V Prism</th>
                            <th rowspan="2"> V Base</th>
                            <th rowspan="2"> Di </th>
                            <th rowspan="2">Multifocal</th>
                            <th rowspan="2">Notes</th>
                            <th rowspan="2"></th>
                            <!-- <th *ngFor="let col of servicesdata" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th> -->
                        </tr>
                        <tr>
                            <th> Usage </th>
                            <th> Rx Date </th>
                        </tr>
                        <!-- <tr>
                    <th *ngFor="let col of servicesdata" [ngSwitch]="col.field">
                        <span *ngSwitchCase="'Type1'" id=""></span>
                        <input *ngSwitchCase="'Type'" id="ItemId" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Date'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Description'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Cylinder'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Axis'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Add'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Prism'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Base'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Prism 2'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Base 2'" class="form-control" pInputText type="text">
                    </th>
                </tr> -->
                    </ng-template>
                    <ng-template let-i="rowIndex" pTemplate="body" let-type>
                        <div>

                        </div>
                        <tr>
                            <td rowspan="2" class="check-box">
                                <p-checkbox name="groupname" value="val1" ></p-checkbox>
                            </td>
                            <td class="border-0">{{type.rxtype}}</td>
                            <td> {{type.physician}}</td>
                            <td rowspan="2"> {{type.description}}</td>
                            <td class="light-pink">{{type.balance_od}}</td>
                            <td class="light-pink">{{type.sphere_od}}</td>
                            <td class="light-pink">{{type.cylinder_od}}</td>
                            <td class="light-pink">{{type.axis_od}}</td>
                            <td class="light-pink">{{type.add_od}}</td>
                            <td class="light-pink">{{type.prism1_od}}</td>
                            <td class="light-pink">{{type.base1_od}}</td>
                            <td class="light-pink">{{type.prism2_od}}</td>
                            <td class="light-pink">{{type.base2_od}}</td>
                            <td class="light-pink">{{type.di_od}}</td>
                            <td rowspan="2">{{type.multifocal}}</td>
                            <td rowspan="2">{{type.notes}}</td>
                            <td rowspan="2">
                                <button class="btn btn-primary btn-sm" (click)="orderNowWithExistingRx(i)">Order
                                    Now</button>
                            </td>
                        </tr>
                        <tr>
                            <td>{{type.usage}}</td>
                            <td>{{type.rxdate}}</td>
                            <td class="light-blue">{{type.balance_os}}</td>
                            <td class="light-blue">{{type.sphere_od}}</td>
                            <td class="light-blue">{{type.cylinder_os}}</td>
                            <td class="light-blue">{{type.axis_os}}</td>
                            <td class="light-blue">{{type.add_os}}</td>
                            <td class="light-blue">{{type.prism1_os}}</td>
                            <td class="light-blue">{{type.base1_os}}</td>
                            <td class="light-blue">{{type.prism2_os}}</td>
                            <td class="light-blue">{{type.base2_os}}</td>
                            <td class="light-blue">{{type.di_os}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>
            <!-- <p-accordionTab header="In-House Rx">
                Content 2
            </p-accordionTab> -->
        </p-accordion>
    </div>
</div>

<!-- Add New Rx -->
<p-sidebar [(visible)]="addSpectacleLensRxSidebar" position="right" [baseZIndex]="10000"
    class="ecl-sidebar ecl-sidebar-w70">
    <app-add-spectacle-lens-rx> </app-add-spectacle-lens-rx>
</p-sidebar>
<p-sidebar [(visible)]="addSoftContactRxSidebar" position="right" [baseZIndex]="10000"
    class="ecl-sidebar ecl-sidebar-w70">
    <app-add-soft-contact-rx></app-add-soft-contact-rx>
</p-sidebar>

<p-sidebar [(visible)]="addHardContactRxSidebar" position="right" [baseZIndex]="10000"
    class="ecl-sidebar ecl-sidebar-w80">
    <app-add-hard-contact-rx></app-add-hard-contact-rx>
</p-sidebar>