<div class="card" >
    <div class="card-header">Advanced Filter</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row form-row">
                    <div class="form-group col-sm-6">
                        <label>Id</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Location</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="location"></p-dropdown>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Code</label>
                        <input type="text"  class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Category</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="category"></p-dropdown>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Name</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="name"></p-dropdown>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Retail Price</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>UPC</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="UPC"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" >OK</button>
            <button type="button" class="btn btn-secondary float-right" >Clear All</button>
            <div class="form-group form-check float-left">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Contains</label>
            </div>
        </div>
    </div>
</div>