<div class="card">
    <div class="card-header">Lens On Demand Import</div>
    <div class="card-body">
        <div class="row form-row">
            <div class="form-group col-md-5">
                <label>Supplier</label>
                <select class="form-control">
                    <option [ngValue]="null">Select Supplier</option>
                    <!-- <option *ngFor="let location of locations" [ngValue]="location.Id">{{location.Name}}</option> -->
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <p-table [columns]="headers" [value]="gridlists"  [scrollable]="true" scrollHeight="55vh">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="check-box">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-list let-columns="columns">
                            <tr>
                                <td class="check-box">
                                    <p-tableCheckbox [value]="list"></p-tableCheckbox>
                                </td>
                                <td *ngFor="let col of columns">
                                    {{list[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-default float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">Deselect All</button>
            <button type="button" class="btn btn-primary float-right">Select All</button>
            <button type="button" class="btn btn-primary float-right">Invert Select</button>
            <button type="button" class="btn btn-primary float-right">Import</button>
        </div>
    </div>
</div>