 <div class="col-sm-12">
                        <div class="text-right">
                          <button type="button" class="blubutton"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Charge item</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="chrgtable">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th colspan="2" align="center" scope="col">Date(s) of Service</th>
                                <th width="10%" rowspan="2" align="center" scope="col">Place of Service</th>
                                <th width="4%"  rowspan="2" align="center" scope="col">EMG</th>
                                <th colspan="2" align="center" scope="col">Proc. Serv. or Suppliers</th>
                                <th width="10%" rowspan="2" align="center"  scope="col">Diagnosis Code</th>
                                <th width="6%" rowspan="2" align="center"  scope="col">Charges </th>
                                <th width="8%" rowspan="2" align="center"  scope="col">Days or Units</th>
                                <th width="5%" rowspan="2" align="center"  scope="col">EPSDT</th>
                                <th width="6%" rowspan="2" align="center"  scope="col">ID. Qual.</th>
                                <th width="14%" rowspan="2" align="center"  scope="col">Rendering Provider ID #</th>
                                <th width="8%" rowspan="2" align="center"  scope="col">Description</th>
                              </tr>
                              <tr>
                                <th width="6%" align="center"  scope="col">From</th>
                                <th width="6%" align="center"  scope="col">To</th>
                                <th width="7%" align="center"  scope="col">CPT/HCPCS</th>
                                <th width="10%" align="center"  scope="col">Modifier  1   2    3   4</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-sm-6 mt-2 mb-2">
                        <div class="claimstatus">
                          <div class="ml-3 mr-3 pl-3 pr-3">
                            <div class="row">
                              <div class="col-sm-6">
                                <label for=" ">Claim Status</label>
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="">
                                  <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <label for=" ">Total Charges</label>
                                <input type="text" class="form-control"  placeholder="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-sm-12">
                        <div class=" pl-3 pr-3">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="box">
                                <div class="boxhead">
                                  <h2>Accounting</h2>
                                </div>
                                <div class="clearfix"></div>
                                <div class="pl-3 pr-3">
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <label for="">Amount Paid</label>
                                      <input type="text" class="form-control"  placeholder="">
                                    </div>
                                    <div class="col-sm-6">
                                      <label for="">Reserved for NUCC use</label>
                                      <input type="text" class="form-control"  placeholder="">
                                    </div>
                                    <div class="col-sm-6">
                                      <label for="">Created</label>
                                      <select class="form-control minimal" >
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                    <div class="col-sm-6">
                                      <label for="">Hold date</label>
                                      <select class="form-control minimal" >
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                    <div class="col-sm-12">
                                      <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Submitted</label>
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <label for="">Date submitted</label>
                                      <select class="form-control minimal" >
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                    <div class="col-sm-6">
                                      <label for="">Date Paid</label>
                                      <select class="form-control minimal" >
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="box">
                                <div class="boxhead">
                                  <h2>Diagnosis</h2>
                                </div>
                                <div class="clearfix"></div>
                                <div class="m-3">
                                  <div class="row diag">
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">A</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">B</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">C</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">D</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">E</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">F</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">G</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">H</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">I</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">J</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">k</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="input-group ">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">L</div>
                                        </div>
                                        <input type="" class="form-control"   placeholder="">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="box">
                          <div class="boxhead">
                            <h2>Order Accounting</h2>
                          </div>
                          <div class="clearfix"></div>
                          <div class="m-3 order-account">
                            <ul>
                              <li>
                                <label>Total Balance</label>
                                <input type="text" class="form-control"  placeholder="">
                              </li>
                              <li>
                                <label>Pt. Responsibility</label>
                                <input type="text" class="form-control"  placeholder="">
                              </li>
                              <li>
                                <label>Pat. Paid</label>
                                <input type="text" class="form-control"  placeholder="">
                              </li>
                              <li>
                                <label>Pat. Balance</label>
                                <input type="text" class="form-control"  placeholder="">
                              </li>
                              <li>
                                <label>Ins. Responsible </label>
                                <input type="text" class="form-control"  placeholder="">
                              </li>
                              <li>
                                <label>Ins. Paid</label>
                                <input type="text" class="form-control"  placeholder="">
                              </li>
                              <li>
                                <label>Ins. Balance</label>
                                <input type="text" class="form-control"  placeholder="">
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="text-center mt-2 mb-2">
                        <button type="button" class="orgbutton ">Submit</button>
                      </div>
